workflows/1. BACKUP WORKFLOW LÊN GITHUB.json
{"createdAt":"2025-06-02T03:31:05.200Z","updatedAt":"2025-06-02T03:56:12.000Z","id":"sYKSYehSIC8eMp4y","name":"1. BACKUP WORKFLOW LÊN GITHUB","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"name":"GitHub","type":"n8n-nodes-base.github","position":[-100,500],"typeVersion":1,"alwaysOutputData":true,"id":"b6bdc6c7-d4b0-4adf-b993-80825d07b533","webhookId":"31886b56-83f2-44ff-ada2-cf2b62a11651","credentials":{"githubApi":{"id":"dOaasjGBNoH4FrJ0","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"c02cf43c-19aa-40b3-98ab-a2aa7c22a27b","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[100,560]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","leftValue":"={{ $json.content }}","rightValue":"={{ $('Loop Over Items2').item.json.toJsonString() }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"ada3afb6-a3cc-4009-9f77-ca87837f61b8","name":"If1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,540]},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"54dcd61f-6218-40a5-be24-58e04d947fff","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[340,540]},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items2').item.json.name }}.json","fileContent":"={{ $('Loop Over Items2').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items2').item.json.name }}.json"},"name":"Create new file and commit","type":"n8n-nodes-base.github","position":[340,720],"typeVersion":1,"id":"079b3e2e-3ff9-40ed-aa06-f535ca38dced","webhookId":"8491fde6-8f34-4d5b-9b68-1f6206cc779e","credentials":{"githubApi":{"id":"dOaasjGBNoH4FrJ0","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items2').item.json.name }}.json","fileContent":"={{ $('Loop Over Items2').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items2').item.json.name }}.json"},"name":"Update file content and commit","type":"n8n-nodes-base.github","position":[860,720],"typeVersion":1,"id":"7c2c65e8-0975-4c33-a9b6-b2c202f578f6","webhookId":"e08d3b22-5d7c-4d08-bd6f-79f52c11760c","credentials":{"githubApi":{"id":"dOaasjGBNoH4FrJ0","name":"GitHub account"}}},{"parameters":{"options":{}},"id":"a9a3561d-502e-4979-b22b-86a9c5666d29","name":"Loop Over Items2","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-340,480],"executeOnce":false},{"parameters":{"filters":{},"requestOptions":{}},"id":"6a153c0e-b093-4251-99f5-cc0d6387e2f1","name":"n8n","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[100,280],"credentials":{"n8nApi":{"id":"L8UvGpcBeV2ZsrJe","name":"n8n account"}}},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"hoangtiny"},{"name":"repo.name","value":"n8n-backup-restore"},{"name":"repo.path","value":"workflows/"}]},"options":{}},"name":"Globals","type":"n8n-nodes-base.set","position":[-100,280],"typeVersion":1,"id":"8cd18f9e-66ae-4d8d-955a-b4050955a43f"},{"parameters":{"content":"https://www.youtube.com/channel/UCIhrU-hkXylBKX8MRaN_2iA/\nBase on shashikanth's work","height":80,"width":300,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[720,960],"id":"14fd9606-46c5-4d36-940e-7af281dad843","name":"Sticky Note"},{"parameters":{"content":"# BACKUP WORKFLOW LÊN GITHUB","height":80,"width":660},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"683e2788-3cd8-4abe-947d-be4b73337995","name":"Sticky Note1"},{"parameters":{"rule":{"interval":[{"triggerAtHour":1}]}},"id":"b558c59a-c82e-4d67-8395-6b77b77f1388","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-340,280]},{"parameters":{"content":"## Edit this node 👇\nrepo.owner = id github count\nrepo.name = github repo name","height":100,"width":270,"color":4},"id":"0d5af703-e6f9-4e82-b46d-6f0cef5f0361","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-260,160],"typeVersion":1}],"connections":{"GitHub":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Create new file and commit","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update file content and commit","type":"main","index":0}],[{"node":"Loop Over Items2","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"Create new file and commit":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Update file content and commit":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"GitHub","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"91225568-d599-472e-a831-e44bee5111ec","triggerCount":1,"tags":[]}