workflows/3. KHÔI PHỤC Workflow + Credentials từ GITHUB.json
{"createdAt":"2025-05-16T02:21:46.018Z","updatedAt":"2025-05-16T02:34:08.000Z","id":"uJ2gGWGjvpyVXyN5","name":"3. KHÔI PHỤC Workflow + Credentials từ GITHUB","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"175ad156-23f8-4c4a-ab9d-544d6464b720","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[1860,300],"typeVersion":1,"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"6cf546c5-5737-4dbd-851b-17d68e0a3780","name":"repo.owner","type":"string","value":"your-github-account"},{"id":"452efa28-2dc6-4ea3-a7a2-c35d100d0382","name":"repo.name","type":"string","value":"your-github-n8n-repo"},{"id":"81c4dc54-86bf-4432-a23f-22c7ea831e74","name":"repo.path","type":"string","value":"credentials"}]},"options":{}},"id":"f52172c2-30c9-4aec-88da-f34dd204b1b7","name":"Globals","type":"n8n-nodes-base.set","position":[2100,300],"typeVersion":3.4,"disabled":true},{"parameters":{"content":"## Edit this node 👇\nrepo.owner = id github count\nrepo.name = github repo name","height":100,"width":270,"color":4},"id":"6014c08e-707b-4da6-9866-1bbfff92e499","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1920,180],"typeVersion":1,"disabled":true},{"parameters":{"url":"=https://api.github.com/repos/{{ $json.repo.owner }}/{{ $json.repo.name }}/contents/{{ $json.repo.path }}","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","options":{}},"id":"81854b02-f800-4ea5-b748-d6e8870c1ae7","name":"Get all files in given path","type":"n8n-nodes-base.httpRequest","position":[2320,300],"typeVersion":4.2,"credentials":{"githubApi":{"id":"VTDsh4703epiglOO","name":"GitHub account"}},"disabled":true},{"parameters":{"fieldToSplitOut":"path","options":{}},"id":"e0fa0ad5-7e09-4203-94ff-2a5008c34863","name":"Split the result","type":"n8n-nodes-base.splitOut","position":[1860,520],"typeVersion":1,"disabled":true},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"={{ $('Globals').item.json.repo.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Globals').item.json.repo.name }}","mode":"name"},"filePath":"={{ $('Get all files in given path').item.json.path }}","additionalParameters":{}},"id":"42b9ac7c-3e9d-43d3-96a1-334c60ac5c38","name":"Get file content from GitHub","type":"n8n-nodes-base.github","position":[2100,520],"typeVersion":1,"alwaysOutputData":true,"webhookId":"5728564b-f59a-490c-b6f1-7f4be50f0e12","credentials":{"githubApi":{"id":"VTDsh4703epiglOO","name":"GitHub account"}},"disabled":true},{"parameters":{"operation":"fromJson","options":{}},"id":"382beb17-921b-4266-9e01-86d2b39b9f2b","name":"Convert files to JSON","type":"n8n-nodes-base.extractFromFile","position":[2320,520],"typeVersion":1,"disabled":true},{"parameters":{"resource":"credential","name":"={{ $json.data.name }}","credentialTypeName":"={{ $json.data.type }}","data":"={{ JSON.stringify($json.data.data) }}","requestOptions":{}},"id":"2dcaf80b-5385-49ab-aafc-5b188e4c240f","name":"Restore n8n Credentials","type":"n8n-nodes-base.n8n","position":[2140,800],"typeVersion":1,"credentials":{"n8nApi":{"id":"Y4m85QQz8op9ALA2","name":"n8n account"}},"disabled":true},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"ad031296-4ac0-4087-bc35-7975a2cc25e6","operator":{"type":"object","operation":"empty","singleValue":true},"leftValue":"={{ $json.data }}","rightValue":""},{"id":"ca912a57-6a4b-4b9a-be0e-37b69d3e4917","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $json.data.name }}","rightValue":"n8n account"},{"id":"f7c08cc3-e796-4451-8b63-cf8fa8a7b530","leftValue":"={{ $json.data.name }}","rightValue":"GitHub account","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"id":"4451a98a-c8c9-4414-aef9-b5acf086bb12","name":"Check for skipped Credentials","type":"n8n-nodes-base.if","position":[1860,780],"typeVersion":2.2,"disabled":true},{"parameters":{"content":"https://www.youtube.com/channel/UCIhrU-hkXylBKX8MRaN_2iA/\nBase on bangank36's & agentstudio's work","height":80,"width":320,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2260,980],"id":"b3790d30-c054-480c-aa35-6f4ba6ff5500","name":"Sticky Note"},{"parameters":{"content":"# KHÔI PHỤC CREDENTIALS TỪ GITHUB","height":80,"width":680},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1820,0],"id":"b7746a2e-b9be-4b45-b992-0300021e472e","name":"Sticky Note1"},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"063d51c7-0b7a-48a4-82b3-76b370fc4265","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $('Merge Github and n8n workflows - Keep only non existing workflows based on the name').item.json.name }}","rightValue":""}]},"options":{}},"id":"9e36eed0-3fa0-43c2-9d8d-f082d5ee073d","name":"If workflow already exists","type":"n8n-nodes-base.if","position":[1140,340],"typeVersion":2},{"parameters":{"assignments":{"assignments":[{"id":"6be8c184-8fb7-47a9-ad42-d0dc3db1eea4","name":"name","type":"string","value":"={{ $json.name }}"}]},"options":{}},"id":"a9f09b99-6c6c-46fd-801c-5126035567a0","name":"Set n8n existing workflows names","type":"n8n-nodes-base.set","position":[600,460],"typeVersion":3.3},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"mode":"name","value":"={{$node[\"Globals1\"].json[\"repo\"][\"owner\"]}}"},"repository":{"__rl":true,"mode":"name","value":"={{$node[\"Globals1\"].json[\"repo\"][\"name\"]}}"},"filePath":"={{$node[\"Globals1\"].json[\"repo\"][\"path\"]}}"},"id":"f8388dd5-f969-496b-b6c4-476c18efa50c","name":"GitHub - get all files","type":"n8n-nodes-base.github","position":[0,120],"typeVersion":1,"webhookId":"58e87881-1bd0-41ee-a4c3-9cd684981342","credentials":{"githubApi":{"id":"VTDsh4703epiglOO","name":"GitHub account"}}},{"parameters":{"filters":{},"requestOptions":{}},"id":"940adc19-4eae-4c76-b5ac-1297f578accb","name":"n8n - get all workflows","type":"n8n-nodes-base.n8n","position":[-220,460],"typeVersion":1,"credentials":{"n8nApi":{"id":"Y4m85QQz8op9ALA2","name":"n8n account"}}},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $json.repo.owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $json.repo.name }}"},"filePath":"={{ $json.path }}","asBinaryProperty":false,"additionalParameters":{}},"id":"d0946a16-199f-4f47-b717-5167cb06b996","name":"GitHub - get each file","type":"n8n-nodes-base.github","position":[420,240],"typeVersion":1,"webhookId":"2263f591-2168-4ca3-b0e6-1cc1204ebb2e","credentials":{"githubApi":{"id":"VTDsh4703epiglOO","name":"GitHub account"}}},{"parameters":{"assignments":{"assignments":[{"id":"714b0cfd-9f06-4e2f-b73d-30ef39dc40e3","name":"content","type":"string","value":"={{ $json.content.base64Decode() }}"},{"id":"6f48ed58-d55a-4ee4-8cf2-373941aaa341","name":"name","type":"string","value":"={{ $json.name.replace(\".json\", \"\") }}"}]},"options":{}},"id":"0044d21c-edad-4307-adbb-afabba702092","name":"Set name and content","type":"n8n-nodes-base.set","position":[620,240],"typeVersion":3.3},{"parameters":{"operation":"create","workflowObject":"={{ $('Set name and content').item.json.content }}","requestOptions":{}},"id":"cac3b6c4-70e5-4545-bfbc-510b709ee731","name":"n8n - create workflow","type":"n8n-nodes-base.n8n","position":[1460,320],"typeVersion":1,"credentials":{"n8nApi":{"id":"Y4m85QQz8op9ALA2","name":"n8n account"}}},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"0dcf2807-32a1-4612-ac81-87a6a89c1485","name":"Merge globals and files","type":"n8n-nodes-base.merge","position":[220,240],"typeVersion":2.1},{"parameters":{"mode":"combine","mergeByFields":{"values":[{"field1":"name","field2":"name"}]},"joinMode":"keepNonMatches","outputDataFrom":"input1","options":{}},"id":"2db1ec16-ed85-4604-9846-ed6d1c8e3430","name":"Merge Github and n8n workflows - Keep only non existing workflows based on the name","type":"n8n-nodes-base.merge","position":[920,340],"typeVersion":2.1,"alwaysOutputData":true},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"hoangtiny"},{"name":"repo.name","value":"n8n-backup-restore"},{"name":"repo.path","value":"workflows"}]},"options":{}},"id":"244a1bd5-016f-4eb0-ac63-8d8b1c648a4c","name":"Globals1","type":"n8n-nodes-base.set","position":[-220,260],"typeVersion":1},{"parameters":{"rule":{"interval":[{"field":"months"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-600,360],"id":"0e1836f2-395b-4746-9ea4-33e3ee2ed300","name":"Schedule Trigger"},{"parameters":{"content":"# KHÔI PHỤC WORKFLOW TỪ GITHUB","height":80,"width":640},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"3a29fb47-7f8e-481c-90bd-46bee85c874a","name":"Sticky Note2"},{"parameters":{"content":"## Edit this node 👇\nrepo.owner = id github count\nrepo.name = github repo name","height":100,"width":310,"color":4},"id":"803f61e7-ff70-4a38-969a-23b0b64d7e28","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-400,140],"typeVersion":1,"disabled":true}],"connections":{"Globals":{"main":[[{"node":"Get all files in given path","type":"main","index":0}]]},"Split the result":{"main":[[{"node":"Get file content from GitHub","type":"main","index":0}]]},"Convert files to JSON":{"main":[[{"node":"Check for skipped Credentials","type":"main","index":0}]]},"Get all files in given path":{"main":[[{"node":"Split the result","type":"main","index":0}]]},"Get file content from GitHub":{"main":[[{"node":"Convert files to JSON","type":"main","index":0}]]},"Check for skipped Credentials":{"main":[[],[{"node":"Restore n8n Credentials","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Set name and content":{"main":[[{"node":"Merge Github and n8n workflows - Keep only non existing workflows based on the name","type":"main","index":0}]]},"GitHub - get all files":{"main":[[{"node":"Merge globals and files","type":"main","index":0}]]},"GitHub - get each file":{"main":[[{"node":"Set name and content","type":"main","index":0}]]},"Merge globals and files":{"main":[[{"node":"GitHub - get each file","type":"main","index":0}]]},"n8n - get all workflows":{"main":[[{"node":"Set n8n existing workflows names","type":"main","index":0}]]},"If workflow already exists":{"main":[[{"node":"n8n - create workflow","type":"main","index":0}]]},"Set n8n existing workflows names":{"main":[[{"node":"Merge Github and n8n workflows - Keep only non existing workflows based on the name","type":"main","index":1}]]},"Merge Github and n8n workflows - Keep only non existing workflows based on the name":{"main":[[{"node":"If workflow already exists","type":"main","index":0}]]},"Globals1":{"main":[[{"node":"GitHub - get all files","type":"main","index":0},{"node":"Merge globals and files","type":"main","index":1}]]},"Schedule Trigger":{"main":[[{"node":"Globals1","type":"main","index":0},{"node":"n8n - get all workflows","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f7f98bbc-4de2-4865-90c5-38b7a9c4d055","triggerCount":0,"tags":[]}