workflows/[FB] Quản lý bài viết.json
{"createdAt":"2025-05-16T01:58:35.214Z","updatedAt":"2025-05-16T02:37:39.000Z","id":"BHIxOvPZYsLzRGK3","name":"[FB] Quản lý bài viết","active":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"995f4bef-e899-42b5-a30f-f8d85aa76221","name":"access_token","value":"","type":"string"},{"id":"60a401d9-57f2-4f41-8739-e262367288a4","name":"page_id","value":"","type":"string"},{"id":"22e7fe25-0fef-4419-b2c4-8af581403ba6","name":"text_format_preset_id","value":"248623902401250","type":"string"},{"id":"2bd7fe90-dd38-478a-bff8-a4d19b4c5089","name":"url_drive","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[760,880],"id":"4346edd4-2caf-4e8e-afdb-acf0efc64693","name":"Set Var"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $json.page_id }}/feed","sendQuery":true,"queryParameters":{"parameters":[{"name":"message","value":"=Xin chào, post test"},{"name":"access_token","value":"={{ $json.access_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2200,0],"id":"200b22e8-cf85-42f4-b83c-7a251f80efc2","name":"Feed Post Text Only"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.url_drive }}","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[940,420],"id":"559be1ea-19e8-4d8f-af64-9ce33feba619","name":"Dowload Single Photo","credentials":{"googleDriveOAuth2Api":{"id":"c47dFBjjvUWBnNOV","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e9ed794d-54ad-4e59-a021-649dee1c7d82","name":"urls","value":"={{ $json.url_drive.split(\"\\n\") }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,640],"id":"aa440338-c9a9-48a9-a9ac-e82fc6c2f961","name":"Convert Array"},{"parameters":{"fieldToSplitOut":"urls","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1320,640],"id":"1672e916-03af-4a2c-a9af-4310bb106839","name":"Split Out"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.urls }}","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1540,640],"id":"d73c11e8-d603-4409-9b78-8258dffad46b","name":"Dowload Lần Lượt","credentials":{"googleDriveOAuth2Api":{"id":"c47dFBjjvUWBnNOV","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"b9565927-0581-4d8e-9c31-1e3e2c1c8ebc","name":"media_fbid","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1980,640],"id":"cd4efcbc-90a5-4ff7-bc62-2c7766cce2b4","name":"Get Media FBID"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"=all","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2180,640],"id":"66642129-703c-4be8-ade6-89455063ac8f","name":"Aggregate"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"={{ $json.page_id }}","edge":"photos","sendBinaryData":true,"binaryPropertyName":"data","options":{"queryParameters":{"parameter":[{"name":"message","value":"Xin Chào Việt Nam"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[1380,420],"id":"d867cabd-03bf-47eb-b03c-c35d119ceb8b","name":"Single Post Graph API","credentials":{"facebookGraphApi":{"id":"TwuLne14THMtFwPn","name":"hana store"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"={{ $('Set Var').item.json.page_id }}","edge":"photos","sendBinaryData":true,"binaryPropertyName":"data","options":{"queryParameters":{"parameter":[{"name":"published","value":"false"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[2620,640],"id":"176b69d9-52b2-4e90-aa48-152f4dfb0385","name":"Post Get ID - Not Public","credentials":{"facebookGraphApi":{"id":"TwuLne14THMtFwPn","name":"hana store"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"={{ $('Set Var').item.json.page_id }}","edge":"feed","options":{"queryParameters":{"parameter":[{"name":"message","value":"Đây là post nhiều ảnh"},{"name":"published","value":"true"},{"name":"attached_media","value":"={{ $json.attached_media }}"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[2840,640],"id":"4c9cf457-790b-4208-ba00-0d2a11863169","name":"Public Post & All Img","credentials":{"facebookGraphApi":{"id":"TwuLne14THMtFwPn","name":"hana store"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $('Set Var6').item.json.page_id }}/photos","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"={{ $('Set Var6').item.json.access_token }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"=data","inputDataFieldName":"data"},{"name":"published","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,640],"id":"86141f46-6f3c-4b54-bf43-2a07dc093409","name":"HTTP Post Img Not Public"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $('Set Var6').item.json.page_id }}/feed","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"={{ $('Set Var6').item.json.access_token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"published","value":"true"},{"name":"=message","value":"=Xin chào\n\nTest nhiều hình"},{"name":"=attached_media","value":"={{ $json.all }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2400,640],"id":"0a3e606c-2e8e-4072-939a-81b2fe3bc9dd","name":"HTTP Public Post Imgs"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/{{ $('Set Var').item.json.page_id }}/videos","sendQuery":true,"queryParameters":{"parameters":[{"name":"=access_token","value":"={{ $('Set Var').item.json.access_token }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"=source","inputDataFieldName":"=data"},{"name":"description","value":"=Tiêu đề video hôm nay"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1260,880],"id":"4f2dd293-cb74-4b2e-8871-3d578a825120","name":"Public Video"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set Var').item.json.url_drive }}","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[980,880],"id":"40ca9db7-c272-41de-9091-96a01a6c0594","name":"Dowload Video","retryOnFail":true,"credentials":{"googleDriveOAuth2Api":{"id":"c47dFBjjvUWBnNOV","name":"Google Drive account"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $('Set Var5').item.json.page_id }}/photos","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"={{ $json.access_token }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"=data","inputDataFieldName":"data"},{"parameterType":"=formData","name":"=message","value":"Hello"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1140,420],"id":"7cfc150d-f826-41aa-81ee-0819b51e0f9f","name":"Single Img HTTP"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[540,1120],"id":"2c41b3a0-79be-414e-9f9b-ef5340d8b986","name":"Schedule Trigger","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"995f4bef-e899-42b5-a30f-f8d85aa76221","name":"access_token","value":"","type":"string"},{"id":"60a401d9-57f2-4f41-8739-e262367288a4","name":"page_id","value":"","type":"string"},{"id":"22e7fe25-0fef-4419-b2c4-8af581403ba6","name":"text_format_preset_id","value":"248623902401250","type":"string"},{"id":"2bd7fe90-dd38-478a-bff8-a4d19b4c5089","name":"url_drive","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[760,1120],"id":"c53514d0-c409-4613-8061-713a959091a4","name":"Set Var1"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $json.page_id }}/video_reels","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"={{ $json.access_token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"upload_phase","value":"start"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,1120],"id":"70ac5aaf-0ad1-4da5-8570-e74806b6fd1b","name":"Initial"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set Var1').item.json.url_drive }}","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1180,1120],"id":"cc4751a6-fd65-4b20-a90f-80a6240f6d66","name":"Dowload Reel","credentials":{"googleDriveOAuth2Api":{"id":"c47dFBjjvUWBnNOV","name":"Google Drive account"}}},{"parameters":{"method":"POST","url":"={{ $('Initial').item.json.upload_url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=OAuth {{ $('Set Var1').item.json.access_token }}"},{"name":"offset","value":"0"},{"name":"file_size","value":"={{ parseInt($('Dowload Reel').item.binary.data.fileSize.split(\" \")[0]*100000,10) }}"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1400,1120],"id":"fc7aff72-d9cc-4329-9619-2e3647927fda","name":"Upload Local"},{"parameters":{"url":"=https://graph.facebook.com/v22.0/{{ $('Initial').item.json.video_id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"status"},{"name":"access_token","value":"={{ $('Set Var1').item.json.access_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1620,1120],"id":"ecf7b6e4-2da8-4db2-a0b1-8a3375910e85","name":"Get Status Reel"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2080,1220],"id":"52b99c2f-3307-4dad-b410-dfa45b360cae","name":"Wait","webhookId":"106b7021-878a-4bf4-b8ed-3beec48f6513"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $('Set Var1').item.json.page_id }}/video_reels","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"={{ $('Set Var1').item.json.access_token }}"},{"name":"=video_id","value":"={{ $('Initial').item.json.video_id }}"},{"name":"upload_phase","value":"finish"},{"name":"video_state","value":"PUBLISHED"},{"name":"description","value":"What a beautiful day! #sunnyand72"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2220,1100],"id":"914355c4-ea51-49a8-ac66-254b1b8ca84c","name":"Public"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"667fa6d2-9f2f-40a0-ac1c-5821650b74d5","leftValue":"={{ $json.status.video_status }}","rightValue":"upload_complete","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1840,1120],"id":"457658a8-f443-45f2-96d5-8fe4da7d94f8","name":"If"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[540,640],"id":"8fd79191-b587-441a-9d80-a4982016e1bf","name":"Schedule Trigger1","disabled":true},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[540,880],"id":"ee8e16f6-1003-4883-a226-78fb647595b7","name":"Schedule Trigger2","disabled":true},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[540,420],"id":"2f46f28a-666c-4dfc-abb7-e33ebaf470e1","name":"Schedule Trigger3","disabled":true},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[540,200],"id":"a8d41c8d-cf78-40f8-a61c-91b963c7781a","name":"Schedule Trigger4","disabled":true},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[540,20],"id":"d850fb28-c552-415a-80e8-13152442661d","name":"Schedule Trigger5","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"995f4bef-e899-42b5-a30f-f8d85aa76221","name":"access_token","value":"","type":"string"},{"id":"60a401d9-57f2-4f41-8739-e262367288a4","name":"page_id","value":"","type":"string"},{"id":"22e7fe25-0fef-4419-b2c4-8af581403ba6","name":"text_format_preset_id","value":"248623902401250","type":"string"},{"id":"2bd7fe90-dd38-478a-bff8-a4d19b4c5089","name":"url_drive","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1860,0],"id":"21857b0b-c92a-44f0-8bc0-7569963e5e87","name":"Set Var3"},{"parameters":{"assignments":{"assignments":[{"id":"995f4bef-e899-42b5-a30f-f8d85aa76221","name":"access_token","value":"","type":"string"},{"id":"60a401d9-57f2-4f41-8739-e262367288a4","name":"page_id","value":"","type":"string"},{"id":"22e7fe25-0fef-4419-b2c4-8af581403ba6","name":"text_format_preset_id","value":"248623902401250","type":"string"},{"id":"2bd7fe90-dd38-478a-bff8-a4d19b4c5089","name":"url_drive","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[760,420],"id":"458a6303-aaa3-4e90-be1e-cffcb58774b4","name":"Set Var5"},{"parameters":{"assignments":{"assignments":[{"id":"995f4bef-e899-42b5-a30f-f8d85aa76221","name":"access_token","value":"","type":"string"},{"id":"60a401d9-57f2-4f41-8739-e262367288a4","name":"page_id","value":"","type":"string"},{"id":"22e7fe25-0fef-4419-b2c4-8af581403ba6","name":"text_format_preset_id","value":"248623902401250","type":"string"},{"id":"2bd7fe90-dd38-478a-bff8-a4d19b4c5089","name":"url_drive","value":"=https://drive.google.com/file/d/a\nhttps://drive.google.com/file/d/b\nhttps://drive.google.com/file/d/c","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[760,640],"id":"cbb18e8b-a7b5-4f64-98a1-19342214d7e7","name":"Set Var6"},{"parameters":{"content":"### Chỉ post status","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","position":[1140,20],"typeVersion":1,"id":"0c0cdb55-700f-42fc-bd29-c39892ed1434","name":"Sticky Note"},{"parameters":{"content":"### Post text + background","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","position":[1660,260],"typeVersion":1,"id":"bd962e0c-a669-4989-b960-095df156d66d","name":"Sticky Note1"},{"parameters":{"content":"### Post ảnh đơn","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","position":[1600,420],"typeVersion":1,"id":"9453f60c-6787-4dbf-b5bb-a92b795e8793","name":"Sticky Note2"},{"parameters":{"content":"### Post nhiều ảnh","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","position":[3060,660],"typeVersion":1,"id":"b5b5eb96-2113-4d31-9e49-3261f5d5f583","name":"Sticky Note3"},{"parameters":{"content":"### Post video","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","position":[1620,900],"typeVersion":1,"id":"d72d108a-59ae-4a3d-a646-73bae7121daf","name":"Sticky Note4"},{"parameters":{"content":"### Post reels","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","position":[2440,1120],"typeVersion":1,"id":"162ff041-71cb-43d1-90cb-137079cde194","name":"Sticky Note5"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.url_drive }}","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[940,1400],"id":"0a9835df-46e9-4d1f-aa9c-56bba59bb4fb","name":"Dowload Single Photo1","credentials":{"googleDriveOAuth2Api":{"id":"c47dFBjjvUWBnNOV","name":"Google Drive account"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[540,1400],"id":"5d216549-19b6-4a4e-9073-1be107fc4bc9","name":"Schedule Trigger6","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"995f4bef-e899-42b5-a30f-f8d85aa76221","name":"access_token","value":"","type":"string"},{"id":"60a401d9-57f2-4f41-8739-e262367288a4","name":"page_id","value":"","type":"string"},{"id":"22e7fe25-0fef-4419-b2c4-8af581403ba6","name":"text_format_preset_id","value":"248623902401250","type":"string"},{"id":"2bd7fe90-dd38-478a-bff8-a4d19b4c5089","name":"url_drive","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,1400],"id":"a74d464f-6de1-4b7c-85f5-bf0ceeaf7a37","name":"Set Var7"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $('Set Var7').item.json.page_id }}/photos","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"={{ $('Set Var7').item.json.access_token }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"=data","inputDataFieldName":"data"},{"name":"published","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1160,1400],"id":"fd81b550-be2e-49ea-8f9d-bd3a4a71076b","name":"HTTP Post Img Not Public1"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $('Dowload Single Photo1').item.json.page_id }}/photo_stories","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"={{ $('Set Var7').item.json.access_token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"photo_id","value":"={{ $json.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1380,1400],"id":"332bc667-cd52-45f4-9152-d40ad7f71c3e","name":"Public Story Img"},{"parameters":{"content":"### Post story img","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","position":[1660,1440],"typeVersion":1,"id":"8e15ac4a-2e53-4cf6-a6a5-6df967715452","name":"Sticky Note6"},{"parameters":{"assignments":{"assignments":[{"id":"995f4bef-e899-42b5-a30f-f8d85aa76221","name":"access_token","value":"","type":"string"},{"id":"60a401d9-57f2-4f41-8739-e262367288a4","name":"page_id","value":"","type":"string"},{"id":"22e7fe25-0fef-4419-b2c4-8af581403ba6","name":"text_format_preset_id","value":"248623902401250","type":"string"},{"id":"2bd7fe90-dd38-478a-bff8-a4d19b4c5089","name":"url_drive","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,1620],"id":"ee629823-f533-4655-abf4-b4e548cebecb","name":"Set Var8"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set Var8').item.json.url_drive }}","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1180,1620],"id":"93ac325f-8c17-4c49-8c0f-7810f2d7e34b","name":"Dowload Video2","retryOnFail":true,"credentials":{"googleDriveOAuth2Api":{"id":"c47dFBjjvUWBnNOV","name":"Google Drive account"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $json.page_id }}/video_stories","sendQuery":true,"queryParameters":{"parameters":[{"name":"=upload_phase","value":"=start"},{"name":"access_token","value":"={{ $json.access_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[940,1620],"id":"c762aa12-9fd9-4be6-b8c3-b4518ac9d938","name":"Khởi tạo phiên2"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[520,1620],"id":"38d3bdbe-697c-44f8-8acf-859085f3514c","name":"Schedule Trigger7","disabled":true},{"parameters":{"content":"### Post story video","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","position":[2460,1600],"typeVersion":1,"id":"20340f93-5062-4203-8e10-b1f0a116c7be","name":"Sticky Note7"},{"parameters":{"method":"POST","url":"=https://rupload.facebook.com/video-upload/v22.0/{{ $('Khởi tạo phiên2').item.json.video_id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"={{ $('Set Var8').item.json.access_token }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"offset","value":"0"},{"name":"file_size","value":"={{ parseInt($('Dowload Video2').item.binary.data.fileSize.split(\" \")[0]*100000) }}"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"=data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1400,1620],"id":"ca8244ec-768e-4d7f-99eb-91c110f8f03c","name":"Upload Video Story"},{"parameters":{"url":"=https://graph.facebook.com/v22.0/{{ $('Khởi tạo phiên2').item.json.video_id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"={{ $('Set Var8').item.json.access_token }}"},{"name":"fields","value":"status"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1620,1620],"id":"11c5d6ca-fed6-4c47-8fa8-e0794767b339","name":"Get Status Video Story"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2100,1720],"id":"6ebadd3f-1b78-486f-bf5a-981a3b0c9ff5","name":"Wait1","webhookId":"b8636840-6294-43f7-89d3-4315997342fa"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"667fa6d2-9f2f-40a0-ac1c-5821650b74d5","leftValue":"={{ $json.status.video_status }}","rightValue":"upload_complete","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1860,1620],"id":"3820c0ad-22f6-4799-a016-30f341ccd032","name":"If1"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $('Set Var8').item.json.page_id }}/video_stories","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Set Var8').item.json.access_token }}"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"upload_phase","value":"finish"},{"name":"video_id","value":"={{ $('Dowload Video2').item.json.video_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2240,1600],"id":"28483879-7848-4fcf-a0a4-8d93e302ef54","name":"Public Video Story"},{"parameters":{"content":"## post bài viết FB","height":80,"width":3460},"type":"n8n-nodes-base.stickyNote","position":[-260,-80],"typeVersion":1,"id":"c4066e03-e17e-4d55-9e16-ca3ecaee3deb","name":"Sticky Note10"},{"parameters":{"graphApiVersion":"v22.0","node":"={{ $json.id }}","edge":"feed","options":{}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-800,300],"id":"4b826fdf-abba-4a1c-85f1-7845fc268062","name":"Đọc các Post1","credentials":{"facebookGraphApi":{"id":"TwuLne14THMtFwPn","name":"hana store"}}},{"parameters":{"graphApiVersion":"v22.0","node":"me","options":{}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-980,300],"id":"895f67ae-e681-4a6b-a6d4-845b4721628f","name":"lấy id của fanpage1","credentials":{"facebookGraphApi":{"id":"TwuLne14THMtFwPn","name":"hana store"}}},{"parameters":{"rule":{"interval":[{"field":"months"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1180,300],"id":"a77777c3-916b-49c1-8b23-1e0c91341f74","name":"Schedule Trigger9"},{"parameters":{"fieldToSplitOut":"data","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-600,300],"id":"98166094-8fc3-4b93-af44-45ce0233d368","name":"Split Out6"},{"parameters":{"content":"## Xóa bài viết","height":80,"width":1440},"type":"n8n-nodes-base.stickyNote","position":[-1200,200],"typeVersion":1,"id":"cb308c93-112b-49b6-b6cb-0fd3652ccd9a","name":"Sticky Note11"},{"parameters":{"httpRequestMethod":"DELETE","graphApiVersion":"v22.0","node":"={{ $json.data.id }}","edge":"=","options":{}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-120,320],"id":"711a8b1d-75be-464d-b00f-803c8c71c6a3","name":"xóa bài viết","credentials":{"facebookGraphApi":{"id":"TwuLne14THMtFwPn","name":"hana store"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"me","edge":"feed","options":{"queryParameters":{"parameter":[{"name":"message","value":"Đay là stt"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[760,20],"id":"a83c994a-534e-4277-856a-6353302a03ae","name":"Facebook Graph API3","credentials":{"facebookGraphApi":{"id":"TwuLne14THMtFwPn","name":"hana store"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"me","edge":"photos","options":{"queryParameters":{"parameter":[{"name":"message","value":"Đay là stt"},{"name":"url","value":"https://cdn-media.sforum.vn/storage/app/media/anh-dep-8.jpg"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[760,200],"id":"f2ce8900-c1d7-4012-9bf4-89efea1ab6a7","name":"Facebook Graph API4","credentials":{"facebookGraphApi":{"id":"TwuLne14THMtFwPn","name":"hana store"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-380,300],"id":"42823357-da35-442b-be57-f9a75e16f832","name":"Loop Over Items"}],"connections":{"Set Var":{"main":[[{"node":"Dowload Video","type":"main","index":0}]]},"Dowload Single Photo":{"main":[[{"node":"Single Img HTTP","type":"main","index":0}]]},"Convert Array":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Dowload Lần Lượt","type":"main","index":0}]]},"Dowload Lần Lượt":{"main":[[{"node":"HTTP Post Img Not Public","type":"main","index":0}]]},"Get Media FBID":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"HTTP Public Post Imgs","type":"main","index":0}]]},"HTTP Post Img Not Public":{"main":[[{"node":"Get Media FBID","type":"main","index":0}]]},"Dowload Video":{"main":[[{"node":"Public Video","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set Var1","type":"main","index":0}]]},"Set Var1":{"main":[[{"node":"Initial","type":"main","index":0}]]},"Initial":{"main":[[{"node":"Dowload Reel","type":"main","index":0}]]},"Dowload Reel":{"main":[[{"node":"Upload Local","type":"main","index":0}]]},"Upload Local":{"main":[[{"node":"Get Status Reel","type":"main","index":0}]]},"Get Status Reel":{"main":[[{"node":"If","type":"main","index":0}]]},"Wait":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Public","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Set Var6","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"Set Var","type":"main","index":0}]]},"Schedule Trigger3":{"main":[[{"node":"Set Var5","type":"main","index":0}]]},"Schedule Trigger4":{"main":[[{"node":"Facebook Graph API4","type":"main","index":0}]]},"Schedule Trigger5":{"main":[[{"node":"Facebook Graph API3","type":"main","index":0}]]},"Set Var3":{"main":[[{"node":"Feed Post Text Only","type":"main","index":0}]]},"Set Var5":{"main":[[{"node":"Dowload Single Photo","type":"main","index":0}]]},"Set Var6":{"main":[[{"node":"Convert Array","type":"main","index":0}]]},"Dowload Single Photo1":{"main":[[{"node":"HTTP Post Img Not Public1","type":"main","index":0}]]},"Schedule Trigger6":{"main":[[{"node":"Set Var7","type":"main","index":0}]]},"Set Var7":{"main":[[{"node":"Dowload Single Photo1","type":"main","index":0}]]},"HTTP Post Img Not Public1":{"main":[[{"node":"Public Story Img","type":"main","index":0}]]},"Set Var8":{"main":[[{"node":"Khởi tạo phiên2","type":"main","index":0}]]},"Dowload Video2":{"main":[[{"node":"Upload Video Story","type":"main","index":0}]]},"Khởi tạo phiên2":{"main":[[{"node":"Dowload Video2","type":"main","index":0}]]},"Schedule Trigger7":{"main":[[{"node":"Set Var8","type":"main","index":0}]]},"Upload Video Story":{"main":[[{"node":"Get Status Video Story","type":"main","index":0}]]},"Get Status Video Story":{"main":[[{"node":"If1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Public Video Story","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Đọc các Post1":{"main":[[{"node":"Split Out6","type":"main","index":0}]]},"lấy id của fanpage1":{"main":[[{"node":"Đọc các Post1","type":"main","index":0}]]},"Schedule Trigger9":{"main":[[{"node":"lấy id của fanpage1","type":"main","index":0}]]},"Split Out6":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"xóa bài viết":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"xóa bài viết","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Schedule Trigger7":[{"json":{"timestamp":"2025-05-06T11:58:21.370-04:00","Readable date":"May 6th 2025, 11:58:21 am","Readable time":"11:58:21 am","Day of week":"Tuesday","Year":"2025","Month":"May","Day of month":"06","Hour":"11","Minute":"58","Second":"21","Timezone":"America/New_York (UTC-04:00)"}}],"Schedule Trigger9":[{"json":{"timestamp":"2025-04-21T20:49:41.790+07:00","Readable date":"April 21st 2025, 8:49:41 pm","Readable time":"8:49:41 pm","Day of week":"Monday","Year":"2025","Month":"April","Day of month":"21","Hour":"20","Minute":"49","Second":"41","Timezone":"Asia/Saigon (UTC+07:00)"}}]},"versionId":"50150eb5-fd65-42dc-9dff-1c352b7d6576","triggerCount":0,"tags":[]}