workflows/[FB]bình luận.json
{"createdAt":"2025-05-13T07:39:24.829Z","updatedAt":"2025-05-17T04:24:43.000Z","id":"OLAc8pqMFMNVxKQO","name":"[FB]bình luận","active":true,"nodes":[{"parameters":{"graphApiVersion":"v22.0","node":"={{ $json.id }}","edge":"feed","options":{}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-340,-860],"id":"4ac43275-3707-4c79-8680-b064c14c1006","name":"Đọc các Post","credentials":{"facebookGraphApi":{"id":"TwuLne14THMtFwPn","name":"hana store"}}},{"parameters":{"graphApiVersion":"v22.0","node":"={{ $json.data.id }}","edge":"=comments","options":{}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[40,-860],"id":"859f0bec-5c7a-446f-9d8d-29a4b2de2744","name":"doc comments  bai viet","credentials":{"facebookGraphApi":{"id":"TwuLne14THMtFwPn","name":"hana store"}}},{"parameters":{"graphApiVersion":"v22.0","node":"me","options":{}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-520,-860],"id":"ec0b5194-6ef3-4c45-8515-9533fb259d85","name":"lấy id của fanpage","credentials":{"facebookGraphApi":{"id":"TwuLne14THMtFwPn","name":"hana store"}}},{"parameters":{"documentId":{"__rl":true,"value":"17ce881zuam84D2EB5wYhGtkT2X2TQG_KV_I_om6UXw8","mode":"list","cachedResultName":"Chatbot","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17ce881zuam84D2EB5wYhGtkT2X2TQG_KV_I_om6UXw8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"FDAs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17ce881zuam84D2EB5wYhGtkT2X2TQG_KV_I_om6UXw8/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-280,-300],"id":"8f039798-880d-4bd5-881a-ee2ad151e249","name":"TuVan","credentials":{"googleSheetsOAuth2Api":{"id":"Y0SKNL9dbqz9WqxG","name":"Google Sheets account"}}},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-560,-360],"id":"6aed8977-c589-4571-84ba-5655de8c7c2d","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"lTe5H2STyDQwBdwD","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"rule":{"interval":[{"field":"months"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-800,-860],"id":"066ceac6-1767-4e96-9120-8e4808e2a12a","name":"Schedule Trigger8","disabled":true},{"parameters":{"fieldToSplitOut":"data","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[260,-860],"id":"ad333e62-c12a-4bc6-ae7a-3d2af84f28c3","name":"Split Out3"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"={{ $('lay-du-lieu').item.json.data.id }}","edge":"comments","options":{"queryParametersJson":"={\n  \"message\": \"dạ bạn vui lòng check ib shop nhé ạ\"\n}"}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[200,-680],"id":"d816ee10-2eaa-4ac8-b2d4-0c8bcf646b26","name":"trả lời lại comments khách","credentials":{"facebookGraphApi":{"id":"TwuLne14THMtFwPn","name":"hana store"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[20,-680],"id":"15ae152f-ed71-4862-b0f5-d23aab68670d","name":"Wait3","webhookId":"36aa8cfa-7831-4544-873b-db0dc94d854b"},{"parameters":{"content":"## Xem và trả lời bình luận","height":80,"width":1440},"type":"n8n-nodes-base.stickyNote","position":[-1240,-960],"typeVersion":1,"id":"fbcbebc9-3954-4372-b00c-aceb1b4802f4","name":"Sticky Note8"},{"parameters":{"fieldToSplitOut":"data","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-160,-860],"id":"9f45b55b-b28b-4af4-88df-cb38bbf17fa6","name":"Split Out4"},{"parameters":{"graphApiVersion":"v22.0","node":"={{ $json.id }}","edge":"feed","options":{}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-840,320],"id":"5c151425-6430-4e99-8906-d473e41202a2","name":"Đọc các Post2","credentials":{"facebookGraphApi":{"id":"TwuLne14THMtFwPn","name":"hana store"}}},{"parameters":{"graphApiVersion":"v22.0","node":"me","options":{}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-1020,320],"id":"a6df807c-48ae-4140-8499-cd55e8506da2","name":"lấy id của fanpage2","credentials":{"facebookGraphApi":{"id":"TwuLne14THMtFwPn","name":"hana store"}}},{"parameters":{"rule":{"interval":[{"field":"months"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1220,320],"id":"c1d1c313-8061-4032-93e6-dd95afda838b","name":"Schedule Trigger10","disabled":true},{"parameters":{"fieldToSplitOut":"data","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-640,320],"id":"c31a8082-19b2-445a-97b2-97c7667a6e09","name":"Split Out7"},{"parameters":{"content":"## Xóa bình luận","height":80,"width":1440},"type":"n8n-nodes-base.stickyNote","position":[-1300,220],"typeVersion":1,"id":"4db607e0-9a7d-4d01-b1aa-9fc007c8b6ab","name":"Sticky Note12"},{"parameters":{"fieldToSplitOut":"data","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-240,320],"id":"0b2b0b47-f184-4811-be71-841ce18f6020","name":"Split Out8"},{"parameters":{"graphApiVersion":"v22.0","node":"={{ $json.data.id }}","edge":"=comments","options":{}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-440,320],"id":"afa941ca-a571-4720-96fc-4e26cf1ac996","name":"doc cmt","credentials":{"facebookGraphApi":{"id":"TwuLne14THMtFwPn","name":"hana store"}}},{"parameters":{"httpRequestMethod":"DELETE","graphApiVersion":"v22.0","node":"={{ $json.data.id }}","options":{}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-40,320],"id":"1e68103e-a12e-4f62-8b1c-3aa59bd05131","name":"xóa cmt","credentials":{"facebookGraphApi":{"id":"TwuLne14THMtFwPn","name":"hana store"}}},{"parameters":{"graphApiVersion":"v22.0","node":"={{ $json.id }}","edge":"feed","options":{}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-840,-40],"id":"a6ad44e4-796c-4a57-9aa6-81e37ffe074e","name":"Đọc các Post3","credentials":{"facebookGraphApi":{"id":"TwuLne14THMtFwPn","name":"hana store"}}},{"parameters":{"graphApiVersion":"v22.0","node":"me","options":{}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-1020,-40],"id":"01642c99-ffec-4572-ab8a-81825f40397d","name":"lấy id của fanpage3","credentials":{"facebookGraphApi":{"id":"TwuLne14THMtFwPn","name":"hana store"}}},{"parameters":{"rule":{"interval":[{"field":"months"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1220,-40],"id":"e1a4c4c4-8e8a-48cc-95a8-d87a01ca9ce9","name":"Schedule Trigger11","disabled":true},{"parameters":{"fieldToSplitOut":"data","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-640,-40],"id":"62866d96-bd1c-47d9-8386-a99e2e53f644","name":"Split Out9"},{"parameters":{"content":"## Tự  Bình luận","height":80,"width":1440},"type":"n8n-nodes-base.stickyNote","position":[-1280,-160],"typeVersion":1,"id":"ca7e7932-8eff-4955-8d92-36bb3913cb96","name":"Sticky Note13"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"={{ $('Đọc các Post3').item.json.data[0].id }}","edge":"comments","options":{"queryParameters":{"parameter":[{"name":"message","value":"địa chỉ shop ở đâu ạ"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-460,-40],"id":"e2761533-22d9-4b63-a0f6-f0bc1d62f8fd","name":"bình luận","credentials":{"facebookGraphApi":{"id":"TwuLne14THMtFwPn","name":"hana store"}}},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-640,-620],"id":"0cfeae21-d757-4575-a237-fb15b5d77e4c","name":"lay-du-lieu"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"59c0df54-894a-4517-9557-a6d7574bcb8e","leftValue":"={{ $json.response }}","rightValue":"https","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[780,-480],"id":"7d27a7fa-95ec-4ca5-a436-89e16e75a052","name":"câu trả lời chứa ảnh không1"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"me","edge":"messages","options":{"queryParametersJson":"={\n  \"recipient\":{\n    \"id\":\"{{ $('id-text-KH').first().json.id }}\"\n  },\n  \"message\":{\n    \"attachment\":{\n      \"type\":\"image\", \n      \"payload\":{\n        \"url\":\"{{ $json.response }}\", \n        \"is_reusable\":true\n      }\n    }\n  }\n}"}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[1220,-700],"id":"37eb2d60-c546-45ae-a007-0585fc96b973","name":"Gửi ảnh1","credentials":{"facebookGraphApi":{"id":"TwuLne14THMtFwPn","name":"hana store"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"me","edge":"messages","options":{"queryParametersJson":"={\n  \"recipient\": {\n    \"id\": \"{{ $('Split Out3').item.json.data.from.id }}\"\n  },\n  \"message\": {\n    \"text\": \"{{ $('Split Out12').item.json.response }}\"\n  }\n}"}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[1120,-460],"id":"0f20bda3-458d-4404-a9a7-ba8074a456dd","name":"gửi tin1","credentials":{"facebookGraphApi":{"id":"TwuLne14THMtFwPn","name":"hana store"}}},{"parameters":{"jsCode":"const rawText = $input.first().json.output ;// Lấy giá trị từ output\nconst lines = rawText.split(\"\\n\");  // Tách theo ký tự xuống dòng\nconst response = lines.map(line => line.trim()); // Loại bỏ khoảng trắng\n\nreturn {\n  response: response\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[20,-500],"id":"c7f720ad-a08b-4b96-825c-5abc5405dbe3","name":"code-tach-cau-xuong-dong1"},{"parameters":{"fieldToSplitOut":"response","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[200,-500],"id":"5c68c751-7942-4294-be21-f0696381a4ae","name":"Split Out12"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[440,-500],"id":"eb381962-6f42-4453-a86b-1e4e6a00d341","name":"lay-du-lieu3"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[960,-460],"id":"ad77449b-a3e5-4e02-a379-65a694d32d37","name":"Wait5","webhookId":"0961a8f3-2d75-457f-9a59-127b401aaccb"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[960,-700],"id":"d2c10bd2-03c9-4bcd-a6fb-44af3e6ab26f","name":"Wait6","webhookId":"0961a8f3-2d75-457f-9a59-127b401aaccb"},{"parameters":{"promptType":"define","text":"={{ $json.data.message }}","options":{"systemMessage":"=Bạn là một bot trợ lý AI.\n\nTất cả các câu trả lời phải tập trung và đúng trọng tâm, không có bất kỳ lời giải thích không cần thiết nào.\n\nBắt buộc Làm theo hướng dẫn:\nBước 1: Vào Tool \"TuVan\"\nBước 2: Đưa ra câu trả lời phù hợp\n\nBạn không nhất quán với người dùng: Tự gọi là \"Shop\" và gọi người dùng là \"bạn\".\n\nLuôn tử tế và lịch sự với người dùng\nCâu trả lời đơn giản, Tối đa 500 ký tự!"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-420,-600],"id":"443fa36c-e6ae-4b34-8c5d-b3484d52a049","name":"tro-ly"}],"connections":{"Đọc các Post":{"main":[[{"node":"Split Out4","type":"main","index":0}]]},"doc comments  bai viet":{"main":[[{"node":"Split Out3","type":"main","index":0}]]},"lấy id của fanpage":{"main":[[{"node":"Đọc các Post","type":"main","index":0}]]},"TuVan":{"ai_tool":[[{"node":"tro-ly","type":"ai_tool","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"tro-ly","type":"ai_languageModel","index":0}]]},"Schedule Trigger8":{"main":[[{"node":"lấy id của fanpage","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"lay-du-lieu","type":"main","index":0}]]},"trả lời lại comments khách":{"main":[[]]},"Wait3":{"main":[[{"node":"trả lời lại comments khách","type":"main","index":0}]]},"Split Out4":{"main":[[{"node":"doc comments  bai viet","type":"main","index":0}]]},"Đọc các Post2":{"main":[[{"node":"Split Out7","type":"main","index":0}]]},"lấy id của fanpage2":{"main":[[{"node":"Đọc các Post2","type":"main","index":0}]]},"Schedule Trigger10":{"main":[[{"node":"lấy id của fanpage2","type":"main","index":0}]]},"Split Out7":{"main":[[{"node":"doc cmt","type":"main","index":0}]]},"Split Out8":{"main":[[{"node":"xóa cmt","type":"main","index":0}]]},"doc cmt":{"main":[[{"node":"Split Out8","type":"main","index":0}]]},"Đọc các Post3":{"main":[[{"node":"Split Out9","type":"main","index":0}]]},"lấy id của fanpage3":{"main":[[{"node":"Đọc các Post3","type":"main","index":0}]]},"Schedule Trigger11":{"main":[[{"node":"lấy id của fanpage3","type":"main","index":0}]]},"Split Out9":{"main":[[{"node":"bình luận","type":"main","index":0}]]},"lay-du-lieu":{"main":[[],[{"node":"tro-ly","type":"main","index":0}]]},"câu trả lời chứa ảnh không1":{"main":[[{"node":"Wait6","type":"main","index":0}],[{"node":"Wait5","type":"main","index":0}]]},"Gửi ảnh1":{"main":[[{"node":"lay-du-lieu3","type":"main","index":0}]]},"gửi tin1":{"main":[[{"node":"lay-du-lieu3","type":"main","index":0}]]},"code-tach-cau-xuong-dong1":{"main":[[{"node":"Split Out12","type":"main","index":0}]]},"Split Out12":{"main":[[{"node":"lay-du-lieu3","type":"main","index":0}]]},"lay-du-lieu3":{"main":[[],[{"node":"câu trả lời chứa ảnh không1","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"gửi tin1","type":"main","index":0}]]},"Wait6":{"main":[[{"node":"Gửi ảnh1","type":"main","index":0}]]},"tro-ly":{"main":[[{"node":"code-tach-cau-xuong-dong1","type":"main","index":0},{"node":"Wait3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger8":{"recurrenceRules":[]},"node:Schedule Trigger9":{"recurrenceRules":[]},"node:Schedule Trigger10":{"recurrenceRules":[]},"node:Schedule Trigger11":{"recurrenceRules":[]},"node:Schedule Trigger4":{"recurrenceRules":[]},"node:Schedule Trigger5":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger10":[{"json":{"timestamp":"2025-04-21T20:49:41.790+07:00","Readable date":"April 21st 2025, 8:49:41 pm","Readable time":"8:49:41 pm","Day of week":"Monday","Year":"2025","Month":"April","Day of month":"21","Hour":"20","Minute":"49","Second":"41","Timezone":"Asia/Saigon (UTC+07:00)"}}],"Schedule Trigger11":[{"json":{"timestamp":"2025-04-21T20:49:41.790+07:00","Readable date":"April 21st 2025, 8:49:41 pm","Readable time":"8:49:41 pm","Day of week":"Monday","Year":"2025","Month":"April","Day of month":"21","Hour":"20","Minute":"49","Second":"41","Timezone":"Asia/Saigon (UTC+07:00)"}}],"Schedule Trigger8":[{"json":{"timestamp":"2025-04-21T20:49:41.790+07:00","Readable date":"April 21st 2025, 8:49:41 pm","Readable time":"8:49:41 pm","Day of week":"Monday","Year":"2025","Month":"April","Day of month":"21","Hour":"20","Minute":"49","Second":"41","Timezone":"Asia/Saigon (UTC+07:00)"}}]},"versionId":"01567dac-b969-4dff-97f9-d4ffb0d83bfb","triggerCount":0,"tags":[]}