workflows/cào tin nhắn khách hàng.json
{"createdAt":"2025-06-21T03:24:17.357Z","updatedAt":"2025-06-21T04:55:12.000Z","id":"eYnKr8GVrcmtS8OI","name":"cào tin nhắn khách hàng","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1280,520],"id":"5e3db263-5b49-4e12-930a-6abd49d617ac","name":"When clicking ‘Execute workflow’"},{"parameters":{"graphApiVersion":"v22.0","node":"me","edge":"conversations?limit=25","options":{}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-1040,-100],"id":"c77fac00-ad51-46f3-9588-74c899c0701a","name":"Facebook Graph API","credentials":{"facebookGraphApi":{"id":"h2sjIVg6QTRbNhFe","name":"hâto"}}},{"parameters":{"graphApiVersion":"v22.0","node":"={{ $json.id }}","edge":"=?fields=messages","options":{}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[1140,600],"id":"1bfd7575-c129-4c3f-ab5f-0ecb11cef4d3","name":"Facebook Graph API1","credentials":{"facebookGraphApi":{"id":"h2sjIVg6QTRbNhFe","name":"hâto"}}},{"parameters":{"graphApiVersion":"v22.0","node":"={{ $json.id }}","edge":"=?fields=id,created_time,from,to,message","options":{}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[1760,600],"id":"8a2b0b6b-d24b-4b0d-b07f-d1469273aae2","name":"Facebook Graph API2","credentials":{"facebookGraphApi":{"id":"h2sjIVg6QTRbNhFe","name":"hâto"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1rDb4sfTc2R-dQz7-U_voujs9IlI62QORc4yC-Ahc56E","mode":"list","cachedResultName":"tin nhắn khách gửi tại Hato","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rDb4sfTc2R-dQz7-U_voujs9IlI62QORc4yC-Ahc56E/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Trang tính1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rDb4sfTc2R-dQz7-U_voujs9IlI62QORc4yC-Ahc56E/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Tên khách":"={{ $json.from.name }}","Nội dung":"={{ $json.message }}","Ngày nhắn":"={{ $json.created_time }}"},"matchingColumns":["Tin nhắn"],"schema":[{"id":"Tên khách","displayName":"Tên khách","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ngày nhắn","displayName":"Ngày nhắn","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nội dung","displayName":"Nội dung","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1720,820],"id":"98060eef-7c27-4b02-aa49-04c3265936dd","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"N1JuFYKbntB3uUVa","name":"Google Sheets account"}}},{"parameters":{"fieldToSplitOut":"messages.data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1520,600],"id":"59a8b3d0-260f-47a5-be03-50e58fa94bf5","name":"Split Out1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1940,820],"id":"89fb8c18-4854-4423-84d5-dda80f41671b","name":"Wait","webhookId":"22815978-0a6f-4088-a705-219c1ea3a2ef"},{"parameters":{"batchSize":5,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[860,580],"id":"f19094f4-8f8f-4ed3-8bf4-723e27f15db2","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"27320228-260a-4efd-9f99-9fb9f64f03e5","leftValue":"={{ $json.next }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-580,-100],"id":"1edbee9e-67d3-4cfa-92f5-01e89440cbe7","name":"If"},{"parameters":{"graphApiVersion":"v22.0","node":"me","edge":"=conversations?limit=25&after={{ $json.afterCursor }}","options":{}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-20,-140],"id":"489dfd93-6b67-42ed-b0e9-6708826cb6c1","name":"Facebook Graph API3","credentials":{"facebookGraphApi":{"id":"h2sjIVg6QTRbNhFe","name":"hâto"}}},{"parameters":{"assignments":{"assignments":[{"id":"66e876a1-11ee-4817-b44e-85caf27190b3","name":"next","value":"={{ $json.paging.next }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-820,-100],"id":"50843eda-2892-40c9-a453-250665e8876b","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-300,-280],"id":"c74d01a6-e69d-4bd1-8a53-fcfe4d36a1f4","name":"Merge"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"27320228-260a-4efd-9f99-9fb9f64f03e5","leftValue":"={{ $json.paging.cursors.after }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[40,-580],"id":"4bf60487-753a-412a-858a-ae146bef2dce","name":"If1"},{"parameters":{"authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","url":"https://graph.facebook.com/v22.0/me/conversations?limit=25","options":{}},"id":"8699a791-e07d-4c67-9dd5-2cba07ef47ea","name":"Facebook Initial Request","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[-1040,240],"credentials":{"facebookGraphApi":{"id":"iAEr1vmgchrpnNBL","name":"tiem1998"}}},{"parameters":{"functionCode":"\n                const data = [];\n                if (items[0].json.data) {\n                    for (const item of items[0].json.data) {\n                        data.push({ json: item });\n                    }\n                }\n                if (items[0].json.paging?.next) {\n                    data.push({\n                        json: {\n                            __cursorNext: items[0].json.paging.next\n                        }\n                    });\n                }\n                return data;\n                "},"id":"2547d833-de06-4ad4-a6b9-2d7f0ae19309","name":"Extract Data + Cursor","type":"n8n-nodes-base.function","typeVersion":1,"position":[-740,460]},{"parameters":{"conditions":{"boolean":[],"string":[{"value1":"={{$json[\"__cursorNext\"]}}","operation":"isNotEmpty"}]}},"id":"1844805d-b9af-485a-9c4e-39b5ae0a7e67","name":"IF Has Next Page","type":"n8n-nodes-base.if","typeVersion":1,"position":[-480,360]},{"parameters":{"url":"={{$json[\"__cursorNext\"]}}","options":{}},"id":"c1d0299b-a3e4-4113-9af4-d0ddb39891ac","name":"Next Page Request","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[-240,340]},{"parameters":{"functionCode":"\n                const data = [];\n                if (items[0].json.data) {\n                    for (const item of items[0].json.data) {\n                        data.push({ json: item });\n                    }\n                }\n                if (items[0].json.paging?.next) {\n                    data.push({\n                        json: {\n                            __cursorNext: items[0].json.paging.next\n                        }\n                    });\n                }\n                return data;\n                "},"id":"0ab6d2b5-cf00-4b1a-be0f-a237fdd06660","name":"Extract Next Cursor","type":"n8n-nodes-base.function","typeVersion":1,"position":[-60,360]},{"parameters":{},"id":"ce0e1355-7c61-4bb3-9e12-50829d032f22","name":"Merge Results","type":"n8n-nodes-base.merge","typeVersion":1,"position":[200,640]},{"parameters":{"graphApiVersion":"v22.0","node":"me","edge":"conversations?limit=25","options":{}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-960,460],"id":"aff4c285-93ae-4f32-9a10-c004fbf7ac72","name":"Facebook Graph API4","credentials":{"facebookGraphApi":{"id":"h2sjIVg6QTRbNhFe","name":"hâto"}}},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-320,760],"id":"3c2155d1-ae79-43b7-af3b-3e0f3e81cf07","name":"Wait1","webhookId":"bb40a6a9-2b59-4adb-b090-3f94ca8e00a1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[640,300],"id":"c67753cf-adb7-4765-a2f1-cbeb81bcedc4","name":"Wait2","webhookId":"9eac6219-a6d9-45ca-b318-f17c1ae6a486"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Facebook Graph API4","type":"main","index":0}]]},"Facebook Graph API":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Facebook Graph API1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Facebook Graph API2":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Facebook Graph API2","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Wait2","type":"main","index":0}],[{"node":"Facebook Graph API1","type":"main","index":0}]]},"If":{"main":[[],[]]},"Facebook Graph API3":{"main":[[]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"If1":{"main":[[]]},"Facebook Initial Request":{"main":[[]]},"Extract Data + Cursor":{"main":[[{"node":"IF Has Next Page","type":"main","index":0},{"node":"Merge Results","type":"main","index":0}]]},"IF Has Next Page":{"main":[[{"node":"Next Page Request","type":"main","index":0}]]},"Next Page Request":{"main":[[{"node":"Extract Next Cursor","type":"main","index":0}]]},"Extract Next Cursor":{"main":[[{"node":"Merge Results","type":"main","index":0},{"node":"Wait1","type":"main","index":0}]]},"Facebook Graph API4":{"main":[[{"node":"Extract Data + Cursor","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"IF Has Next Page","type":"main","index":0}]]},"Merge Results":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Execute workflow’":[{"json":{}}]},"versionId":"be823fef-7792-474f-adfe-3ae08256c0bd","triggerCount":0,"tags":[]}