workflows/lấy video miresto.json
{"createdAt":"2025-05-16T06:07:08.753Z","updatedAt":"2025-05-20T07:27:06.000Z","id":"zJ8BAqtCTUx6iZI3","name":"lấy video miresto","active":true,"isArchived":false,"nodes":[{"parameters":{"name":"={{ $('tai-file-http').first().json.id }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1jGLBWKP1kqx8Tntx1R7J0rEp2tl8ylJK","mode":"list","cachedResultName":"Hatoyama live","cachedResultUrl":"https://drive.google.com/drive/folders/1jGLBWKP1kqx8Tntx1R7J0rEp2tl8ylJK"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1060,-100],"id":"232bb281-2743-40bf-b0bd-0393f84f7b67","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"dt8TEdZnWNiRq2AR","name":"okita1"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const rawText = $input.first().json.description || \"\";\nconst lines = rawText.split(/\\r?\\n/); // Tách từng dòng\n\nconst firstLine = lines[0].trim(); // Lấy dòng đầu tiên, loại khoảng trắng\n\nreturn {\n  firstLine\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,-580],"id":"945c3089-5e3e-4899-89cc-cd9e44deaf11","name":"code-tach-cau-xuong-dong"},{"parameters":{"graphApiVersion":"v22.0","node":"={{ $json['[\\'Id video\\']'] }}","edge":"?fields=source,description,created_time","options":{}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[560,-100],"id":"0a22fafc-0c3a-4fba-b9f9-4fbcb05a8597","name":"video hato","credentials":{"facebookGraphApi":{"id":"1C0GZ4O5Zq0XV3pg","name":"hâto"}}},{"parameters":{"documentId":{"__rl":true,"value":"1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8","mode":"list","cachedResultName":"id video miresto","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"hato","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-460,-40],"id":"15f5f56b-06d7-4765-9695-c2433ea419f4","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"7bkqyISMa7JtlPHI","name":"okita1"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7896cf95-9ffa-4582-a0cc-facac0d82d00","leftValue":"={{ $json['Id video'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"b7c56b08-b19a-4d60-8343-d76fc13dcc4c","leftValue":"={{ $json['Link video trên driver'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-200,-40],"id":"f92d2de4-5035-4de4-82ed-fb84138d673e","name":"If"},{"parameters":{"respondWith":"text","responseBody":"Vui lòng đợi để video được tải lên","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-840,-60],"id":"4fae56ac-186c-43c1-beae-93b9a0cbb5a6","name":"Respond to Webhook"},{"parameters":{"fieldToSplitOut":"['Id video']","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[60,-100],"id":"e54886ef-ab74-4bd4-b85b-335e0035639b","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[300,-120],"id":"66ff0b9d-ad5e-462e-9ff7-cc28ee6f4fcb","name":"Loop Over Items"},{"parameters":{"url":"={{ $('video hato1').first().json.source }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[820,260],"id":"3dd539b9-02db-4e37-8711-902985c3d5d6","name":"HTTP Request1"},{"parameters":{"name":"={{ $('HTTP Request1').first().json.id }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1E6WFMibP_wA0bIeLVN6rpkw7qYeeqrz6","mode":"list","cachedResultName":"Okita live","cachedResultUrl":"https://drive.google.com/drive/folders/1E6WFMibP_wA0bIeLVN6rpkw7qYeeqrz6"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1060,260],"id":"f624b775-6ba7-42f1-9802-966d02621d75","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"dt8TEdZnWNiRq2AR","name":"okita1"}}},{"parameters":{"graphApiVersion":"v22.0","node":"={{ $json['[\\'Id video\\']'] }}","edge":"?fields=source,description,created_time","options":{}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[640,260],"id":"fe10664d-f008-41ac-be5d-c4ff7409f0ec","name":"video hato1","credentials":{"facebookGraphApi":{"id":"h0yaeNm3uPBWF08F","name":"okita"}}},{"parameters":{"documentId":{"__rl":true,"value":"1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8","mode":"list","cachedResultName":"id video miresto","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1388713878,"mode":"list","cachedResultName":"OKITA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8/edit#gid=1388713878"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-280,320],"id":"9cb4652d-5e08-4e6a-b3ed-6a2e32668d43","name":"Google Sheets2","credentials":{"googleSheetsOAuth2Api":{"id":"7bkqyISMa7JtlPHI","name":"okita1"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7896cf95-9ffa-4582-a0cc-facac0d82d00","leftValue":"={{ $json['Id video'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"b7c56b08-b19a-4d60-8343-d76fc13dcc4c","leftValue":"={{ $json['Link video trên driver'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-120,320],"id":"bd11719f-3e19-4993-8003-fd886fb1191d","name":"If1"},{"parameters":{"respondWith":"text","responseBody":"Vui lòng đợi để video được tải lên","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-480,320],"id":"7057cd1b-8850-4b14-adff-dcd3f75ded71","name":"Respond to Webhook1"},{"parameters":{"fieldToSplitOut":"['Id video']","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[140,260],"id":"1b3c489e-3f81-48cc-90b2-141d7770eeef","name":"Split Out1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[380,240],"id":"90b02176-1215-4950-84f7-433af381b9f1","name":"Loop Over Items1"},{"parameters":{"path":"hato","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1040,-60],"id":"790fc644-77f9-45f3-bbbc-a04e6b5249b8","name":"hato","webhookId":"859d7c06-db69-4301-a0de-64ed7aa54204"},{"parameters":{"url":"={{ $('video hato2').first().json.source }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[860,540],"id":"dd147cda-07e6-497a-bd10-ada75f4d93f9","name":"HTTP Request2"},{"parameters":{"name":"=  {{ $('HTTP Request2').first().json.id }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1vBp_UfvX2Xfu2Q32eLWQTFbllEmBJ1K3","mode":"list","cachedResultName":"tghs live","cachedResultUrl":"https://drive.google.com/drive/folders/1vBp_UfvX2Xfu2Q32eLWQTFbllEmBJ1K3"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1100,540],"id":"e5dce0a0-f30f-4ab8-aadf-abb46c89389b","name":"Google Drive2","credentials":{"googleDriveOAuth2Api":{"id":"dt8TEdZnWNiRq2AR","name":"okita1"}}},{"parameters":{"graphApiVersion":"v22.0","node":"={{ $json['[\\'Id video\\']'] }}","edge":"?fields=source,description,created_time","options":{}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[640,540],"id":"97c5a498-3f18-41f5-b922-5222e1a1cf01","name":"video hato2","credentials":{"facebookGraphApi":{"id":"X9edOJoHtG7wdoaP","name":"tghs"}}},{"parameters":{"documentId":{"__rl":true,"value":"1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8","mode":"list","cachedResultName":"id video miresto","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1256571974,"mode":"list","cachedResultName":"TGHS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8/edit#gid=1256571974"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-280,600],"id":"ada66e65-6003-4b85-ab80-6f8bece45218","name":"Google Sheets4","credentials":{"googleSheetsOAuth2Api":{"id":"7bkqyISMa7JtlPHI","name":"okita1"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7896cf95-9ffa-4582-a0cc-facac0d82d00","leftValue":"={{ $json['Id video'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"b7c56b08-b19a-4d60-8343-d76fc13dcc4c","leftValue":"={{ $json['Link video trên driver'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-120,600],"id":"af13d955-cf29-4f04-9ce0-ad8ee9cd2331","name":"If2"},{"parameters":{"respondWith":"text","responseBody":"Vui lòng đợi để video được tải lên","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-480,600],"id":"9ca1ca4f-d52e-4887-b525-6576fa4bf7fc","name":"Respond to Webhook2"},{"parameters":{"fieldToSplitOut":"['Id video']","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[140,540],"id":"f9a81413-dcf6-4119-8c50-14dbf8d7ca92","name":"Split Out2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[380,520],"id":"7dca4516-fb1d-4b4c-aa83-8e1c7c546e22","name":"Loop Over Items2"},{"parameters":{"url":"={{ $('video hato3').first().json.source }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[860,800],"id":"8fdcf981-550a-4464-8710-546dac6f6d4c","name":"HTTP Request3"},{"parameters":{"name":"={{ $('HTTP Request3').first().json.id }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1PAe962hIE_YC00YwVKkBMcF1WnD_lOji","mode":"list","cachedResultName":"song dương live","cachedResultUrl":"https://drive.google.com/drive/folders/1PAe962hIE_YC00YwVKkBMcF1WnD_lOji"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1100,800],"id":"28f616a1-67d3-440f-b7c6-21985d56f5d3","name":"Google Drive3","credentials":{"googleDriveOAuth2Api":{"id":"dt8TEdZnWNiRq2AR","name":"okita1"}}},{"parameters":{"graphApiVersion":"v22.0","node":"={{ $json['[\\'Id video\\']'] }}","edge":"?fields=source,description,created_time","options":{}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[640,800],"id":"b7ad8d27-6e5d-41e7-8ae7-da06606fbb46","name":"video hato3","credentials":{"facebookGraphApi":{"id":"8sJkOP2ARjRHcLQK","name":"song dương"}}},{"parameters":{"documentId":{"__rl":true,"value":"1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8","mode":"list","cachedResultName":"id video miresto","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":9899689,"mode":"list","cachedResultName":"Songduong","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8/edit#gid=9899689"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-280,860],"id":"9e29088b-283b-4ade-8707-2fc2ccbee989","name":"Google Sheets6","credentials":{"googleSheetsOAuth2Api":{"id":"7bkqyISMa7JtlPHI","name":"okita1"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7896cf95-9ffa-4582-a0cc-facac0d82d00","leftValue":"={{ $json['Id video'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"b7c56b08-b19a-4d60-8343-d76fc13dcc4c","leftValue":"={{ $json['Link video trên driver'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-120,860],"id":"539c2185-5bf6-461a-b6ea-aff19cb89aca","name":"If3"},{"parameters":{"respondWith":"text","responseBody":"Vui lòng đợi để video được tải lên","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-480,860],"id":"f657e4c6-16fc-4b18-af0c-035f626ce88e","name":"Respond to Webhook3"},{"parameters":{"fieldToSplitOut":"['Id video']","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[140,800],"id":"f9045c84-5c44-4d90-965c-a7957c665c7b","name":"Split Out3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[380,780],"id":"823e5380-af5c-42b5-bf46-8b771e54b749","name":"Loop Over Items3"},{"parameters":{"path":"okita","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-680,320],"id":"6b7bfd3a-19d8-4045-80b4-42c8716dbb5f","name":"okita","webhookId":"465ae0f4-998a-4ad2-bbb7-cb8b50beb3fb"},{"parameters":{"path":"songduong","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-680,860],"id":"490d89bb-f251-42fd-b82d-be4f6adbd357","name":"songduong","webhookId":"465ae0f4-998a-4ad2-bbb7-cb8b50beb3fb"},{"parameters":{"rule":{"interval":[{"daysInterval":2,"triggerAtHour":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-880,-280],"id":"216fd67e-7c6e-408f-9f29-09af86461150","name":"Schedule Trigger"},{"parameters":{"rule":{"interval":[{"daysInterval":2,"triggerAtHour":4}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-820,240],"id":"7a4ffd27-e438-41f7-9e36-f0b5954bc21c","name":"Schedule Trigger1"},{"parameters":{"rule":{"interval":[{"daysInterval":2,"triggerAtHour":17}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-900,500],"id":"1741bc91-9c6d-4b0a-b457-4d32993ff5fc","name":"Schedule Trigger2"},{"parameters":{"rule":{"interval":[{"daysInterval":2,"triggerAtHour":11}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-940,760],"id":"afba58bf-3964-4db1-8bb2-d4994889b71f","name":"Schedule Trigger3"},{"parameters":{"path":"tghs","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-720,600],"id":"dba2f10a-e830-414e-94e4-c487fdc5c74f","name":"tghs","webhookId":"465ae0f4-998a-4ad2-bbb7-cb8b50beb3fb"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8","mode":"list","cachedResultName":"id video miresto","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hato","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Id video":"={{ $('video hato').first().json.id }}","Nội dung bài":"={{ $('video hato').first().json.description }}","Ngày tạo video":"={{ $('video hato').first().json.created_time }}","Link video trên driver":"=https://drive.google.com/file/d/{{ $json.id }}"},"matchingColumns":["Id video"],"schema":[{"id":"Id video","displayName":"Id video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nội dung bài","displayName":"Nội dung bài","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ngày tạo video","displayName":"Ngày tạo video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link video trên driver","displayName":"Link video trên driver","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"https://n8n.hoanghan13102024.online/webhook/hato ","displayName":"https://n8n.hoanghan13102024.online/webhook/hato ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1780,-340],"id":"ea120d14-93a5-4def-ab0d-23b7c83a9bdd","name":"Google Sheets8","credentials":{"googleSheetsOAuth2Api":{"id":"7bkqyISMa7JtlPHI","name":"okita1"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8","mode":"list","cachedResultName":"id video miresto","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1388713878,"mode":"list","cachedResultName":"OKITA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8/edit#gid=1388713878"},"columns":{"mappingMode":"defineBelow","value":{"Id video":"={{ $('video hato1').first().json.id }}","Nội dung bài":"={{ $('video hato1').first().json.description }}","Ngày tạo video":"={{ $('video hato1').first().json.created_time }}","Link video trên driver":"=https://drive.google.com/file/d/{{ $json.id }}"},"matchingColumns":["Id video"],"schema":[{"id":"Id video","displayName":"Id video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nội dung bài","displayName":"Nội dung bài","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ngày tạo video","displayName":"Ngày tạo video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link video trên driver","displayName":"Link video trên driver","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"https://n8n.hoanghan13102024.online/webhook/hato ","displayName":"https://n8n.hoanghan13102024.online/webhook/hato ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1300,260],"id":"e81051d8-6911-44c4-9d97-812e09b29268","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"7bkqyISMa7JtlPHI","name":"okita1"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8","mode":"list","cachedResultName":"id video miresto","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1256571974,"mode":"list","cachedResultName":"TGHS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8/edit#gid=1256571974"},"columns":{"mappingMode":"defineBelow","value":{"Id video":"={{ $('video hato2').item.json.id }}","Nội dung bài":"={{ $('video hato2').item.json.description }}","Ngày tạo video":"={{ $('video hato2').item.json.created_time }}","Link video trên driver":"=https://drive.google.com/file/d/{{ $json.id }}"},"matchingColumns":["Id video"],"schema":[{"id":"Id video","displayName":"Id video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nội dung bài","displayName":"Nội dung bài","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ngày tạo video","displayName":"Ngày tạo video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link video trên driver","displayName":"Link video trên driver","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"https://n8n.hoanghan13102024.online/webhook/tghs","displayName":"https://n8n.hoanghan13102024.online/webhook/tghs","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1320,540],"id":"b7800d09-596d-42e6-9f4f-1d9cb550b0d8","name":"Google Sheets9","credentials":{"googleSheetsOAuth2Api":{"id":"7bkqyISMa7JtlPHI","name":"okita1"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8","mode":"list","cachedResultName":"id video miresto","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":9899689,"mode":"list","cachedResultName":"Songduong","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8/edit#gid=9899689"},"columns":{"mappingMode":"defineBelow","value":{"Id video":"={{ $('video hato3').first().json.id }}","Nội dung bài":"={{ $('video hato3').first().json.description }}","Ngày tạo video":"={{ $('video hato3').first().json.created_time }}","Link video trên driver":"=https://drive.google.com/file/d/{{ $json.id }}"},"matchingColumns":["Id video"],"schema":[{"id":"Id video","displayName":"Id video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nội dung bài","displayName":"Nội dung bài","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ngày tạo video","displayName":"Ngày tạo video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link video trên driver","displayName":"Link video trên driver","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"https://n8n.hoanghan13102024.online/webhook/hato ","displayName":"https://n8n.hoanghan13102024.online/webhook/hato ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1320,800],"id":"553b7789-267d-47c7-ae2c-7593cb43251e","name":"Google Sheets10","credentials":{"googleSheetsOAuth2Api":{"id":"7bkqyISMa7JtlPHI","name":"okita1"}}},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1800,-40],"id":"a1fd7027-8d7b-4ee2-a092-3c82cb6e0a5e","name":"Wait","webhookId":"d4e4272d-aa6a-4155-b96e-ecd576cfc994"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"49012c50-e821-48da-93fa-0d330c6c9913","leftValue":"={{ $json.id }}","rightValue":"=","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1340,-100],"id":"523ca014-e4d2-4dfd-bca4-b75bb51738c8","name":"If4"},{"parameters":{"url":"={{ $('video hato').first().json.source }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[780,-100],"id":"7e663eae-a003-4de0-b852-edce0fe509fd","name":"tai-file-http"},{"parameters":{"path":"okita","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[2940,-440],"id":"d7b897fc-0082-4256-a0bc-2dda67dc57d5","name":"okita1","webhookId":"465ae0f4-998a-4ad2-bbb7-cb8b50beb3fb","disabled":true},{"parameters":{"path":"songduong","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[2940,100],"id":"f326f32d-a934-4324-b9f1-79f0741a7017","name":"songduong1","webhookId":"465ae0f4-998a-4ad2-bbb7-cb8b50beb3fb","disabled":true},{"parameters":{"rule":{"interval":[{"daysInterval":2,"triggerAtHour":4}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[2800,-520],"id":"92d7ead7-e47f-43af-9e02-ff55b7e76f88","name":"Schedule Trigger4","disabled":true},{"parameters":{"rule":{"interval":[{"daysInterval":2,"triggerAtHour":17}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[2720,-260],"id":"668a3137-10c5-494d-ae96-b257be09b918","name":"Schedule Trigger5","disabled":true},{"parameters":{"rule":{"interval":[{"daysInterval":2,"triggerAtHour":11}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[2680,0],"id":"c88e9769-5f5e-447a-a2fd-986b4ea34113","name":"Schedule Trigger6","disabled":true},{"parameters":{"path":"tghs","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[2900,-160],"id":"e1b527ff-2f94-4ee6-aa29-ecbf20a52171","name":"tghs1","webhookId":"465ae0f4-998a-4ad2-bbb7-cb8b50beb3fb","disabled":true}],"connections":{"code-tach-cau-xuong-dong":{"main":[[]]},"video hato":{"main":[[{"node":"tai-file-http","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"If4","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"video hato","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"video hato1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Respond to Webhook1":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"video hato1","type":"main","index":0}]]},"hato":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Google Drive2","type":"main","index":0}]]},"Google Drive2":{"main":[[{"node":"Google Sheets9","type":"main","index":0}]]},"video hato2":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Google Sheets4":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Respond to Webhook2":{"main":[[{"node":"Google Sheets4","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"video hato2","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Google Drive3","type":"main","index":0}]]},"Google Drive3":{"main":[[{"node":"Google Sheets10","type":"main","index":0}]]},"video hato3":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"Google Sheets6":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"Split Out3","type":"main","index":0}]]},"Respond to Webhook3":{"main":[[{"node":"Google Sheets6","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"video hato3","type":"main","index":0}]]},"okita":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"songduong":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"Google Sheets4","type":"main","index":0}]]},"Schedule Trigger3":{"main":[[{"node":"Google Sheets6","type":"main","index":0}]]},"tghs":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Google Sheets8":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets9":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Google Sheets10":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"If4":{"main":[[{"node":"Google Sheets8","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"tai-file-http":{"main":[[{"node":"Google Drive","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"zJ8BAqtCTUx6iZI3"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[143]},"node:Schedule Trigger1":{"recurrenceRules":[148]},"node:Schedule Trigger2":{"recurrenceRules":[142]},"node:Schedule Trigger3":{"recurrenceRules":[148]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"okita":[{"json":{"headers":{"host":"n8n.hoanghan13102024.online","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, br","accept-language":"vi,en;q=0.9,en-US;q=0.8","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"117.4.252.203","cf-ipcountry":"VN","cf-ray":"94094282ee4b3e29-SIN","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"2555c5dd-3ed1-4670-96d3-b1533bdf5e6d","connection":"keep-alive","cookie":"rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX19T6A9wL5%2BtDZ6C1NBVc6cDh%2B2T%2BKz4vlU%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19KlOadmezhs0%2FI6Sylq2QDAfTx7r%2F4V50%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImMzOGMwZjhhLTA5MjQtNGI4Ni1hY2RkLTA3OTk4MDc0ZWI5MCIsImhhc2giOiJGOXB4UWl0REx1IiwiYnJvd3NlcklkIjoiUU9rb29leEg0NUh4S2YyZWpCdEU4UlRoK3dWZ3gxeTNOeDlwYW02Y0Jjbz0iLCJpYXQiOjE3NDcyODIwODMsImV4cCI6MTc0Nzg4Njg4M30.Qfh9z6VSRKY5AJ19Yui9-FrhZvGX4zrMXqiNzIPey-4; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22087f04f73d5de6b0aaf26fb8cf8a24c47cc1bedc10dddd71f66b03ef31cd70b8%23c38c0f8a-0924-4b86-acdd-07998074eb90%22%2C%22%24sesid%22%3A%5B1747381552174%2C%220196d7b3-fbdf-7137-927f-add59cfc95d9%22%2C1747375619039%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fn8n.hoanghan13102024.online%2Fsetup%22%7D%7D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2FH%2FTqDakm6FF0tPlwnsmIeaBe6zdGub%2FC7FqiYKDjfQvImtwvAFIN1UXbpIlhBnqnbPsMS42yvDQ%3D%3D; rl_session=RudderEncrypt%3AU2FsdGVkX18%2BHVY5a5alnoyd5qnCvqCIH8rYTBdqCke%2Bxa4HboW4xmdV2CZr%2BJgWPaTU1MWE0BoTrBgFhbEYln6je%2F1%2BlHDuyKSOIPL1ckb%2FdpNglAVQx9dNly9wGIeZ4saFPlWxwMm%2BAgC4a1xaog%3D%3D","priority":"u=0, i","referer":"https://www.google.com/","sec-ch-ua":"\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"cross-site","upgrade-insecure-requests":"1","x-forwarded-for":"117.4.252.203","x-forwarded-proto":"https"},"params":{},"query":{},"body":{},"webhookUrl":"https://n8n.hoanghan13102024.online/webhook/okita","executionMode":"production"}}],"songduong":[{"json":{"headers":{"host":"n8n.hoanghan13102024.online","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, br","accept-language":"vi,en;q=0.9,en-US;q=0.8","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"117.4.252.203","cf-ipcountry":"VN","cf-ray":"940973622f92ff81-SIN","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"2555c5dd-3ed1-4670-96d3-b1533bdf5e6d","connection":"keep-alive","cookie":"rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX19T6A9wL5%2BtDZ6C1NBVc6cDh%2B2T%2BKz4vlU%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19KlOadmezhs0%2FI6Sylq2QDAfTx7r%2F4V50%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImMzOGMwZjhhLTA5MjQtNGI4Ni1hY2RkLTA3OTk4MDc0ZWI5MCIsImhhc2giOiJGOXB4UWl0REx1IiwiYnJvd3NlcklkIjoiUU9rb29leEg0NUh4S2YyZWpCdEU4UlRoK3dWZ3gxeTNOeDlwYW02Y0Jjbz0iLCJpYXQiOjE3NDcyODIwODMsImV4cCI6MTc0Nzg4Njg4M30.Qfh9z6VSRKY5AJ19Yui9-FrhZvGX4zrMXqiNzIPey-4; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2Bc1ua2wzcjU4mII6mAJeM294bLWZbKoxLVtD50YolnuykHhmDFWSSSEhv1pH0o2z7jGI4EAI34zg%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2BuCHWHvg6rWZpsYbj227UGeY1lIb6rPvQ5R3BIk4RWclMYxMfnUHETwcbgt02jJ62t4hVh5COGQFmTJx3SE7N%2FhP9ksgUEeo7nox6UVFhvQATZItKnfDtvrEWpS3BsDw9ZmubgkfAs2%2FPkQv4Hay7it2MH1FcS%2F1s%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2FR3saRncLNSMm%2Bpx%2FYkhuUIS96lELyI5bOzzF0j8a4txWFuHGaqqb5uHWeUIcudMZcOKsH5nfiMTmRpZE2kZcZ24lILeLbztonMM0hCJfaIdlYJQSKFGwikGnJMtF8Hnkzytoj%2B86PmA%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22087f04f73d5de6b0aaf26fb8cf8a24c47cc1bedc10dddd71f66b03ef31cd70b8%23c38c0f8a-0924-4b86-acdd-07998074eb90%22%2C%22%24sesid%22%3A%5B1747383561141%2C%220196d7b3-fbdf-7137-927f-add59cfc95d9%22%2C1747375619039%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fn8n.hoanghan13102024.online%2Fsetup%22%7D%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1%2FQN2GsOtDLqaT3A%2Bxkn0bC%2B9mIAInUcS7cpel%2BZanf%2BuboEdl82b66HJdj%2BrZjTq%2BMEwUIkcE5i6sgz5f%2BTAEp5p482KXhL1hRhidIJBbQ5wuXBHzXRKIkD50Er8fjm90a2e1bGRVl5g%3D%3D","priority":"u=0, i","referer":"https://www.google.com/","sec-ch-ua":"\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"cross-site","upgrade-insecure-requests":"1","x-forwarded-for":"117.4.252.203","x-forwarded-proto":"https"},"params":{},"query":{},"body":{},"webhookUrl":"https://n8n.hoanghan13102024.online/webhook/songduong","executionMode":"production"}}],"tghs":[{"json":{"headers":{"host":"n8n.hoanghan13102024.online","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, br","accept-language":"vi,en;q=0.9,en-US;q=0.8","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"117.4.252.203","cf-ipcountry":"VN","cf-ray":"94098da99d3ffd32-SIN","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"2555c5dd-3ed1-4670-96d3-b1533bdf5e6d","connection":"keep-alive","cookie":"rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX19T6A9wL5%2BtDZ6C1NBVc6cDh%2B2T%2BKz4vlU%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19KlOadmezhs0%2FI6Sylq2QDAfTx7r%2F4V50%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImMzOGMwZjhhLTA5MjQtNGI4Ni1hY2RkLTA3OTk4MDc0ZWI5MCIsImhhc2giOiJGOXB4UWl0REx1IiwiYnJvd3NlcklkIjoiUU9rb29leEg0NUh4S2YyZWpCdEU4UlRoK3dWZ3gxeTNOeDlwYW02Y0Jjbz0iLCJpYXQiOjE3NDcyODIwODMsImV4cCI6MTc0Nzg4Njg4M30.Qfh9z6VSRKY5AJ19Yui9-FrhZvGX4zrMXqiNzIPey-4; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX18t5%2BuxSH81y%2BWLwlwG%2B%2Fe0Tj8pUMEayzJvlsu6%2B7x2Z3mhtvX9rnGfs79hRZI2gP0qrKxBgY75IQ%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2BoNCerwIPugCD0diU2YnH%2F%2FRO%2FTYuRwwXHfni2JHw3ImmOpFsjMoy4ZUlT1m8grnB9W8O3xzZquzIOc7xRJkhvMrazcWGLvZYh4RRFR5KKd6%2Bb0Bp5gJMVpLKIVJzW9HxhUzvN4ym8G9TtqzKxH2%2Bib%2FHOs8zhJv0%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2B1aNn%2FcK5b%2FCy%2BT5jHQsbDovJ0FOfHwyJvuSdM91ZB7fXdG7cse37wSB9gmuDDuevQkLqA4LFTVrD9R4jVVkUZ1d5BcHy5EfrnNlhajfb2KmJoN9%2FFhfltAu%2Bykq9Tkd6QNyytEfIWdg%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22087f04f73d5de6b0aaf26fb8cf8a24c47cc1bedc10dddd71f66b03ef31cd70b8%23c38c0f8a-0924-4b86-acdd-07998074eb90%22%2C%22%24sesid%22%3A%5B1747384513802%2C%220196d7b3-fbdf-7137-927f-add59cfc95d9%22%2C1747375619039%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fn8n.hoanghan13102024.online%2Fsetup%22%7D%7D; rl_session=RudderEncrypt%3AU2FsdGVkX19vkM7vlL3RrEboMI4zbjJZP9qR3LLVtsEzYfzjbCB2DFjFIIycwT3XHv8JU2v4odmIkNOkga0CLkLFdXYOXPmhfNvPf8cJloiVMphP1GIHo5%2FYO7ePNJ8tXik1ws2bTuLUuq0jWeA8qA%3D%3D","priority":"u=0, i","referer":"https://www.google.com/","sec-ch-ua":"\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"cross-site","upgrade-insecure-requests":"1","x-forwarded-for":"117.4.252.203","x-forwarded-proto":"https"},"params":{},"query":{},"body":{},"webhookUrl":"https://n8n.hoanghan13102024.online/webhook/tghs","executionMode":"production"}}],"hato":[{"json":{"isArtificialRecoveredEventItem":true}}],"okita1":[{"json":{"headers":{"host":"n8n.hoanghan13102024.online","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, br","accept-language":"vi,en;q=0.9,en-US;q=0.8","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"117.4.252.203","cf-ipcountry":"VN","cf-ray":"94094282ee4b3e29-SIN","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"2555c5dd-3ed1-4670-96d3-b1533bdf5e6d","connection":"keep-alive","cookie":"rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX19T6A9wL5%2BtDZ6C1NBVc6cDh%2B2T%2BKz4vlU%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19KlOadmezhs0%2FI6Sylq2QDAfTx7r%2F4V50%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImMzOGMwZjhhLTA5MjQtNGI4Ni1hY2RkLTA3OTk4MDc0ZWI5MCIsImhhc2giOiJGOXB4UWl0REx1IiwiYnJvd3NlcklkIjoiUU9rb29leEg0NUh4S2YyZWpCdEU4UlRoK3dWZ3gxeTNOeDlwYW02Y0Jjbz0iLCJpYXQiOjE3NDcyODIwODMsImV4cCI6MTc0Nzg4Njg4M30.Qfh9z6VSRKY5AJ19Yui9-FrhZvGX4zrMXqiNzIPey-4; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22087f04f73d5de6b0aaf26fb8cf8a24c47cc1bedc10dddd71f66b03ef31cd70b8%23c38c0f8a-0924-4b86-acdd-07998074eb90%22%2C%22%24sesid%22%3A%5B1747381552174%2C%220196d7b3-fbdf-7137-927f-add59cfc95d9%22%2C1747375619039%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fn8n.hoanghan13102024.online%2Fsetup%22%7D%7D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2FH%2FTqDakm6FF0tPlwnsmIeaBe6zdGub%2FC7FqiYKDjfQvImtwvAFIN1UXbpIlhBnqnbPsMS42yvDQ%3D%3D; rl_session=RudderEncrypt%3AU2FsdGVkX18%2BHVY5a5alnoyd5qnCvqCIH8rYTBdqCke%2Bxa4HboW4xmdV2CZr%2BJgWPaTU1MWE0BoTrBgFhbEYln6je%2F1%2BlHDuyKSOIPL1ckb%2FdpNglAVQx9dNly9wGIeZ4saFPlWxwMm%2BAgC4a1xaog%3D%3D","priority":"u=0, i","referer":"https://www.google.com/","sec-ch-ua":"\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"cross-site","upgrade-insecure-requests":"1","x-forwarded-for":"117.4.252.203","x-forwarded-proto":"https"},"params":{},"query":{},"body":{},"webhookUrl":"https://n8n.hoanghan13102024.online/webhook/okita","executionMode":"production"}}],"songduong1":[{"json":{"headers":{"host":"n8n.hoanghan13102024.online","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, br","accept-language":"vi,en;q=0.9,en-US;q=0.8","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"117.4.252.203","cf-ipcountry":"VN","cf-ray":"940973622f92ff81-SIN","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"2555c5dd-3ed1-4670-96d3-b1533bdf5e6d","connection":"keep-alive","cookie":"rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX19T6A9wL5%2BtDZ6C1NBVc6cDh%2B2T%2BKz4vlU%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19KlOadmezhs0%2FI6Sylq2QDAfTx7r%2F4V50%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImMzOGMwZjhhLTA5MjQtNGI4Ni1hY2RkLTA3OTk4MDc0ZWI5MCIsImhhc2giOiJGOXB4UWl0REx1IiwiYnJvd3NlcklkIjoiUU9rb29leEg0NUh4S2YyZWpCdEU4UlRoK3dWZ3gxeTNOeDlwYW02Y0Jjbz0iLCJpYXQiOjE3NDcyODIwODMsImV4cCI6MTc0Nzg4Njg4M30.Qfh9z6VSRKY5AJ19Yui9-FrhZvGX4zrMXqiNzIPey-4; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2Bc1ua2wzcjU4mII6mAJeM294bLWZbKoxLVtD50YolnuykHhmDFWSSSEhv1pH0o2z7jGI4EAI34zg%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2BuCHWHvg6rWZpsYbj227UGeY1lIb6rPvQ5R3BIk4RWclMYxMfnUHETwcbgt02jJ62t4hVh5COGQFmTJx3SE7N%2FhP9ksgUEeo7nox6UVFhvQATZItKnfDtvrEWpS3BsDw9ZmubgkfAs2%2FPkQv4Hay7it2MH1FcS%2F1s%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2FR3saRncLNSMm%2Bpx%2FYkhuUIS96lELyI5bOzzF0j8a4txWFuHGaqqb5uHWeUIcudMZcOKsH5nfiMTmRpZE2kZcZ24lILeLbztonMM0hCJfaIdlYJQSKFGwikGnJMtF8Hnkzytoj%2B86PmA%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22087f04f73d5de6b0aaf26fb8cf8a24c47cc1bedc10dddd71f66b03ef31cd70b8%23c38c0f8a-0924-4b86-acdd-07998074eb90%22%2C%22%24sesid%22%3A%5B1747383561141%2C%220196d7b3-fbdf-7137-927f-add59cfc95d9%22%2C1747375619039%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fn8n.hoanghan13102024.online%2Fsetup%22%7D%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1%2FQN2GsOtDLqaT3A%2Bxkn0bC%2B9mIAInUcS7cpel%2BZanf%2BuboEdl82b66HJdj%2BrZjTq%2BMEwUIkcE5i6sgz5f%2BTAEp5p482KXhL1hRhidIJBbQ5wuXBHzXRKIkD50Er8fjm90a2e1bGRVl5g%3D%3D","priority":"u=0, i","referer":"https://www.google.com/","sec-ch-ua":"\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"cross-site","upgrade-insecure-requests":"1","x-forwarded-for":"117.4.252.203","x-forwarded-proto":"https"},"params":{},"query":{},"body":{},"webhookUrl":"https://n8n.hoanghan13102024.online/webhook/songduong","executionMode":"production"}}],"tghs1":[{"json":{"headers":{"host":"n8n.hoanghan13102024.online","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, br","accept-language":"vi,en;q=0.9,en-US;q=0.8","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"117.4.252.203","cf-ipcountry":"VN","cf-ray":"94098da99d3ffd32-SIN","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"2555c5dd-3ed1-4670-96d3-b1533bdf5e6d","connection":"keep-alive","cookie":"rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX19T6A9wL5%2BtDZ6C1NBVc6cDh%2B2T%2BKz4vlU%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19KlOadmezhs0%2FI6Sylq2QDAfTx7r%2F4V50%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImMzOGMwZjhhLTA5MjQtNGI4Ni1hY2RkLTA3OTk4MDc0ZWI5MCIsImhhc2giOiJGOXB4UWl0REx1IiwiYnJvd3NlcklkIjoiUU9rb29leEg0NUh4S2YyZWpCdEU4UlRoK3dWZ3gxeTNOeDlwYW02Y0Jjbz0iLCJpYXQiOjE3NDcyODIwODMsImV4cCI6MTc0Nzg4Njg4M30.Qfh9z6VSRKY5AJ19Yui9-FrhZvGX4zrMXqiNzIPey-4; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX18t5%2BuxSH81y%2BWLwlwG%2B%2Fe0Tj8pUMEayzJvlsu6%2B7x2Z3mhtvX9rnGfs79hRZI2gP0qrKxBgY75IQ%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2BoNCerwIPugCD0diU2YnH%2F%2FRO%2FTYuRwwXHfni2JHw3ImmOpFsjMoy4ZUlT1m8grnB9W8O3xzZquzIOc7xRJkhvMrazcWGLvZYh4RRFR5KKd6%2Bb0Bp5gJMVpLKIVJzW9HxhUzvN4ym8G9TtqzKxH2%2Bib%2FHOs8zhJv0%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2B1aNn%2FcK5b%2FCy%2BT5jHQsbDovJ0FOfHwyJvuSdM91ZB7fXdG7cse37wSB9gmuDDuevQkLqA4LFTVrD9R4jVVkUZ1d5BcHy5EfrnNlhajfb2KmJoN9%2FFhfltAu%2Bykq9Tkd6QNyytEfIWdg%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22087f04f73d5de6b0aaf26fb8cf8a24c47cc1bedc10dddd71f66b03ef31cd70b8%23c38c0f8a-0924-4b86-acdd-07998074eb90%22%2C%22%24sesid%22%3A%5B1747384513802%2C%220196d7b3-fbdf-7137-927f-add59cfc95d9%22%2C1747375619039%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fn8n.hoanghan13102024.online%2Fsetup%22%7D%7D; rl_session=RudderEncrypt%3AU2FsdGVkX19vkM7vlL3RrEboMI4zbjJZP9qR3LLVtsEzYfzjbCB2DFjFIIycwT3XHv8JU2v4odmIkNOkga0CLkLFdXYOXPmhfNvPf8cJloiVMphP1GIHo5%2FYO7ePNJ8tXik1ws2bTuLUuq0jWeA8qA%3D%3D","priority":"u=0, i","referer":"https://www.google.com/","sec-ch-ua":"\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"cross-site","upgrade-insecure-requests":"1","x-forwarded-for":"117.4.252.203","x-forwarded-proto":"https"},"params":{},"query":{},"body":{},"webhookUrl":"https://n8n.hoanghan13102024.online/webhook/tghs","executionMode":"production"}}]},"versionId":"69d2e187-e28c-43ff-89a4-aa9f20351ed9","triggerCount":8,"tags":[]}