workflows/Lấy thông tin từ website bất kỳ với Firecrawl MCP.json
{"createdAt":"2025-06-02T03:31:07.971Z","updatedAt":"2025-06-02T03:31:07.971Z","id":"5whdNmeM50IsGbiM","name":"Lấy thông tin từ website bất kỳ với Firecrawl MCP","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=scrape this page {{ $json.url }}","hasOutputParser":true,"options":{"systemMessage":"=## Role:\nAs a copywriter\n\n## Output rules:\n- Keep the content intact\n- The article is presented in standard markdown.\n- The article title is bolded with Markdown symbols (**).\n- Remove all HTML images.\n- All `\\n` or `\\n\\n` must be replaced with actual newlines (`\\n`) in markdown.\n- Do not use any line escape characters, but create actual newlines."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[100,520],"id":"7f8fdc35-9beb-4a67-a2b0-89baa79ab018","name":"AI Agent"},{"parameters":{"sseEndpoint":"https://n8n.hoanghan13102024.online/mcp/d503b381-402a-4246-91c7-10d8b3d2ca12/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[240,740],"id":"a1890fff-e1fe-4bbb-83e7-84413b3982f1","name":"MCP Client"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-420,360],"id":"9b3d777b-04a8-4622-b2af-f761ccdb31a0","name":"Schedule Trigger"},{"parameters":{"url":"={{ $json.url }}","options":{}},"id":"4caa7976-e272-4526-9a59-fa39adac69e8","name":"Get HTML data","type":"n8n-nodes-base.httpRequest","position":[80,60],"typeVersion":4.1},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"title","cssSelector":"h1.title-detail"},{"key":"content","cssSelector":"article.fck_detail","returnValue":"html"}]},"options":{}},"id":"d3ef4b36-4397-419f-887d-4f68fa7982da","name":"Extract Data","type":"n8n-nodes-base.html","position":[240,60],"typeVersion":1},{"parameters":{"promptType":"define","text":"={{ $json.title }}\\n{{ $json.content }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=## Vai trò\nVới vai trò là một copywriter\n\n## Quy tắc đầu ra:\n- Giữ nguyên nội dung\n- Bài viết trình bày dưới dạng markdown chuẩn.\n- Tiêu đề bài viết được tô đậm bằng ký hiệu Markdown (**).\n- Xóa bỏ tất cả các hình ảnh HTML.\n- Tất cả các đoạn `\\n` hoặc `\\n\\n` phải được thay bằng dấu xuống dòng thực sự (`\\n`) trong markdown.\n- Không sử dụng bất kỳ ký tự thoát dòng nào, mà phải tạo ra dòng mới thực tế."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[440,60],"id":"53cd6250-c525-4d33-b150-10d3768ae401","name":"Basic LLM Chain2","alwaysOutputData":true},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.text }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[800,60],"id":"3f6e7c18-165c-4c51-9c12-8994763618d8","name":"Markdown"},{"parameters":{"assignments":{"assignments":[{"id":"9370402c-4a40-4ab3-9b2e-17ab91e31a8e","name":"url","value":"https://vnexpress.net/nga-ukraine-lui-ngay-dam-phan-tai-tho-nhi-ky-4886603.html","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-200,360],"id":"e6f78ed4-3167-41c7-b2d3-f514f1521363","name":"Edit Fields"},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.output }}","options":{"completeHTMLDocument":false}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[800,520],"id":"385f0c28-5701-4448-bbdd-53187e8379a1","name":"Markdown1"},{"parameters":{"html":"<!DOCTYPE html>\n\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>My HTML document</title>\n</head>\n<body>\n{{ $json.data }}\n</body>\n</html>\n\n<style>\n.container {\n  background-color: #ffffff;\n  text-align: center;\n  padding: 16px;\n  border-radius: 8px;\n}\n\nh1 {\n  color: #ff6d5a;\n  font-size: 24px;\n  font-weight: bold;\n  padding: 8px;\n}\n\nh2 {\n  color: #909399;\n  font-size: 18px;\n  font-weight: bold;\n  padding: 8px;\n}\n</style>\n\n<script>\nconsole.log(\"Hello World!\");\n</script>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[980,520],"id":"c7ae470e-4abe-41dc-a1ee-1a8dee7903e2","name":"HTML-Firecrawl","alwaysOutputData":true},{"parameters":{"html":"<!DOCTYPE html>\n\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>My HTML document</title>\n</head>\n<body>\n{{ $json.data }}\n</body>\n</html>\n\n<style>\n.container {\n  background-color: #ffffff;\n  text-align: center;\n  padding: 16px;\n  border-radius: 8px;\n}\n\nh1 {\n  color: #ff6d5a;\n  font-size: 24px;\n  font-weight: bold;\n  padding: 8px;\n}\n\nh2 {\n  color: #909399;\n  font-size: 18px;\n  font-weight: bold;\n  padding: 8px;\n}\n</style>\n\n<script>\nconsole.log(\"Hello World!\");\n</script>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[980,60],"id":"3d9c6a99-3c80-49e4-b856-a962800bddcb","name":"HTML-Extract Data","alwaysOutputData":true},{"parameters":{"content":"## Cách 1: Sử dụng Extract html Content","height":420,"width":1180},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"a4be3635-d1b2-448e-930b-3fcdf2c226e8","name":"Sticky Note"},{"parameters":{"content":"## Cách 2: Sử dụng MCP fire crawl","height":400,"width":1180},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,460],"id":"157bd4fb-4faa-4054-a8af-9861c5b5c683","name":"Sticky Note1"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[80,740],"id":"a53bcd8c-a27a-41af-a2bd-a3993e545278","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"lTe5H2STyDQwBdwD","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Get HTML data":{"main":[[{"node":"Extract Data","type":"main","index":0}]]},"Extract Data":{"main":[[{"node":"Basic LLM Chain2","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Basic LLM Chain2":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"HTML-Extract Data","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0},{"node":"Get HTML data","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Markdown1","type":"main","index":0}]]},"Markdown1":{"main":[[{"node":"HTML-Firecrawl","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain2","type":"ai_languageModel","index":0},{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"f99aacd8-62cd-4e4f-b4f2-10ea7c0880c9","triggerCount":0,"tags":[]}