workflows/lấy bình luận bài viết page.json
{"createdAt":"2025-09-04T07:15:31.304Z","updatedAt":"2025-09-04T07:32:08.000Z","id":"Cp39X8ZXCiifWHB0","name":"lấy bình luận bài viết page","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1140,-160],"id":"06e4dec9-7e7d-450c-8d76-2f37c4f62eb1","name":"When clicking ‘Execute workflow’"},{"parameters":{"graphApiVersion":"v22.0","node":"me","edge":"feed","options":{}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-920,-160],"id":"a095cdfb-4d2a-450f-b996-5e9c4fbf13c5","name":"Facebook Graph API","credentials":{"facebookGraphApi":{"id":"h2sjIVg6QTRbNhFe","name":"hâto"}}},{"parameters":{"graphApiVersion":"v22.0","node":"={{ $json.data[24].id }}","edge":"comments?limit=200","options":{}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-620,-160],"id":"d56d6ae6-5e10-4ea0-917b-5665dd0068f1","name":"Facebook Graph API1","credentials":{"facebookGraphApi":{"id":"h2sjIVg6QTRbNhFe","name":"hâto"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1OUy-_6lvRII-lqE5oz7DlBplHKn6mKD-Zt1nd-llHMs/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"coment","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUy-_6lvRII-lqE5oz7DlBplHKn6mKD-Zt1nd-llHMs/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Thời gian":"={{ $json.created_time }}","comment":"={{ $json.message }}","id bình luận":"={{ $json.id }}"},"matchingColumns":[],"schema":[{"id":"Thời gian","displayName":"Thời gian","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"comment","displayName":"comment","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id bình luận","displayName":"id bình luận","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[320,-120],"id":"5fd7b3a1-a9d6-4f68-9c2a-ac5ce46fcc6c","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"N1JuFYKbntB3uUVa","name":"Google Sheets account okitabuffet"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-60,-160],"id":"ddd8b1e9-05f3-47d0-b09d-45353c987663","name":"Loop Over Items"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-400,-160],"id":"7a6c9a87-6c39-48ff-9501-84802962a962","name":"Split Out"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Facebook Graph API","type":"main","index":0}]]},"Facebook Graph API":{"main":[[{"node":"Facebook Graph API1","type":"main","index":0}]]},"Facebook Graph API1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Google Sheets","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c14dd542-96ca-4f99-8009-80a8f92cc287","triggerCount":0,"tags":[]}