workflows/My workflow 3.json
{"createdAt":"2025-06-02T06:22:03.695Z","updatedAt":"2025-06-11T07:01:51.000Z","id":"8HX78xxPhZ8n4ij4","name":"My workflow 3","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-520,-60],"id":"3ed78bc4-4553-4d21-ac7e-5b0f9b4a033a","name":"When chat message received","webhookId":"9b90ab45-fa0d-4ce8-8860-45d058d82199"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","hasOutputParser":true,"options":{"systemMessage":"tạo bức ảnh theo yêu cầu của người dùng"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-240,-60],"id":"105f4566-3301-43d3-8558-fda3548b5c29","name":"AI Agent","retryOnFail":false,"executeOnce":false},{"parameters":{"model":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"chatgpt-4o-latest"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-560,220],"id":"6bfa68e3-2ede-4b29-90b8-2075d9359a2a","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"dkX2MxFtgAR460Wo","name":"OpenAi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[180,220],"id":"c87af2a8-f95b-4bb1-91bf-18cef7f82229","name":"Structured Output Parser"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bfe8d3bb-d01e-4991-a7ed-a7b606c2ff96","triggerCount":0,"tags":[]}