workflows/My workflow.json
{"createdAt":"2025-06-02T03:27:47.700Z","updatedAt":"2025-06-02T03:31:26.000Z","id":"hksgVpGC4zW71Z6j","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"1bf559a2-3938-4991-a458-b80ac2365d57","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[2380,100],"typeVersion":1,"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"6cf546c5-5737-4dbd-851b-17d68e0a3780","name":"repo.owner","type":"string","value":"your-github-account"},{"id":"452efa28-2dc6-4ea3-a7a2-c35d100d0382","name":"repo.name","type":"string","value":"your-github-n8n-repo"},{"id":"81c4dc54-86bf-4432-a23f-22c7ea831e74","name":"repo.path","type":"string","value":"credentials"}]},"options":{}},"id":"76c4464f-0c1f-4296-bcfc-f74482215f00","name":"Globals","type":"n8n-nodes-base.set","position":[2620,100],"typeVersion":3.4,"disabled":true},{"parameters":{"content":"## Edit this node 👇\nrepo.owner = id github count\nrepo.name = github repo name","height":100,"width":270,"color":4},"id":"e72271c5-2e0c-48b1-a459-aa60d0da17be","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[2440,-20],"typeVersion":1,"disabled":true},{"parameters":{"url":"=https://api.github.com/repos/{{ $json.repo.owner }}/{{ $json.repo.name }}/contents/{{ $json.repo.path }}","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","options":{}},"id":"4698a497-8363-442c-8a4d-a664ac6f445d","name":"Get all files in given path","type":"n8n-nodes-base.httpRequest","position":[2840,100],"typeVersion":4.2,"disabled":true},{"parameters":{"fieldToSplitOut":"path","options":{}},"id":"db2a1a9e-77b6-4663-b883-5c54bdd33209","name":"Split the result","type":"n8n-nodes-base.splitOut","position":[2380,320],"typeVersion":1,"disabled":true},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"={{ $('Globals').item.json.repo.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Globals').item.json.repo.name }}","mode":"name"},"filePath":"={{ $('Get all files in given path').item.json.path }}","additionalParameters":{}},"id":"abf4fc54-4aa1-435c-af2a-6b5791f2a6de","name":"Get file content from GitHub","type":"n8n-nodes-base.github","position":[2620,320],"typeVersion":1,"alwaysOutputData":true,"webhookId":"5728564b-f59a-490c-b6f1-7f4be50f0e12","disabled":true},{"parameters":{"operation":"fromJson","options":{}},"id":"03f4de4e-d9fe-442e-8b38-432e9352ca50","name":"Convert files to JSON","type":"n8n-nodes-base.extractFromFile","position":[2840,320],"typeVersion":1,"disabled":true},{"parameters":{"resource":"credential","name":"={{ $json.data.name }}","credentialTypeName":"={{ $json.data.type }}","data":"={{ JSON.stringify($json.data.data) }}","requestOptions":{}},"id":"76e95522-b313-431b-bf26-f385d361c285","name":"Restore n8n Credentials","type":"n8n-nodes-base.n8n","position":[2660,600],"typeVersion":1,"disabled":true},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"ad031296-4ac0-4087-bc35-7975a2cc25e6","operator":{"type":"object","operation":"empty","singleValue":true},"leftValue":"={{ $json.data }}","rightValue":""},{"id":"ca912a57-6a4b-4b9a-be0e-37b69d3e4917","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $json.data.name }}","rightValue":"n8n account"},{"id":"f7c08cc3-e796-4451-8b63-cf8fa8a7b530","leftValue":"={{ $json.data.name }}","rightValue":"GitHub account","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"id":"7569a3cc-d9c7-4008-a0e5-01483dfa9ac0","name":"Check for skipped Credentials","type":"n8n-nodes-base.if","position":[2380,580],"typeVersion":2.2,"disabled":true},{"parameters":{"content":"https://www.youtube.com/channel/UCIhrU-hkXylBKX8MRaN_2iA/\nBase on bangank36's & agentstudio's work","height":80,"width":320,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2780,780],"id":"a20a3d39-33de-4827-9916-1a70b832a943","name":"Sticky Note"},{"parameters":{"content":"# KHÔI PHỤC CREDENTIALS TỪ GITHUB","height":80,"width":680},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2340,-200],"id":"c5b4d2ef-918a-4066-b716-d49a4b42f6af","name":"Sticky Note1"},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"063d51c7-0b7a-48a4-82b3-76b370fc4265","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $('Merge Github and n8n workflows - Keep only non existing workflows based on the name').item.json.name }}","rightValue":""}]},"options":{}},"id":"0c1dc90e-494c-4441-8eed-320331a0d5b7","name":"If workflow already exists","type":"n8n-nodes-base.if","position":[1660,140],"typeVersion":2},{"parameters":{"assignments":{"assignments":[{"id":"6be8c184-8fb7-47a9-ad42-d0dc3db1eea4","name":"name","type":"string","value":"={{ $json.name }}"}]},"options":{}},"id":"328ed8f2-3b12-45ac-b772-572d5553565d","name":"Set n8n existing workflows names","type":"n8n-nodes-base.set","position":[1120,260],"typeVersion":3.3},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"mode":"name","value":"={{$node[\"Globals1\"].json[\"repo\"][\"owner\"]}}"},"repository":{"__rl":true,"mode":"name","value":"={{$node[\"Globals1\"].json[\"repo\"][\"name\"]}}"},"filePath":"={{$node[\"Globals1\"].json[\"repo\"][\"path\"]}}"},"id":"c84418d4-1c37-4235-bdec-daa1fc0e552a","name":"GitHub - get all files","type":"n8n-nodes-base.github","position":[520,-80],"typeVersion":1,"webhookId":"58e87881-1bd0-41ee-a4c3-9cd684981342","credentials":{"githubApi":{"id":"dOaasjGBNoH4FrJ0","name":"GitHub account"}}},{"parameters":{"filters":{},"requestOptions":{}},"id":"b63539f3-f8ab-44d8-aa52-73ca3289f82d","name":"n8n - get all workflows","type":"n8n-nodes-base.n8n","position":[300,260],"typeVersion":1,"credentials":{"n8nApi":{"id":"L8UvGpcBeV2ZsrJe","name":"n8n account"}}},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $json.repo.owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $json.repo.name }}"},"filePath":"={{ $json.path }}","asBinaryProperty":false,"additionalParameters":{}},"id":"7ed73c6c-3d7d-4530-a621-222e39904bd4","name":"GitHub - get each file","type":"n8n-nodes-base.github","position":[940,40],"typeVersion":1,"webhookId":"2263f591-2168-4ca3-b0e6-1cc1204ebb2e","credentials":{"githubApi":{"id":"dOaasjGBNoH4FrJ0","name":"GitHub account"}}},{"parameters":{"assignments":{"assignments":[{"id":"714b0cfd-9f06-4e2f-b73d-30ef39dc40e3","name":"content","type":"string","value":"={{ $json.content.base64Decode() }}"},{"id":"6f48ed58-d55a-4ee4-8cf2-373941aaa341","name":"name","type":"string","value":"={{ $json.name.replace(\".json\", \"\") }}"}]},"options":{}},"id":"958c6679-f636-4983-9501-e0a5e0bbf2a6","name":"Set name and content","type":"n8n-nodes-base.set","position":[1140,40],"typeVersion":3.3},{"parameters":{"operation":"create","workflowObject":"={{ $('Set name and content').item.json.content }}","requestOptions":{}},"id":"5c50021a-b93e-4cee-800f-830f78333e0f","name":"n8n - create workflow","type":"n8n-nodes-base.n8n","position":[1980,120],"typeVersion":1,"credentials":{"n8nApi":{"id":"L8UvGpcBeV2ZsrJe","name":"n8n account"}}},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"b681b5f4-6776-4056-8626-7d713bcf25f9","name":"Merge globals and files","type":"n8n-nodes-base.merge","position":[740,40],"typeVersion":2.1},{"parameters":{"mode":"combine","mergeByFields":{"values":[{"field1":"name","field2":"name"}]},"joinMode":"keepNonMatches","outputDataFrom":"input1","options":{}},"id":"d676c148-f5db-486d-8901-e93668eeb7d4","name":"Merge Github and n8n workflows - Keep only non existing workflows based on the name","type":"n8n-nodes-base.merge","position":[1440,140],"typeVersion":2.1,"alwaysOutputData":true},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"hoangtiny"},{"name":"repo.name","value":"n8n-backup-restore"},{"name":"repo.path","value":"workflows"}]},"options":{}},"id":"162f12ae-bb29-4629-a4cd-91ae042664a7","name":"Globals1","type":"n8n-nodes-base.set","position":[300,60],"typeVersion":1},{"parameters":{"rule":{"interval":[{"field":"months"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-80,160],"id":"56d91347-a254-4b5d-b0a5-3a1e82ebccfc","name":"Schedule Trigger"},{"parameters":{"content":"# KHÔI PHỤC WORKFLOW TỪ GITHUB","height":80,"width":640},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[520,-200],"id":"165044bc-6505-4148-9c6b-c87df4763c91","name":"Sticky Note2"},{"parameters":{"content":"## Edit this node 👇\nrepo.owner = id github count\nrepo.name = github repo name","height":100,"width":310,"color":4},"id":"753c8212-54c6-493d-aa39-a402cb742e36","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[120,-60],"typeVersion":1,"disabled":true}],"connections":{"Globals":{"main":[[{"node":"Get all files in given path","type":"main","index":0}]]},"Split the result":{"main":[[{"node":"Get file content from GitHub","type":"main","index":0}]]},"Convert files to JSON":{"main":[[{"node":"Check for skipped Credentials","type":"main","index":0}]]},"Get all files in given path":{"main":[[{"node":"Split the result","type":"main","index":0}]]},"Get file content from GitHub":{"main":[[{"node":"Convert files to JSON","type":"main","index":0}]]},"Check for skipped Credentials":{"main":[[],[{"node":"Restore n8n Credentials","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Set name and content":{"main":[[{"node":"Merge Github and n8n workflows - Keep only non existing workflows based on the name","type":"main","index":0}]]},"GitHub - get all files":{"main":[[{"node":"Merge globals and files","type":"main","index":0}]]},"GitHub - get each file":{"main":[[{"node":"Set name and content","type":"main","index":0}]]},"Merge globals and files":{"main":[[{"node":"GitHub - get each file","type":"main","index":0}]]},"n8n - get all workflows":{"main":[[{"node":"Set n8n existing workflows names","type":"main","index":0}]]},"If workflow already exists":{"main":[[{"node":"n8n - create workflow","type":"main","index":0}]]},"Set n8n existing workflows names":{"main":[[{"node":"Merge Github and n8n workflows - Keep only non existing workflows based on the name","type":"main","index":1}]]},"Merge Github and n8n workflows - Keep only non existing workflows based on the name":{"main":[[{"node":"If workflow already exists","type":"main","index":0}]]},"Globals1":{"main":[[{"node":"GitHub - get all files","type":"main","index":0},{"node":"Merge globals and files","type":"main","index":1}]]},"Schedule Trigger":{"main":[[{"node":"Globals1","type":"main","index":0},{"node":"n8n - get all workflows","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f237249e-ae4e-4bdd-9663-68b282a8944d","triggerCount":0,"tags":[]}