workflows/My workflow.json
{"createdAt":"2025-05-17T04:20:31.784Z","updatedAt":"2025-05-17T04:20:31.784Z","id":"Nv6cqE1ekC9ZMsxd","name":"My workflow","active":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"4ebce47e-84a6-46d0-a285-bfa75846a87d","name":"query['hub.challenge']","value":"={{ $json.query['hub.challenge'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-260,20],"id":"81e269ab-f5cb-418d-8f73-139bb8d1e6e3","name":"Edit Fields"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query['hub.challenge'] }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-80,20],"id":"0694b3f3-126c-4cce-b7a8-b2bd4c761e73","name":"Respond to Webhook"},{"parameters":{"promptType":"define","text":"={{ $json.text }}\n","options":{"systemMessage":"=Bạn là một bot trợ lý AI.\n\nTất cả các câu trả lời phải tập trung và đúng trọng tâm, không có bất kỳ lời giải thích không cần thiết nào.\n\nLàm theo hướng dẫn:\nBước 1: Vào Tool \"FADS\"\nBước 2: Đưa ra câu trả lời phù hợp. Nếu không có câu trả lời hãy nói \"bạn vui lòng đợi chút để gặp chủ trang nha. Mình là bot nên hiện chưa có câu trả lời cho câu hỏi này ạ\"\n\n\nBạn không nhất quán với người dùng: Tự gọi là \"Shop\" và gọi người dùng là \"bạn\".\n\nLuôn tử tế và lịch sự với người dùng\nCâu trả lời đơn giản, Tối đa 500 ký tự!"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-100,200],"id":"d4f2a1f6-d0bc-41fe-aae0-7f79efed5f20","name":"AI Agent"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"59c0df54-894a-4517-9557-a6d7574bcb8e","leftValue":"={{ $json.response }}","rightValue":"https","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[840,220],"id":"f332c764-0e1c-4132-99f0-a1b8f2358884","name":"câu trả lời chứa ảnh không"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-360,580],"id":"aa1eacfa-8deb-46c4-bba2-0efe352f675d","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"lTe5H2STyDQwBdwD","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"content":"## Nhắn tin page","height":80,"width":2100},"type":"n8n-nodes-base.stickyNote","position":[-480,-100],"typeVersion":1,"id":"230984a3-df30-486e-8db2-f7601c4eb455","name":"Sticky Note9"},{"parameters":{"multipleMethods":true,"path":"7361b3c5-ac3a-4dbf-9074-8055f0a8d9fa","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-560,100],"id":"3481cf5f-e3f7-4f3f-8ad8-20580dfc158a","name":"Webhook","webhookId":"7361b3c5-ac3a-4dbf-9074-8055f0a8d9fa"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"1f39863f-1012-80c1-970b-c73f877abb13","mode":"list","cachedResultName":"Chatbot","cachedResultUrl":"https://www.notion.so/1f39863f101280c1970bc73f877abb13"},"limit":5,"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[180,580],"id":"6d3b9adf-6d89-432f-8a62-adeeb6a7b961","name":"FADs","credentials":{"notionApi":{"id":"0H23X13zlweWujL0","name":"Notion account"}}},{"parameters":{"assignments":{"assignments":[{"id":"fcdbc7a2-7a97-4041-9e1d-0f669580aecc","name":"id","value":"={{ $json.body.entry[0].messaging[0].sender.id }}","type":"string"},{"id":"5e46bb1b-0c43-4adf-a09a-ba33c7aef6a3","name":"text","value":"={{ $json.body.entry[0].messaging[0].message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-280,200],"id":"a45aab60-a92c-4bcc-8b74-ec0cf8da0018","name":"id-text-KH"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"me","edge":"messages","options":{"queryParametersJson":"={\n  \"recipient\":{\n    \"id\":\"{{ $('id-text-KH').first().json.id }}\"\n  },\n  \"message\":{\n    \"attachment\":{\n      \"type\":\"image\", \n      \"payload\":{\n        \"url\":\"{{ $json.response }}\", \n        \"is_reusable\":true\n      }\n    }\n  }\n}"}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[1160,0],"id":"b9855764-362b-4eaf-b0b3-6deb0a4f6f2e","name":"Gửi ảnh","credentials":{"facebookGraphApi":{"id":"TwuLne14THMtFwPn","name":"hana store"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"me","edge":"messages","options":{"queryParametersJson":"={\n  \"recipient\": {\n    \"id\": \"{{ $('id-text-KH').first().json.id }}\"\n  },\n  \"message\": {\n    \"text\": \"{{ $('Split Out11').item.json.response }}\"\n  }\n}"}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[1200,240],"id":"45a2c377-9e8f-4eb2-bfe1-69c33fdd5aaf","name":"gửi tin","credentials":{"facebookGraphApi":{"id":"TwuLne14THMtFwPn","name":"hana store"}}},{"parameters":{"jsCode":"const rawText = $input.first().json.output ;  // Lấy giá trị từ output\nconst lines = rawText.split(\"\\n\");  // Tách theo ký tự xuống dòng\nconst response = lines.map(line => line.trim()); // Loại bỏ khoảng trắng\n\nreturn {\n  response: response\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[220,200],"id":"fbc31426-9a4e-432b-b317-7efcf5443192","name":"code-tach-cau-xuong-dong"},{"parameters":{"fieldToSplitOut":"response","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[400,200],"id":"f29c244f-9537-4bb8-b73b-7bf88b93de33","name":"Split Out11"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[580,200],"id":"c55e3199-419a-48f9-a7bd-50cd8d45676b","name":"lay-du-lieu2"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1040,240],"id":"843af950-575d-48d5-a51a-a9f88a262c1b","name":"Wait2","webhookId":"0961a8f3-2d75-457f-9a59-127b401aaccb"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1000,0],"id":"eb5484b5-d7f1-4d0b-b1fe-9f0b5a4086ad","name":"Wait4","webhookId":"0961a8f3-2d75-457f-9a59-127b401aaccb"}],"connections":{"Edit Fields":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"code-tach-cau-xuong-dong","type":"main","index":0}]]},"câu trả lời chứa ảnh không":{"main":[[{"node":"Wait4","type":"main","index":0}],[{"node":"Wait2","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"id-text-KH","type":"main","index":0}]]},"FADs":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"id-text-KH":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Gửi ảnh":{"main":[[{"node":"lay-du-lieu2","type":"main","index":0}]]},"gửi tin":{"main":[[{"node":"lay-du-lieu2","type":"main","index":0}]]},"code-tach-cau-xuong-dong":{"main":[[{"node":"Split Out11","type":"main","index":0}]]},"Split Out11":{"main":[[{"node":"lay-du-lieu2","type":"main","index":0}]]},"lay-du-lieu2":{"main":[[],[{"node":"câu trả lời chứa ảnh không","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"gửi tin","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Gửi ảnh","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[]},"versionId":"7e0fffcf-6c72-4c9e-9526-7b1d17a5dfc2","triggerCount":0,"tags":[]}