workflows/My workflow 2.json
{"createdAt":"2025-05-23T13:50:32.393Z","updatedAt":"2025-05-24T04:55:16.000Z","id":"gfOVxeLizg1xe2dP","name":"My workflow 2","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-580,-60],"id":"6da75dd1-4178-4eed-a896-992ea6031da2","name":"When chat message received","webhookId":"0d9f2bca-bcae-4ea0-b0b8-28a6b95edf1c"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"Bạn là một trợ lý thông minh. Dữ liệu đơn hàng được lấy từ Google Sheets thông qua tool `getSheetData`.\n\nSử dụng tool `getSheetData` để đọc toàn bộ bảng dữ liệu, sau đó phân tích và trả lời câu hỏi của người dùng.\n\nTrả lời ngắn gọn, chính xác bằng tiếng Việt, có logic rõ ràng.\n\nNếu người dùng hỏi về số đơn hàng trong một tháng, hãy lọc theo cột ngày có trong bảng.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-200,-200],"id":"4a697f50-8fb5-400e-b5a2-fa90e1b720e4","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-200,80],"id":"67ccc2aa-0703-45bb-b2dd-49c83336a8bb","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"lTe5H2STyDQwBdwD","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Lấy dữ liệu Google Sheets để phân tích số lượng đơn theo tháng","documentId":{"__rl":true,"value":"1Yuwk40cyLhcC8AOgH2x8Zn4KSH87-xaF4XyUasoYBlA","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"2024","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Yuwk40cyLhcC8AOgH2x8Zn4KSH87-xaF4XyUasoYBlA/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[60,40],"id":"c72d3c4c-6275-4180-bf36-3948497d1f33","name":"getSheetData","credentials":{"googleSheetsOAuth2Api":{"id":"7bkqyISMa7JtlPHI","name":"okita1"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"getSheetData":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"891416ba-3d67-4df5-a481-57725d440f1c","triggerCount":1,"tags":[]}