workflows/My workflow 3.json
{"createdAt":"2025-06-02T06:22:03.695Z","updatedAt":"2025-06-03T03:18:11.000Z","id":"8HX78xxPhZ8n4ij4","name":"My workflow 3","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-740,-120],"id":"2b556191-612c-4775-b512-6cdce0b56b60","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"12xXVyBE5NVQ4gT1FGbKiHjy9kqGLiWaqyhtydBp0MWg","mode":"list","cachedResultName":"20250602 Data đến 16052025(oki)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12xXVyBE5NVQ4gT1FGbKiHjy9kqGLiWaqyhtydBp0MWg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":539991914,"mode":"list","cachedResultName":"Kuma","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12xXVyBE5NVQ4gT1FGbKiHjy9kqGLiWaqyhtydBp0MWg/edit#gid=539991914"},"filtersUI":{"values":[{"lookupColumn":"Giới tính"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-340,-120],"id":"4c450d74-c56f-4b39-ba00-4e28eb4f5c84","name":"Google Sheets2","credentials":{"googleSheetsOAuth2Api":{"id":"N1JuFYKbntB3uUVa","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"={{ $json['Tên khách hàng'] }}","options":{"systemMessage":"Hãy phân biệt giúp tôi đây là Nam hay Nữ. Nếu là Nam hãy trả lời \"Nam\"\nNếu là Nữ hãy trả lời \"Nữ\"\nNếu không thể xác định được giới tính hãy trả lời \"Không thể xác đinh\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[360,-100],"id":"59fc2f3c-ec21-40da-8803-6e6cd283678b","name":"AI Agent1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[0,-120],"id":"f455d605-e2f4-422a-8e1b-9234d751a344","name":"Loop Over Items1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[300,140],"id":"11e7c934-a898-4f11-9457-00fd58e7211d","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"dkX2MxFtgAR460Wo","name":"OpenAi account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"12xXVyBE5NVQ4gT1FGbKiHjy9kqGLiWaqyhtydBp0MWg","mode":"list","cachedResultName":"20250602 Data đến 16052025(oki)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12xXVyBE5NVQ4gT1FGbKiHjy9kqGLiWaqyhtydBp0MWg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":539991914,"mode":"list","cachedResultName":"Kuma","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12xXVyBE5NVQ4gT1FGbKiHjy9kqGLiWaqyhtydBp0MWg/edit#gid=539991914"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Google Sheets2').item.json.row_number }}","Giới tính":"={{ $json.output }}"},"matchingColumns":["row_number"],"schema":[{"id":"Tên khách hàng","displayName":"Tên khách hàng","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Giới tính","displayName":"Giới tính","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Thành phố/Thị xã ","displayName":"Thành phố/Thị xã ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phường ","displayName":"Phường ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Quốc Tịch ","displayName":"Quốc Tịch ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ngành nghề","displayName":"Ngành nghề","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SĐT","displayName":"SĐT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Loại thẻ","displayName":"Loại thẻ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Hạn thẻ","displayName":"Hạn thẻ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Địa điểm","displayName":"Địa điểm","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Thương hiệu ","displayName":"Thương hiệu ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ngày sinh","displayName":"Ngày sinh","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ngày làm thẻ","displayName":"Ngày làm thẻ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[920,-100],"id":"d2e4b4da-4535-4d77-95f1-6456ceb77be9","name":"Google Sheets3","credentials":{"googleSheetsOAuth2Api":{"id":"N1JuFYKbntB3uUVa","name":"Google Sheets account"}},"onError":"continueRegularOutput"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[720,-100],"id":"e3cdb8b4-a739-432b-b012-9fd0b98018de","name":"Wait1","webhookId":"389834a6-61e0-4715-8f5f-454d564bd26e"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"AI Agent1","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Google Sheets3":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Google Sheets3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"14644198-fe91-4966-b01c-98dac3d0d451","triggerCount":0,"tags":[]}