workflows/My workflow.json
{"createdAt":"2025-05-17T04:20:31.784Z","updatedAt":"2025-05-20T09:59:56.000Z","id":"Nv6cqE1ekC9ZMsxd","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## Nhắn tin page","height":80,"width":2100},"type":"n8n-nodes-base.stickyNote","position":[-480,-100],"typeVersion":1,"id":"230984a3-df30-486e-8db2-f7601c4eb455","name":"Sticky Note9"},{"parameters":{"jsCode":"const redis = require('redis');\nconst axios = require('axios');\n\n// Create Redis client\nconst client = redis.createClient({\n    socket: {\n        host: 'điền host vào đây',\n        port: 6379,\n        connectTimeout: 10000\n    },\n    password: 'điền pass vào đây',\n    database: 0\n});\n\n// Handle Redis errors\nclient.on('error', (err) => console.log('Redis Client Error:', err.message));\n\n// Debounce state\nlet debounceTimeout = null;\nconst DEBOUNCE_MS = 200000 // thay đổi timeout ở đây\nconst LIST_KEY = $('Webhook').first().json.body.entry[0].messaging[0].sender.id;\nconst WEBHOOK_URL = 'đưa webhook workflow fb vào đây'; // \nasync function processMessages() {\n    try {\n        // Read all messages from the list\n        const messages = await client.lRange(LIST_KEY, 0, -1);\n        console.log('Aggregated messages:', messages);\n\n        // Aggregate messages (as an array)\n        const aggregated = messages;\n        if(aggregated.length > 0){\n\n        // Delete the list by Little Excel\n          await client.del(LIST_KEY);\n          console.log(`Deleted list with key \"${LIST_KEY}\"`);\n  \n          // Send aggregated messages to webhook\n          const payload = { messages: aggregated,id:LIST_KEY,recipientId: $('Webhook').first().json.body.entry[0].messaging[0].recipient.id };\n          console.log('Sending to webhook:', payload);\n          const response = await axios.post(WEBHOOK_URL, payload, {\n              headers: { 'Content-Type': 'application/json' }\n          });\n          console.log('Webhook response:', response.status, response.data);\n  \n          // Return result\n          return [{\n              json: {\n                  success: true,\n                  aggregatedMessages: aggregated,\n                  webhookStatus: response.status,\n                  webhookResponse: response.data\n              }\n          }]\n        } else {return {data:\"Nhớ like, share, subscribe Little Excel nhé\"}}\n    } catch (err) {\n        console.error('Error processing messages:', err.message);\n        return [{ json: { success: false, error: err.message } }];\n    } finally {\n        // Disconnect\n        await client.quit().catch(() => {});\n    }\n}\n\n// Function to add message and reset debounce\nasync function addMessageAndDebounce(value) {\n    try {\n        // Connect to Redis\n        await client.connect();\n        console.log('Connected to Redis');\n\n        // Add message to list\n        await client.rPush(LIST_KEY, value);\n        console.log(`Added \"${value}\" to list with key \"${LIST_KEY}\"`);\n\n        // Clear existing timeout (if any)\n        if (debounceTimeout) {\n            clearTimeout(debounceTimeout);\n            console.log('Reset debounce timeout');\n        }\n\n        // Set new debounce timeout\n        debounceTimeout = setTimeout(async () => {\n            console.log('Debounce timeout triggered by little excel, processing messages...');\n            const result = await processMessages();\n            console.log('Debounce result:', result);\n        }, DEBOUNCE_MS);\n        console.log('Set debounce timeout for 15 seconds');\n\n        // Return immediate acknowledgment\n        return [{ json: { success: true, message: 'Message lilexcel added, debounce active' } }];\n    } catch (err) {\n        console.error('Error:', err.message);\n        await client.quit().catch(() => {});\n        return [{ json: { success: false, error: err.message } }];\n    }\n}\n\n// Get input message from n8n (assuming input from previous node)\nconst inputMessage = $('Webhook').first().json.body.entry[0].messaging[0].message.text \n\n// Execute\nreturn addMessageAndDebounce(inputMessage);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[280,80],"id":"dd042e7d-9d65-499f-a3c9-3ddd374dd4de","name":"Code"},{"parameters":{"multipleMethods":true,"path":"điền-path-vào-đây","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-100,60],"id":"063a7d77-b6a7-4eaf-9466-3aec31fd023c","name":"Webhook","webhookId":"2ae58f7f-28fd-4728-abd6-8019065e9570"},{"parameters":{"assignments":{"assignments":[{"id":"5dce3f0f-3567-4dc7-93fd-fb379057346c","name":"query['hub.challenge']","value":"={{ $json.query['hub.challenge'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[200,-160],"id":"f3655b6c-9ddb-4b2e-b65a-285744fc33e4","name":"Edit Fields"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query['hub.challenge'] }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[560,-160],"id":"047a54d8-7141-4098-b8a0-b232bb41d474","name":"Respond to Webhook"},{"parameters":{"respondWith":"text","responseBody":"OK","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[120,360],"id":"016ac13c-0181-4395-8630-a61d0befb8dd","name":"Respond to Webhook1"},{"parameters":{"modelName":"models/gemini-2.0-flash-001","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[720,2140],"id":"0f30964b-b9a5-4336-a1cf-7dd5b1a42445","name":"Google Gemini Chat Model"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[580,2640],"id":"cd2cf022-b7b0-4b3e-9218-419508ad71f5","name":"Wait","webhookId":"48d2e30d-12a7-4c0b-bb8f-d79364c17d02"},{"parameters":{"modelName":"models/gemini-1.5-flash-002","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1220,2180],"id":"5b1806a1-37ca-456a-8f84-5d3ff9cef671","name":"Google Gemini Chat Model1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"Username"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[560,1420],"id":"df475212-9c0f-41f6-a660-33e6bb1bc41a","name":"Aggregate"},{"parameters":{"documentId":{"__rl":true,"value":"","mode":"id"},"sheetName":{"__rl":true,"value":"","mode":"list","cachedResultName":"","cachedResultUrl":""}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[340,1420],"id":"30e91fd5-05d6-4ff5-9081-d1622e6c44b7","name":"getExcludedID","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f45cc6f5-53b0-4209-96dc-d7bd710af225","leftValue":"={{ $('Aggregate').first().json.Username }}","rightValue":"={{ $('getIdAndText').first().json.id }}","operator":{"type":"array","operation":"notContains","rightType":"any"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[760,1420],"id":"fae47d49-b8bf-4b32-9005-3172ed6742c3","name":"CheckIfIDInList"},{"parameters":{"url":"=","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[60,1980],"id":"43d6d175-67ee-4b22-8325-ecd0e54bfdc2","name":"getPastConvo"},{"parameters":{"jsCode":"let data = $('getPastConvo').first().json.data\nlet parse = JSON.stringify(JSON.parse(data).userData)\nreturn {data:parse}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[340,1980],"id":"0cfb3e96-9157-43df-ab94-9cb157a86209","name":"modifyPastConvo"},{"parameters":{"promptType":"define","text":"={{ $('getIdAndText').first().json.text }}","options":{"systemMessage":"=Bạn là một chatbot trợ lý hữu ích. Mục tiêu của bạn là trả lời câu hỏi hiện tại từ người dùng. Hãy giúp người dùng hết mức có thể, nhưng nhớ giữ câu trả lời đơn giản và không dài quá 1000 ký tự!. Nếu không có câu trả lời cho câu hỏi của người dùng, gợi ý hỏi \"bạn có muốn gặp chủ trang để được giúp đỡ không?\". Nếu người dùng không muốn, hãy cố gắng tiếp tục trả lời ngắn gọn. Nếu người dùng nói muốn gặp chủ trang, chỉ phản hồi \"Ok. Đang kết nối tới chủ trang, bạn chờ nhé!\", không nói gì thêm.\nVà đây là toàn bộ cuộc trò chuyện trước đó (userQuery là câu hỏi từ người dùng và AgentAnswer là câu trả lời trước đó của bạn):\n{{ $json.data }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[720,1980],"id":"7b0fb805-2488-4ea9-8a1e-77636e14b2ef","name":"generateAnswer","onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0157346c-f248-4d43-9ced-50580b2a38f2","leftValue":"={{ $('generateAnswer').first().json.output }}","rightValue":"Ok. Đang kết nối tới chủ trang, bạn chờ nhé","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1040,1400],"id":"8d3d75ed-2a49-453d-93e7-5c9b134a636f","name":"checkIfUserWantToSeeBoss"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"","mode":"id"},"sheetName":{"__rl":true,"value":1576305884,"mode":"list","cachedResultName":"Excluded","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pp96Ed4PLLKEemowmPMtAZss6yBzY9Ll-0d3fu0Z8RQ/edit#gid=1576305884"},"columns":{"mappingMode":"defineBelow","value":{"Username":"={{ $('getIdAndText').item.json.id }}"},"matchingColumns":["Username"],"schema":[{"id":"Username","displayName":"Username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1400,1380],"id":"1f25066c-5d59-4043-a6fd-961f45b12899","name":"addToExcludedList"},{"parameters":{"jsCode":"let data = {\n  \"user\":$('getIdAndText').first().json.id,\n  \"text\":{\n    \"user\": $(\"summarizeDataToStore\").first().json.output,\n    \"agent\":$('generateAnswer').first().json.output,\n  }\n}\nreturn {data:JSON.stringify(data)}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1640,2180],"id":"008ea3d9-9188-4dac-935d-f8155eed95fc","name":"modifyDataToStore"},{"parameters":{"promptType":"define","text":"={{ $('getIdAndText').first().json.text }}","options":{"systemMessage":"=Bạn là trợ lý chatbot đang trả lời tin nhắn từ người dùng. Tóm tắt yêu cầu hiện tại của người dùng, không vượt quá 1000 từ. Dưới đây là lịch sử trò chuyện để giúp bạn tóm tắt tốt hơn:\n{{ $('modifyPastConvo').item.json.data }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1200,1960],"id":"25395228-7911-414d-89ba-3a6429de30c7","name":"summarizeDataToStore","onError":"continueErrorOutput"},{"parameters":{"method":"POST","sendBody":true,"specifyBody":"json","jsonBody":"={{ $('modifyDataToStore').first().json.data }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,2400],"id":"53103ac4-7fcc-46fc-962c-2dba40f6b5f8","name":"storeNewData"},{"parameters":{"jsCode":"let output = $('generateAnswer').first().json.output\n\nreturn {output:JSON.stringify({\"text\":output})}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[600,2400],"id":"202d5679-a321-440d-bb30-3c09d574ae3b","name":"structureOutputToAnswer"},{"parameters":{"jsCode":"let pageToken\nif( $('getIdAndText').first().json.recipientId  == ''){\n  pageToken = ''\n} else {\n  pageToken = 'Điền pageToken2 hoặc handle thêm 1 if nữa cho pageID3...'}\nreturn {pageToken:pageToken}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[840,2400],"id":"cb2e170e-eb33-4e89-ab69-7e14acf370e4","name":"forMultiplePage"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $('getIdAndText').first().json.recipientId }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('forMultiplePage').first().json.pageToken }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"sender_action\":\"typing_on\",\"recipient\":{\"id\":\"{{ $('getIdAndText').first().json.id }}\"}} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,2640],"id":"abda5d95-f449-4bc9-a939-5a20c332a64d","name":"typingBoss"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $('getIdAndText').first().json.recipientId }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('forMultiplePage').first().json.pageToken }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"recipient\":{\"id\":\"{{ $('getIdAndText').first().json.id }}\"},\"message\":{{ $('structureOutputToAnswer').first().json.output }}} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[840,2640],"id":"d2257e3f-e58c-4ef3-bfc8-3b66cf504bcf","name":"answer"},{"parameters":{"jsCode":"let output = \"Úi AI lỗi rồi. Để mình gọi chủ trang ra, bạn chờ nhá TvT\"\nreturn {output:JSON.stringify({\"text\":output})}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1160,1680],"id":"5607d2c8-f688-4745-a0ce-164c676139d8","name":"structureOutputToAnswerError"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v22.0/{{ $('getIdAndText').first().json.recipientId }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('forMultiplePage1').first().json.pageToken }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"recipient\":{\"id\":\"{{ $('getIdAndText').first().json.id }}\"},\"message\":{{ $('structureOutputToAnswerError').first().json.output }}} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2040,1780],"id":"e7d27dfb-1ad2-4574-9b97-f66a5e61f870","name":"answerOnError"},{"parameters":{"jsCode":"let pageToken\nif($('getIdAndText').first().json.recipientId  == ''){\n  pageToken = ''\n} else {\n  pageToken = 'Điền pageToken2 hoặc handle thêm 1 if nữa cho pageID3...'}\nreturn {pageToken:pageToken}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1660,1780],"id":"cb21fb39-3f9b-456e-992d-8b08047b3654","name":"forMultiplePage1"},{"parameters":{"jsCode":"let arr = $input.first().json.body.messages\narr = arr.map(item => item + '. ').join('')\n\nreturn {text: arr,id:$input.first().json.body.id,recipientId: $input.first().json.body.recipientId }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-20,1420],"id":"c8cf7143-3c95-41e7-ae77-d5b4ffcea6c2","name":"getIdAndText"},{"parameters":{"multipleMethods":true,"path":"điền path vào đây","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-560,1200],"id":"c14d6e8c-2491-4a5b-971e-9b9655395b9e","name":"Webhook1","webhookId":"2ae58f7f-28fd-4728-abd6-8019065e9570"},{"parameters":{"assignments":{"assignments":[{"id":"5dce3f0f-3567-4dc7-93fd-fb379057346c","name":"query['hub.challenge']","value":"={{ $json.query['hub.challenge'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-40,980],"id":"b415847b-bd57-4df2-b865-5d85db2e206e","name":"Edit Fields1","disabled":true},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query['hub.challenge'] }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[320,980],"id":"3b708e49-73a2-4ab3-9cf5-3b1e355b41a4","name":"Respond to Webhook2","disabled":true},{"parameters":{"respondWith":"text","responseBody":"OK","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-20,1180],"id":"2ce19d17-66e8-4542-852a-fb3c116d2215","name":"Respond to Webhook3"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Respond to Webhook1","type":"main","index":0},{"node":"Code","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"generateAnswer","type":"ai_languageModel","index":0}]]},"Wait":{"main":[[{"node":"answer","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"summarizeDataToStore","type":"ai_languageModel","index":0}]]},"Aggregate":{"main":[[{"node":"CheckIfIDInList","type":"main","index":0}]]},"getExcludedID":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"CheckIfIDInList":{"main":[[{"node":"getPastConvo","type":"main","index":0}]]},"getPastConvo":{"main":[[{"node":"modifyPastConvo","type":"main","index":0}]]},"modifyPastConvo":{"main":[[{"node":"generateAnswer","type":"main","index":0}]]},"generateAnswer":{"main":[[{"node":"summarizeDataToStore","type":"main","index":0},{"node":"checkIfUserWantToSeeBoss","type":"main","index":0}],[{"node":"structureOutputToAnswerError","type":"main","index":0}]]},"checkIfUserWantToSeeBoss":{"main":[[{"node":"addToExcludedList","type":"main","index":0}]]},"modifyDataToStore":{"main":[[{"node":"storeNewData","type":"main","index":0}]]},"summarizeDataToStore":{"main":[[{"node":"modifyDataToStore","type":"main","index":0}],[{"node":"structureOutputToAnswerError","type":"main","index":0}]]},"storeNewData":{"main":[[{"node":"structureOutputToAnswer","type":"main","index":0}]]},"structureOutputToAnswer":{"main":[[{"node":"forMultiplePage","type":"main","index":0}]]},"forMultiplePage":{"main":[[{"node":"typingBoss","type":"main","index":0}]]},"typingBoss":{"main":[[{"node":"Wait","type":"main","index":0}]]},"structureOutputToAnswerError":{"main":[[{"node":"addToExcludedList","type":"main","index":0},{"node":"forMultiplePage1","type":"main","index":0}]]},"forMultiplePage1":{"main":[[{"node":"answerOnError","type":"main","index":0}]]},"getIdAndText":{"main":[[{"node":"getExcludedID","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Respond to Webhook3","type":"main","index":0},{"node":"getIdAndText","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"5158f2ad-1073-45d4-9957-bc1eadf6c556","triggerCount":0,"tags":[]}