workflows/nhắn tin v2.0.json
{"createdAt":"2025-05-20T07:30:04.800Z","updatedAt":"2025-05-27T04:56:38.000Z","id":"OvOvjw17cE9dmhHn","name":"nhắn tin v2.0","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=Câu hỏi user: {{ $('id-text-KH1').first().json.text }}\n","options":{"systemMessage":"=Bạn là một bot trợ lý AI.\n\n** Nhiệm vụ:\n- Trả lời câu hỏi của người dùng với dữ liệu được thêm vào\n- Tất cả các câu trả lời phải tập trung và đúng trọng tâm, không có bất kỳ lời giải thích không cần thiết nào.\n\n** Các bước thực hiện\n- bắt buộc vào tool \"FADs\" để tham khảo thông tin rồi mới đưa ra câu trả lời\n- Nếu không tìm thấy câu trả lời trong tool \"FADs\" hãy trả lời \"Mình là Bot hỗ trợ, hiện câu hỏi này mình chưa có thông tin trả lời. Bạn có muốn gặp chủ trang không?\". \n\nTrướng hợp khách hàng muốn gặp chủ trang, quản lý, người thật mà không phải bot hãy trả lời \"ok, bạn đợi chút, mình đã thông báo đến chủ trang rồi ạ\"\n\n\nBạn không nhất quán với người dùng: Tự gọi là \"Shop\" và gọi người dùng là \"bạn\".\n\n\nLuôn tử tế và lịch sự với người dùng\nCâu trả lời đơn giản, Tối đa 500 ký tự!\n\nCác ký hiệu xuống dòng \"\\n \\n\" hay \"\\n\\n\" phải chuyển về đúng định dạng \"\\n\"\n\nĐây là cuộc trò chuyện trước đó: {{ $('hoi-thoai-truoc').first().json.conversation }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1120,760],"id":"bd20a867-8616-47aa-bc72-8ec2ae974599","name":"AI Agent"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"59c0df54-894a-4517-9557-a6d7574bcb8e","leftValue":"={{ $json.response }}","rightValue":"https","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2920,1020],"id":"2c142d18-6d90-4f57-91ea-fadcbf70dbfa","name":"câu trả lời chứa ảnh không"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1060,980],"id":"6bfef2e4-b864-4d61-9254-3b1d81eaf17b","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"lTe5H2STyDQwBdwD","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"content":"## Nhắn tin page","height":80,"width":2100},"type":"n8n-nodes-base.stickyNote","position":[-1120,-820],"typeVersion":1,"id":"857a3fdf-888a-4b90-8f23-241da8402856","name":"Sticky Note9"},{"parameters":{"multipleMethods":true,"path":"messenger","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3280,560],"id":"0152429f-2844-4834-9856-bb7534b8f1f7","name":"Webhook","webhookId":"7361b3c5-ac3a-4dbf-9074-8055f0a8d9fa"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"me","edge":"messages","options":{"queryParametersJson":"={\n  \"recipient\": {\n    \"id\": \"{{ $('id-text-KH1').first().json.id }}\"\n  },\n  \"message\": {\n    \"text\": \"{{ $('Split Out11').item.json.response }}\"\n  }\n}"}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[3320,1040],"id":"5c86f71f-7835-445c-a76c-2ac768943c66","name":"gửi tin","credentials":{"facebookGraphApi":{"id":"TwuLne14THMtFwPn","name":"hana store"}}},{"parameters":{"jsCode":"const rawText = $input.first().json.output ;  // Lấy giá trị từ output\nconst lines = rawText.split(\"\\n\");  // Tách theo ký tự xuống dòng\nconst response = lines.map(line => line.trim()); // Loại bỏ khoảng trắng\n\nreturn {\n  response: response\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2040,980],"id":"bd0d1d97-98f0-4b0c-b46a-d7dbae5d9d3e","name":"code-tach-cau-xuong-dong"},{"parameters":{"fieldToSplitOut":"response","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2300,980],"id":"76d03846-c316-460c-94dd-ca73129ec713","name":"Split Out11"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2500,980],"id":"427e630a-ad13-46d1-a50f-a0ae8fb034d9","name":"lay-du-lieu2"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3120,1040],"id":"a67f6daa-1b50-4936-ae37-faa461540585","name":"Wait2","webhookId":"0961a8f3-2d75-457f-9a59-127b401aaccb"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3280,720],"id":"035466c9-038d-41b5-a175-fd40a4d2444d","name":"Wait4","webhookId":"0961a8f3-2d75-457f-9a59-127b401aaccb"},{"parameters":{"jsCode":"const text = $input.first().json.response;\n\n// Bắt tất cả URL có định dạng http hoặc https\nconst urlMatch = text.match(/https?:\\/\\/[^\\s]+/g);\nconst firstUrl = urlMatch ? urlMatch[0] : null;\n\n// Loại bỏ toàn bộ URL khỏi text\nconst cleanText = text.replace(/https?:\\/\\/[^\\s]+/g, '').trim();\n\nreturn [\n  {\n    json: {\n      url: firstUrl,\n      text: cleanText\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3740,740],"id":"23ff4a2d-5c59-41b7-8c7a-bfd878b78424","name":"Code"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"me","edge":"messages","options":{"queryParametersJson":"={\n  \"recipient\":{\n    \"id\":\"{{ $('id-text-KH1').first().json.id }}\"\n  },\n  \"message\":{\n    \"attachment\":{\n      \"type\":\"image\", \n      \"payload\":{\n        \"url\":\"{{ $('Code').first().json.url }}\", \n        \"is_reusable\":true\n      }\n    }\n  }\n}"}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[4020,720],"id":"99b09e68-36bb-4dc5-92cd-56afd0bc0b5d","name":"Gửi ảnh","credentials":{"facebookGraphApi":{"id":"TwuLne14THMtFwPn","name":"hana store"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"me","edge":"messages","options":{"queryParametersJson":"={\n  \"recipient\": {\n    \"id\": \"{{ $('id-text-KH1').first().json.id }}\"\n  },\n  \"message\": {\n    \"text\": \"{{ $('Code').first().json.text }}\"\n  }\n}"}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[4240,720],"id":"d1832c5b-3fb2-4fce-9c85-cd0ce945e8af","name":"gửi tin1","alwaysOutputData":false,"credentials":{"facebookGraphApi":{"id":"TwuLne14THMtFwPn","name":"hana store"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"fcdbc7a2-7a97-4041-9e1d-0f669580aecc","name":"id","value":"={{ $json.body.entry[0].messaging[0].sender.id }}","type":"string"},{"id":"5e46bb1b-0c43-4adf-a09a-ba33c7aef6a3","name":"text","value":"={{ $json.body.entry[0].messaging[0].message.text }}","type":"string"},{"id":"06d644fe-da0c-4449-a0e9-746c8ccaeae3","name":"id-sheet","value":"1WeLXWjl1utmpQ35nEzalF7g16bJ4OxN1Z0FJLMt_yKA","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2720,760],"id":"f3ceaf3a-9090-4ee0-b9cf-dacb068e3018","name":"id-text-KH1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1bd152a3-3826-4ba0-939f-40aae5a89729","leftValue":"={{ $('gop-id-loai-tru').first().json.ID}}","rightValue":"={{ $('id-text-KH1').first().json.id }}","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2160,760],"id":"f4d5572c-5756-42e5-9575-3c200f4f2375","name":"If"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('id-text-KH1').first().json['id-sheet'] }}","mode":"id"},"sheetName":{"__rl":true,"value":2137199776,"mode":"list","cachedResultName":"id loại trừ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WeLXWjl1utmpQ35nEzalF7g16bJ4OxN1Z0FJLMt_yKA/edit#gid=2137199776"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2500,760],"id":"7153dc47-8e69-41d5-8c69-7e6d4fa65a44","name":"lay-id-loai-tru","credentials":{"googleSheetsOAuth2Api":{"id":"7bkqyISMa7JtlPHI","name":"okita1"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"ID"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-2320,760],"id":"5ef3de7c-c3b9-46f6-b71b-6820708688cd","name":"gop-id-loai-tru"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('id-text-KH1').first().json['id-sheet'] }}","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"id nhắn tin đến","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WeLXWjl1utmpQ35nEzalF7g16bJ4OxN1Z0FJLMt_yKA/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1860,780],"id":"cf68cf82-0898-498c-92a4-19858b57efc5","name":"lay-id-tin-nhan-den","credentials":{"googleSheetsOAuth2Api":{"id":"7bkqyISMa7JtlPHI","name":"okita1"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"=ID"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1620,780],"id":"3b9166d4-331e-48bd-890b-cf9bacc97502","name":"gop-id-tin-nhan-den"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"97f3299c-a066-4df4-b00d-c8ebf8000b2f","leftValue":"={{ $('gop-id-tin-nhan-den').first().json.ID }}","rightValue":"={{ $('id-text-KH1').first().json.id }}","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1380,780],"id":"6e4e6ada-1607-4f1f-8072-4071903a8386","name":"If1"},{"parameters":{"operation":"create","documentId":{"__rl":true,"value":"={{ $('id-text-KH1').first().json['id-sheet'] }}","mode":"id"},"title":"={{ $('id-text-KH1').first().json.id }}","options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-580,1100],"id":"f2312ab6-faee-4f83-ba19-3aaf10760092","name":"tao-sheet","credentials":{"googleSheetsOAuth2Api":{"id":"7bkqyISMa7JtlPHI","name":"okita1"}}},{"parameters":{"method":"PUT","url":"=https://sheets.googleapis.com/v4/spreadsheets/{{ $('tao-sheet').first().json.spreadsheetId }}/values/{{ $('tao-sheet').first().json.title }}!A1:B1?valueInputOption=RAW","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"range\": \"{{ $('tao-sheet').first().json.title }}!A1:B1\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [\"Câu hỏi user\", \"Câu trả lời\"]\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-360,1120],"id":"62fbb189-f90a-416d-999d-df73556f1550","name":"HTTP Request","credentials":{"googleSheetsOAuth2Api":{"id":"7bkqyISMa7JtlPHI","name":"okita1"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('id-text-KH1').first().json['id-sheet'] }}","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"id nhắn tin đến","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WeLXWjl1utmpQ35nEzalF7g16bJ4OxN1Z0FJLMt_yKA/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $('id-text-KH1').first().json.id }}"},"matchingColumns":["ID"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-780,1120],"id":"3da8007d-b144-403d-ab55-e2ffae074c20","name":"them-id","credentials":{"googleSheetsOAuth2Api":{"id":"7bkqyISMa7JtlPHI","name":"okita1"}}},{"parameters":{"promptType":"define","text":"=Câu hỏi user: {{ $('id-text-KH1').first().json.text }}","options":{"systemMessage":"=Bạn là một bot trợ lý AI.\n\n** Nhiệm vụ:\n- Trả lời câu hỏi của người dùng với dữ liệu được thêm vào\n- Tất cả các câu trả lời phải tập trung và đúng trọng tâm, không có bất kỳ lời giải thích không cần thiết nào.\n\n** Các bước thực hiện\n- bắt buộc vào tool \"FADs\" để tham khảo thông tin rồi mới đưa ra câu trả lời\n- Nếu không tìm thấy câu trả lời trong tool \"FADs\" hãy trả lời \"Mình là Bot hỗ trợ, hiện câu hỏi này mình chưa có thông tin trả lời. Bạn có muốn gặp chủ trang không?\". \n\n\nBạn không nhất quán với người dùng: Tự gọi là \"Shop\" và gọi người dùng là \"bạn\".\n\n\nLuôn tử tế và lịch sự với người dùng\nCâu trả lời đơn giản, Tối đa 500 ký tự!\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1100,1260],"id":"0ad42664-4600-4b80-bb7b-8e60183684bd","name":"AI Agent1"},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-2960,760],"id":"510ec237-c4e2-410d-9139-201a6ca5e0f2","name":"Respond to Webhook1"},{"parameters":{"jsCode":"const dialogues = items\n  .filter(item => item.json[\"Câu hỏi user\"] && item.json[\"Câu trả lời\"])\n  .map(item => {\n    return `User: ${item.json[\"Câu hỏi user\"]}\\nBot: ${item.json[\"Câu trả lời\"]}`;\n  });\n\nreturn [\n  {\n    json: {\n      conversation: dialogues.join(\"\\n\\n\")\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[760,760],"id":"2def94f6-34b2-4629-b099-20c67443f7f5","name":"hoi-thoai-truoc"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('id-text-KH1').first().json['id-sheet'] }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('id-text-KH1').first().json.id }}","mode":"name"},"filtersUI":{"values":[{"lookupColumn":"={{ $('dữ liệu ').first().json['Câu trả lời'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[540,760],"id":"431ab448-66d5-4b35-973e-81da753e984c","name":"lấy dữ liệu câu hỏi trước","credentials":{"googleSheetsOAuth2Api":{"id":"7bkqyISMa7JtlPHI","name":"okita1"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Lấy dữ liệu","documentId":{"__rl":true,"value":"17ce881zuam84D2EB5wYhGtkT2X2TQG_KV_I_om6UXw8","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"FDAs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17ce881zuam84D2EB5wYhGtkT2X2TQG_KV_I_om6UXw8/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[1320,1000],"id":"391df27f-bd51-4007-8dcc-68324f01a496","name":"FADs","credentials":{"googleSheetsOAuth2Api":{"id":"7bkqyISMa7JtlPHI","name":"okita1"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e2fd6f9d-fe6f-47d0-bc7f-cdc5d0ba9701","leftValue":"={{ $('code-tach-cau-xuong-dong').item.json.response[0] }}","rightValue":"mình đã thông báo đến chủ trang","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3520,1040],"id":"b955b1e1-33b0-4dac-8ab5-cb00a8517589","name":"If2"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('id-text-KH1').first().json['id-sheet'] }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('id-text-KH1').first().json['id'] }}","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Câu hỏi user":"={{ $('id-text-KH1').first().json.text }}","Câu trả lời":"={{ $('AI Agent').first().json.output }}"},"matchingColumns":[],"schema":[{"id":"Câu hỏi user","displayName":"Câu hỏi user","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Câu trả lời","displayName":"Câu trả lời","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1780,560],"id":"9a0bba08-504e-40c0-a6d6-df08e8c7902a","name":"Điền cuộc trò truyện","credentials":{"googleSheetsOAuth2Api":{"id":"7bkqyISMa7JtlPHI","name":"okita1"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('id-text-KH1').first().json['id-sheet'] }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('id-text-KH1').first().json['id'] }}","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Câu hỏi user":"={{ $('id-text-KH1').first().json.text }}","Câu trả lời":"={{ $('AI Agent1').first().json.output }}"},"matchingColumns":[],"schema":[{"id":"Câu hỏi user","displayName":"Câu hỏi user","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Câu trả lời","displayName":"Câu trả lời","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1640,1380],"id":"69b13a91-dfca-442e-86e1-92647c6d97ac","name":"điền cuộc trò truyện vào","credentials":{"googleSheetsOAuth2Api":{"id":"7bkqyISMa7JtlPHI","name":"okita1"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query['hub.challenge'] }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-2700,380],"id":"536b17c9-a681-42bb-a824-fcf767626294","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"4ebce47e-84a6-46d0-a285-bfa75846a87d","name":"query['hub.challenge']","value":"={{ $json.query['hub.challenge'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2960,380],"id":"a9759582-b3f8-44e9-a803-ddb93680d92c","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-560,340],"id":"b27360e6-3427-4a74-864f-8130ad97a4d0","name":"Wait1","webhookId":"287c7ee5-3b13-4623-bbb2-0794624d7169"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('id-text-KH1').first().json['id-sheet'] }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('id-text-KH1').first().json.id }}","mode":"name"},"filtersUI":{"values":[{"lookupColumn":"Câu trả lời","lookupValue":"="}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-900,340],"id":"24349392-269f-470e-8200-4763ddb306f9","name":"dữ liệu ","credentials":{"googleSheetsOAuth2Api":{"id":"7bkqyISMa7JtlPHI","name":"okita1"}}},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('id-text-KH1').first().json['id-sheet'] }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('id-text-KH1').first().json.id }}","mode":"name"},"filtersUI":{"values":[{"lookupColumn":"Câu trả lời"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-380,340],"id":"d6ca8645-e9be-4587-b769-4901755ac80c","name":"dữ liệu 2","credentials":{"googleSheetsOAuth2Api":{"id":"7bkqyISMa7JtlPHI","name":"okita1"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"199661d5-53a5-48da-a073-dd48870ed6c8","leftValue":"={{ $('gom 1').first().json.conversation }}","rightValue":"={{ $('gom 2').first().json.conversation }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-60,340],"id":"61d085d6-42e3-44b2-88c6-79840ef4da70","name":"If6"},{"parameters":{"jsCode":"const dialogues = items\n  .filter(item => item.json[\"Câu hỏi user\"])\n  .map(item => {\n    return `${item.json[\"Câu hỏi user\"]}`;\n  });\n\nreturn [\n  {\n    json: {\n      conversation: dialogues.join(\".\")\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-720,340],"id":"2a984805-7454-4b29-92f8-cbccb81727c9","name":"gom 1"},{"parameters":{"jsCode":"const dialogues = items\n  .filter(item => item.json[\"Câu hỏi user\"])\n  .map(item => {\n    return `${item.json[\"Câu hỏi user\"]}`;\n  });\n\nreturn [\n  {\n    json: {\n      conversation: dialogues.join(\".\")\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-220,340],"id":"c58f1144-f7c4-49e1-a0bf-0250678199ed","name":"gom 2"},{"parameters":{"operation":"clear","documentId":{"__rl":true,"value":"={{ $('id-text-KH1').first().json['id-sheet'] }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('id-text-KH1').first().json.id }}","mode":"id"},"clear":"specificRows","startIndex":"={{ $('dữ liệu 2').first().json.row_number }}","rowsToDelete":"={{ $('dữ liệu 2').all().length }}\n"},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[180,320],"id":"eb93a5f5-a342-437f-8c5b-25321405f87f","name":"xóa dữ liệu","credentials":{"googleSheetsOAuth2Api":{"id":"7bkqyISMa7JtlPHI","name":"okita1"}}},{"parameters":{"content":"## gom câu hỏi của khách hàng, sau 10s ","height":400,"width":1800},"type":"n8n-nodes-base.stickyNote","position":[-1280,180],"typeVersion":1,"id":"bef74615-21bb-4d8e-8801-7a7ea646ef2f","name":"Sticky Note"},{"parameters":{"content":"## tạo sheet dữ liệu nếu chưa có","height":400,"width":820},"type":"n8n-nodes-base.stickyNote","position":[-880,960],"typeVersion":1,"id":"c1703e95-1d2f-4122-adec-ea7be106eb0c","name":"Sticky Note1"},{"parameters":{"content":"## Gom thành cuộc hội thoại từ trước tới nay","height":320,"width":640},"type":"n8n-nodes-base.stickyNote","position":[300,620],"typeVersion":1,"id":"c8858338-2aee-4a0b-9169-763325b07043","name":"Sticky Note2"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('id-text-KH1').first().json['id-sheet'] }}","mode":"id"},"sheetName":{"__rl":true,"value":"id loại trừ","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $json.recipient_id }}"},"matchingColumns":["ID"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[4160,1280],"id":"47c790ac-a4a6-4293-af64-749353156c6f","name":"add vào loại trư","credentials":{"googleSheetsOAuth2Api":{"id":"7bkqyISMa7JtlPHI","name":"okita1"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('id-text-KH1').first().json['id-sheet'] }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('id-text-KH1').first().json['id'] }}","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Câu hỏi user":"={{ $('id-text-KH1').first().json.text }}"},"matchingColumns":[],"schema":[{"id":"Câu hỏi user","displayName":"Câu hỏi user","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Câu trả lời","displayName":"Câu trả lời","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1060,340],"id":"1f648063-6dfb-4895-aad9-53d4347efe60","name":"Điền cuộc trò truyện2","credentials":{"googleSheetsOAuth2Api":{"id":"7bkqyISMa7JtlPHI","name":"okita1"}}}],"connections":{"AI Agent":{"main":[[{"node":"Điền cuộc trò truyện","type":"main","index":0},{"node":"code-tach-cau-xuong-dong","type":"main","index":0}]]},"câu trả lời chứa ảnh không":{"main":[[{"node":"Wait4","type":"main","index":0}],[{"node":"Wait2","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0},{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Respond to Webhook1","type":"main","index":0}]]},"gửi tin":{"main":[[{"node":"If2","type":"main","index":0}]]},"code-tach-cau-xuong-dong":{"main":[[{"node":"Split Out11","type":"main","index":0}]]},"Split Out11":{"main":[[{"node":"lay-du-lieu2","type":"main","index":0}]]},"lay-du-lieu2":{"main":[[],[{"node":"câu trả lời chứa ảnh không","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"gửi tin","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Gửi ảnh","type":"main","index":0}]]},"Gửi ảnh":{"main":[[{"node":"gửi tin1","type":"main","index":0}]]},"gửi tin1":{"main":[[{"node":"lay-du-lieu2","type":"main","index":0}]]},"id-text-KH1":{"main":[[{"node":"lay-id-loai-tru","type":"main","index":0}]]},"lay-id-loai-tru":{"main":[[{"node":"gop-id-loai-tru","type":"main","index":0}]]},"gop-id-loai-tru":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[],[{"node":"lay-id-tin-nhan-den","type":"main","index":0}]]},"lay-id-tin-nhan-den":{"main":[[{"node":"gop-id-tin-nhan-den","type":"main","index":0}]]},"gop-id-tin-nhan-den":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Điền cuộc trò truyện2","type":"main","index":0}],[{"node":"them-id","type":"main","index":0}]]},"tao-sheet":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"them-id":{"main":[[{"node":"tao-sheet","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"code-tach-cau-xuong-dong","type":"main","index":0},{"node":"điền cuộc trò truyện vào","type":"main","index":0}]]},"Respond to Webhook1":{"main":[[{"node":"id-text-KH1","type":"main","index":0}]]},"hoi-thoai-truoc":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"lấy dữ liệu câu hỏi trước":{"main":[[{"node":"hoi-thoai-truoc","type":"main","index":0}]]},"FADs":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0},{"node":"AI Agent1","type":"ai_tool","index":0}]]},"If2":{"main":[[{"node":"add vào loại trư","type":"main","index":0}],[{"node":"lay-du-lieu2","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"dữ liệu ":{"main":[[{"node":"gom 1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"dữ liệu 2","type":"main","index":0}]]},"dữ liệu 2":{"main":[[{"node":"gom 2","type":"main","index":0}]]},"gom 1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"gom 2":{"main":[[{"node":"If6","type":"main","index":0}]]},"If6":{"main":[[{"node":"xóa dữ liệu","type":"main","index":0}],[]]},"xóa dữ liệu":{"main":[[{"node":"lấy dữ liệu câu hỏi trước","type":"main","index":0}]]},"Điền cuộc trò truyện2":{"main":[[{"node":"dữ liệu ","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[]},"versionId":"492c6310-13d3-4f81-8a5f-36282b1e2a6b","triggerCount":1,"tags":[]}