workflows/nhắn tin v2.0.json
{"createdAt":"2025-05-20T07:30:04.800Z","updatedAt":"2025-05-20T10:01:36.000Z","id":"OvOvjw17cE9dmhHn","name":"nhắn tin v2.0","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"4ebce47e-84a6-46d0-a285-bfa75846a87d","name":"query['hub.challenge']","value":"={{ $json.query['hub.challenge'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,20],"id":"a9759582-b3f8-44e9-a803-ddb93680d92c","name":"Edit Fields"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query['hub.challenge'] }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[480,0],"id":"536b17c9-a681-42bb-a824-fcf767626294","name":"Respond to Webhook"},{"parameters":{"promptType":"define","text":"={{ $('id-text-KH1').first().json.text }}\n","options":{"systemMessage":"=Bạn là một bot trợ lý AI.\n\nTất cả các câu trả lời phải tập trung và đúng trọng tâm, không có bất kỳ lời giải thích không cần thiết nào.\n\nLàm theo hướng dẫn: Luôn vào tool \"FADs\" trước khi trả lời. Nếu không có câu trả lời hãy nói \"bạn vui lòng đợi chút để gặp chủ trang nha. Mình là bot nên hiện chưa có câu trả lời cho câu hỏi này ạ\"\n\n\nBạn không nhất quán với người dùng: Tự gọi là \"Shop\" và gọi người dùng là \"bạn\".\n\nChuyển tất cả các xuống dòng \"\\n \\n\" hay \"\\\\nn\" về dạng \"\\n\"\n\nLuôn tử tế và lịch sự với người dùng\nCâu trả lời đơn giản, Tối đa 500 ký tự!\n\nĐây là đoạn hội thoại trước đó \nCâu hỏi: {{ $('gom-cauhoi-traloi').first().json['Câu hỏi user'] }}\nCâu trả lời: {{ $('gom-cauhoi-traloi').first().json['Câu trả lời'] }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[520,700],"id":"bd20a867-8616-47aa-bc72-8ec2ae974599","name":"AI Agent"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"59c0df54-894a-4517-9557-a6d7574bcb8e","leftValue":"={{ $json.response }}","rightValue":"https","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1960,960],"id":"2c142d18-6d90-4f57-91ea-fadcbf70dbfa","name":"câu trả lời chứa ảnh không"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[500,900],"id":"6bfef2e4-b864-4d61-9254-3b1d81eaf17b","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"lTe5H2STyDQwBdwD","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"content":"## Nhắn tin page","height":80,"width":2100},"type":"n8n-nodes-base.stickyNote","position":[-220,-80],"typeVersion":1,"id":"857a3fdf-888a-4b90-8f23-241da8402856","name":"Sticky Note9"},{"parameters":{"multipleMethods":true,"path":"messenger","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-620,160],"id":"0152429f-2844-4834-9856-bb7534b8f1f7","name":"Webhook","webhookId":"7361b3c5-ac3a-4dbf-9074-8055f0a8d9fa"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"1f39863f-1012-80c1-970b-c73f877abb13","mode":"list","cachedResultName":"Chatbot","cachedResultUrl":"https://www.notion.so/1f39863f101280c1970bc73f877abb13"},"limit":5,"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[780,940],"id":"0843061e-9f62-466b-8156-77d41059a8eb","name":"FADs","credentials":{"notionApi":{"id":"0H23X13zlweWujL0","name":"Notion account"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"me","edge":"messages","options":{"queryParametersJson":"={\n  \"recipient\": {\n    \"id\": \"{{ $('id-text-KH1').first().json.id }}\"\n  },\n  \"message\": {\n    \"text\": \"{{ $('Split Out11').item.json.response }}\"\n  }\n}"}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[2380,980],"id":"5c86f71f-7835-445c-a76c-2ac768943c66","name":"gửi tin","credentials":{"facebookGraphApi":{"id":"TwuLne14THMtFwPn","name":"hana store"}}},{"parameters":{"jsCode":"const rawText = $input.first().json.output ;  // Lấy giá trị từ output\nconst lines = rawText.split(\"abc\");  // Tách theo ký tự xuống dòng\nconst response = lines.map(line => line.trim()); // Loại bỏ khoảng trắng\n\nreturn {\n  response: response\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,980],"id":"bd0d1d97-98f0-4b0c-b46a-d7dbae5d9d3e","name":"code-tach-cau-xuong-dong"},{"parameters":{"fieldToSplitOut":"response","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1480,940],"id":"76d03846-c316-460c-94dd-ca73129ec713","name":"Split Out11"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1700,940],"id":"427e630a-ad13-46d1-a50f-a0ae8fb034d9","name":"lay-du-lieu2"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2160,980],"id":"a67f6daa-1b50-4936-ae37-faa461540585","name":"Wait2","webhookId":"0961a8f3-2d75-457f-9a59-127b401aaccb"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2320,660],"id":"035466c9-038d-41b5-a175-fd40a4d2444d","name":"Wait4","webhookId":"0961a8f3-2d75-457f-9a59-127b401aaccb"},{"parameters":{"jsCode":"const text = $input.first().json.response;\n\n// Bắt tất cả URL có định dạng http hoặc https\nconst urlMatch = text.match(/https?:\\/\\/[^\\s]+/g);\nconst firstUrl = urlMatch ? urlMatch[0] : null;\n\n// Loại bỏ toàn bộ URL khỏi text\nconst cleanText = text.replace(/https?:\\/\\/[^\\s]+/g, '').trim();\n\nreturn [\n  {\n    json: {\n      url: firstUrl,\n      text: cleanText\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2560,680],"id":"23ff4a2d-5c59-41b7-8c7a-bfd878b78424","name":"Code"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"me","edge":"messages","options":{"queryParametersJson":"={\n  \"recipient\":{\n    \"id\":\"{{ $('id-text-KH1').first().json.id }}\"\n  },\n  \"message\":{\n    \"attachment\":{\n      \"type\":\"image\", \n      \"payload\":{\n        \"url\":\"{{ $('Code').first().json.url }}\", \n        \"is_reusable\":true\n      }\n    }\n  }\n}"}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[2840,660],"id":"99b09e68-36bb-4dc5-92cd-56afd0bc0b5d","name":"Gửi ảnh","credentials":{"facebookGraphApi":{"id":"TwuLne14THMtFwPn","name":"hana store"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"me","edge":"messages","options":{"queryParametersJson":"={\n  \"recipient\": {\n    \"id\": \"{{ $('id-text-KH1').first().json.id }}\"\n  },\n  \"message\": {\n    \"text\": \"{{ $('Code').first().json.text }}\"\n  }\n}"}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[3060,660],"id":"d1832c5b-3fb2-4fce-9c85-cd0ce945e8af","name":"gửi tin1","alwaysOutputData":false,"credentials":{"facebookGraphApi":{"id":"TwuLne14THMtFwPn","name":"hana store"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"fcdbc7a2-7a97-4041-9e1d-0f669580aecc","name":"id","value":"={{ $json.body.entry[0].messaging[0].sender.id }}","type":"string"},{"id":"5e46bb1b-0c43-4adf-a09a-ba33c7aef6a3","name":"text","value":"={{ $json.body.entry[0].messaging[0].message.text }}","type":"string"},{"id":"06d644fe-da0c-4449-a0e9-746c8ccaeae3","name":"id-sheet","value":"1WeLXWjl1utmpQ35nEzalF7g16bJ4OxN1Z0FJLMt_yKA","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[40,300],"id":"f3ceaf3a-9090-4ee0-b9cf-dacb068e3018","name":"id-text-KH1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1bd152a3-3826-4ba0-939f-40aae5a89729","leftValue":"={{ $json.ID }}","rightValue":"={{ $('id-text-KH1').first().json.id }}","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[720,280],"id":"f4d5572c-5756-42e5-9575-3c200f4f2375","name":"If"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('id-text-KH1').first().json['id-sheet'] }}","mode":"id"},"sheetName":{"__rl":true,"value":2137199776,"mode":"list","cachedResultName":"id loại trừ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WeLXWjl1utmpQ35nEzalF7g16bJ4OxN1Z0FJLMt_yKA/edit#gid=2137199776"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[280,280],"id":"7153dc47-8e69-41d5-8c69-7e6d4fa65a44","name":"lay-id-loai-tru","credentials":{"googleSheetsOAuth2Api":{"id":"7bkqyISMa7JtlPHI","name":"okita1"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"ID"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[500,280],"id":"5ef3de7c-c3b9-46f6-b71b-6820708688cd","name":"gop-id-loai-tru"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('id-text-KH1').first().json['id-sheet'] }}","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"id nhắn tin đến","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WeLXWjl1utmpQ35nEzalF7g16bJ4OxN1Z0FJLMt_yKA/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[940,380],"id":"cf68cf82-0898-498c-92a4-19858b57efc5","name":"lay-id-tin-nhan-den","credentials":{"googleSheetsOAuth2Api":{"id":"7bkqyISMa7JtlPHI","name":"okita1"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"=ID"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1140,380],"id":"3b9166d4-331e-48bd-890b-cf9bacc97502","name":"gop-id-tin-nhan-den"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"97f3299c-a066-4df4-b00d-c8ebf8000b2f","leftValue":"={{ $('gop-id-tin-nhan-den').first().json.ID }}","rightValue":"={{ $('id-text-KH1').first().json.id }}","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-600,900],"id":"6e4e6ada-1607-4f1f-8072-4071903a8386","name":"If1"},{"parameters":{"operation":"create","documentId":{"__rl":true,"value":"={{ $('id-text-KH1').first().json['id-sheet'] }}","mode":"id"},"title":"={{ $('id-text-KH1').first().json.id }}","options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-120,1080],"id":"f2312ab6-faee-4f83-ba19-3aaf10760092","name":"tao-sheet","credentials":{"googleSheetsOAuth2Api":{"id":"7bkqyISMa7JtlPHI","name":"okita1"}}},{"parameters":{"method":"PUT","url":"=https://sheets.googleapis.com/v4/spreadsheets/{{ $('tao-sheet').first().json.spreadsheetId }}/values/{{ $('tao-sheet').first().json.title }}!A1:B1?valueInputOption=RAW","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"range\": \"{{ $('tao-sheet').first().json.title }}!A1:B1\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [\"Câu hỏi user\", \"Câu trả lời\"]\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[100,1080],"id":"62fbb189-f90a-416d-999d-df73556f1550","name":"HTTP Request","credentials":{"googleSheetsOAuth2Api":{"id":"7bkqyISMa7JtlPHI","name":"okita1"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('id-text-KH1').first().json['id-sheet'] }}","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"id nhắn tin đến","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WeLXWjl1utmpQ35nEzalF7g16bJ4OxN1Z0FJLMt_yKA/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $('id-text-KH1').first().json.id }}"},"matchingColumns":["ID"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-340,1080],"id":"3da8007d-b144-403d-ab55-e2ffae074c20","name":"them-id","credentials":{"googleSheetsOAuth2Api":{"id":"7bkqyISMa7JtlPHI","name":"okita1"}}},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('id-text-KH1').first().json['id-sheet'] }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('id-text-KH1').first().json.id }}","mode":"name"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-320,860],"id":"431ab448-66d5-4b35-973e-81da753e984c","name":"lấy dữ liệu câu hỏi trước","credentials":{"googleSheetsOAuth2Api":{"id":"7bkqyISMa7JtlPHI","name":"okita1"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"Câu hỏi user"},{"fieldToAggregate":"Câu trả lời"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-80,860],"id":"741d73a7-1ed7-458b-a911-d930642eb203","name":"gom-cauhoi-traloi","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('id-text-KH1').first().json['id-sheet'] }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('id-text-KH1').first().json['id'] }}","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Câu hỏi user":"={{ $('id-text-KH1').first().json.text }}","Câu trả lời":"={{ $('AI Agent').first().json.output }}"},"matchingColumns":[],"schema":[{"id":"Câu hỏi user","displayName":"Câu hỏi user","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Câu trả lời","displayName":"Câu trả lời","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1200,640],"id":"9a0bba08-504e-40c0-a6d6-df08e8c7902a","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"7bkqyISMa7JtlPHI","name":"okita1"}}},{"parameters":{"promptType":"define","text":"={{ $('id-text-KH1').first().json.text }}\n","options":{"systemMessage":"=Bạn là một bot trợ lý AI.\n\nTất cả các câu trả lời phải tập trung và đúng trọng tâm, không có bất kỳ lời giải thích không cần thiết nào.\n\nLàm theo hướng dẫn: Luôn vào tool \"FADs\" trước khi trả lời. Nếu không có câu trả lời hãy nói \"bạn vui lòng đợi chút để gặp chủ trang nha. Mình là bot nên hiện chưa có câu trả lời cho câu hỏi này ạ\"\n\n\nBạn không nhất quán với người dùng: Tự gọi là \"Shop\" và gọi người dùng là \"bạn\".\n\nChuyển tất cả các xuống dòng \"\\n \\n\" hay \"\\\\nn\" về dạng \"\\n\"\n\nLuôn tử tế và lịch sự với người dùng\nCâu trả lời đơn giản, Tối đa 500 ký tự!\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[520,1160],"id":"0ad42664-4600-4b80-bb7b-8e60183684bd","name":"AI Agent1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('id-text-KH1').first().json['id-sheet'] }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('id-text-KH1').first().json['id'] }}","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Câu hỏi user":"={{ $('id-text-KH1').first().json.text }}","Câu trả lời":"={{ $('AI Agent1').first().json.output }}"},"matchingColumns":[],"schema":[{"id":"Câu hỏi user","displayName":"Câu hỏi user","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Câu trả lời","displayName":"Câu trả lời","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1200,1260],"id":"69b13a91-dfca-442e-86e1-92647c6d97ac","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"7bkqyISMa7JtlPHI","name":"okita1"}}},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-240,300],"id":"510ec237-c4e2-410d-9139-201a6ca5e0f2","name":"Respond to Webhook1"},{"parameters":{"url":"=https://sheets.googleapis.com/v4/spreadsheets/1WeLXWjl1utmpQ35nEzalF7g16bJ4OxN1Z0FJLMt_yKA/values/29932610199655617!A:B","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-400,640],"id":"c0965177-8943-4606-8ceb-13e3276c7d59","name":"HTTP Request1","credentials":{"googleSheetsOAuth2Api":{"id":"7bkqyISMa7JtlPHI","name":"okita1"}}}],"connections":{"Edit Fields":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Google Sheets","type":"main","index":0},{"node":"code-tach-cau-xuong-dong","type":"main","index":0}]]},"câu trả lời chứa ảnh không":{"main":[[{"node":"Wait4","type":"main","index":0}],[{"node":"Wait2","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0},{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Respond to Webhook1","type":"main","index":0}]]},"FADs":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0},{"node":"AI Agent1","type":"ai_tool","index":0}]]},"gửi tin":{"main":[[]]},"code-tach-cau-xuong-dong":{"main":[[{"node":"Split Out11","type":"main","index":0}]]},"Split Out11":{"main":[[{"node":"lay-du-lieu2","type":"main","index":0}]]},"lay-du-lieu2":{"main":[[],[{"node":"câu trả lời chứa ảnh không","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"gửi tin","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Gửi ảnh","type":"main","index":0}]]},"Gửi ảnh":{"main":[[{"node":"gửi tin1","type":"main","index":0}]]},"gửi tin1":{"main":[[]]},"id-text-KH1":{"main":[[{"node":"lay-id-loai-tru","type":"main","index":0}]]},"lay-id-loai-tru":{"main":[[{"node":"gop-id-loai-tru","type":"main","index":0}]]},"gop-id-loai-tru":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[],[{"node":"lay-id-tin-nhan-den","type":"main","index":0}]]},"lay-id-tin-nhan-den":{"main":[[{"node":"gop-id-tin-nhan-den","type":"main","index":0}]]},"gop-id-tin-nhan-den":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"lấy dữ liệu câu hỏi trước","type":"main","index":0}],[{"node":"them-id","type":"main","index":0}]]},"tao-sheet":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"them-id":{"main":[[{"node":"tao-sheet","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"lấy dữ liệu câu hỏi trước":{"main":[[{"node":"gom-cauhoi-traloi","type":"main","index":0}]]},"gom-cauhoi-traloi":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"code-tach-cau-xuong-dong","type":"main","index":0},{"node":"Google Sheets1","type":"main","index":0}]]},"Respond to Webhook1":{"main":[[{"node":"id-text-KH1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[]},"versionId":"16c21315-ca61-4d10-af17-5cbf6f0372d2","triggerCount":1,"tags":[]}