workflows/tiệm 1998.json
{"createdAt":"2025-05-31T01:37:22.256Z","updatedAt":"2025-05-31T04:44:00.000Z","id":"B3jY5eX7xAA8NkTw","name":"tiệm 1998","active":true,"isArchived":false,"nodes":[{"parameters":{"multipleMethods":true,"path":"check-don-1998","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-480,-240],"id":"37a53284-8351-4177-b072-ce45cdec31f2","name":"Webhook","webhookId":"7361b3c5-ac3a-4dbf-9074-8055f0a8d9fa"},{"parameters":{"assignments":{"assignments":[{"id":"fcdbc7a2-7a97-4041-9e1d-0f669580aecc","name":"id","value":"={{ $json.body.entry[0].messaging[0].sender.id }}","type":"string"},{"id":"5e46bb1b-0c43-4adf-a09a-ba33c7aef6a3","name":"Mã đơn hàng","value":"={{ $json.body.entry[0].messaging[0].message.text }}","type":"string"},{"id":"06d644fe-da0c-4449-a0e9-746c8ccaeae3","name":"id-sheet","value":"1WeLXWjl1utmpQ35nEzalF7g16bJ4OxN1Z0FJLMt_yKA","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[100,-40],"id":"5b1cbedc-a074-4d28-9cc0-71aaca93c290","name":"id-text-KH1"},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-160,-40],"id":"8b40127a-dd76-4623-8857-d54ea8d3e939","name":"Respond to Webhook1"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query['hub.challenge'] }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[100,-420],"id":"0888cda2-2668-4b27-b0f5-0ba53012bef9","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"4ebce47e-84a6-46d0-a285-bfa75846a87d","name":"query['hub.challenge']","value":"={{ $json.query['hub.challenge'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,-420],"id":"b3daa489-7a8d-4a42-8184-bbc554a87e21","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"61ed05da-7740-46fe-87bd-435ab23816c9","leftValue":"={{ $('id-text-KH1').first().json['Mã đơn hàng'] }}","rightValue":"/donhang","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[380,-40],"id":"db713613-13bd-41e2-aa4e-632d75dba99e","name":"If"},{"parameters":{"documentId":{"__rl":true,"value":"1t9HFB2sJv1iHtJ61TMSpQ9S99cOqIzEIKc7eBmH-Wq0","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Trang tính1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1t9HFB2sJv1iHtJ61TMSpQ9S99cOqIzEIKc7eBmH-Wq0/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"ID","lookupValue":"={{ $('Code').first().json.orderCode }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[980,-260],"id":"43b66911-496a-4fa7-99dc-8ddeed5ec1df","name":"Google Sheets","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"7bkqyISMa7JtlPHI","name":"okita1"}},"onError":"continueRegularOutput"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"me","edge":"messages","options":{"queryParametersJson":"={\n  \"recipient\": {\n    \"id\": \"{{ $('id-text-KH1').first().json.id }}\"\n  },\n  \"message\": {\n    \"text\": \"{{ $('loai-khoang-trang').first().json['orderCode'] }}\"\n  }\n}"}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[2000,-480],"id":"b9001f18-fdee-4587-b957-8a7da753ca56","name":"gửi tin1","alwaysOutputData":false,"credentials":{"facebookGraphApi":{"id":"tVlbcBsnR47cey5E","name":"tiem1998"}},"onError":"continueRegularOutput"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"me","edge":"messages","options":{"queryParametersJson":"={\n  \"recipient\": {\n    \"id\": \"{{ $('id-text-KH1').first().json.id }}\"\n  },\n  \"message\": {\n    \"text\": \"Để khiểm tra đơn hàng vui lòng nhập: /donhang mã_đơn_hàng Lưu ý: nhập đúng mã đơn hàng\"\n  }\n}"}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[820,60],"id":"d75304e4-2573-40b7-b262-494d405d713d","name":"gửi tin","alwaysOutputData":false,"credentials":{"facebookGraphApi":{"id":"tVlbcBsnR47cey5E","name":"tiem1998"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"return items.map(item => {\n  const input = item.json[\"Mã đơn hàng\"] || \"\";\n  const orderCode = input.replace(/^\\/donhang\\s*/, \"\"); // Bỏ tiền tố /donhang và khoảng trắng\n  return {\n    json: {\n      ...item.json,\n      orderCode\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[780,-240],"id":"453832f0-e5f5-4442-a91c-47b1edb7aba4","name":"Code"},{"parameters":{"jsCode":"return items.map(item => {\n  const input = item.json[\"Mặt hàng\"] || \"\";\n  const normalized = input.replace(/\\\\n/g, \"\\n\"); // Chuyển '\\\\n' literal thành xuống dòng thật\n  const orderCode = normalized.replace(/(\\r\\n|\\n|\\r)/g, \" - \"); // Thay xuống dòng thành \"-\"\n  return {\n    json: {\n      ...item.json,\n      orderCode\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1720,-480],"id":"e92dc83f-21c2-4976-bf83-9a3ddf789eae","name":"loai-khoang-trang"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"85726fdc-b2e3-48e5-8c79-7c630a01832b","leftValue":"={{ $json['Mặt hàng'] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1180,-240],"id":"66e75609-a2cd-4d7a-89b4-bec045bd4eca","name":"If1"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"me","edge":"messages","options":{"queryParametersJson":"={\n  \"recipient\": {\n    \"id\": \"{{ $('id-text-KH1').first().json.id }}\"\n  },\n  \"message\": {\n    \"text\": \"Vui lòng nhập đúng đơn hàng để kiểm tra\"\n  }\n}"}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[1720,-160],"id":"597c2c97-04f9-4b4b-ba87-7fcb5b50e40d","name":"gửi tin2","alwaysOutputData":false,"credentials":{"facebookGraphApi":{"id":"tVlbcBsnR47cey5E","name":"tiem1998"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"f4985d68-8ab7-46f3-a55b-5ffbfaa2276e","name":"Mặt hàng","value":"={{ $('Google Sheets').first().json['Mặt hàng'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1480,-480],"id":"cc0dcc0b-548e-4fbc-bc90-66f22d7897f8","name":"lấy mặt hàng"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Respond to Webhook1","type":"main","index":0}]]},"id-text-KH1":{"main":[[{"node":"If","type":"main","index":0}]]},"Respond to Webhook1":{"main":[[{"node":"id-text-KH1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Respond to Webhook":{"main":[[]]},"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"gửi tin","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"If1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"loai-khoang-trang":{"main":[[{"node":"gửi tin1","type":"main","index":0}]]},"If1":{"main":[[{"node":"lấy mặt hàng","type":"main","index":0}],[{"node":"gửi tin2","type":"main","index":0}]]},"lấy mặt hàng":{"main":[[{"node":"loai-khoang-trang","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[]},"versionId":"6bae0f9e-dcd2-44a3-9653-b496200bb07e","triggerCount":1,"tags":[]}