workflows/tải video miresto.json
{"createdAt":"2025-07-30T09:22:01.092Z","updatedAt":"2025-07-31T07:44:24.000Z","id":"XgrImU17h35l5DRY","name":"tải video miresto","active":true,"isArchived":false,"nodes":[{"parameters":{"name":"={{ $('tai-file-http').first().json.id }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1jGLBWKP1kqx8Tntx1R7J0rEp2tl8ylJK","mode":"list","cachedResultName":"Hatoyama live","cachedResultUrl":"https://drive.google.com/drive/folders/1jGLBWKP1kqx8Tntx1R7J0rEp2tl8ylJK"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[20,480],"id":"324e4044-2113-4698-9f48-eaba1b51e26b","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"xkYRC3mMiWT8JGlM","name":"Google Drive account okitabuffet"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const rawText = $input.first().json.description || \"\";\nconst lines = rawText.split(/\\r?\\n/); // Tách từng dòng\n\nconst firstLine = lines[0].trim(); // Lấy dòng đầu tiên, loại khoảng trắng\n\nreturn {\n  firstLine\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"e0341eec-8b70-45d5-833f-ac99b16a3bc5","name":"code-tach-cau-xuong-dong"},{"parameters":{"graphApiVersion":"v22.0","node":"={{ $json['[\\'Id video\\']'] }}","edge":"?fields=source,description,created_time","options":{}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-480,480],"id":"4e529093-6ecf-4eb4-b4b7-c1f2f8c9a88e","name":"video hato","credentials":{"facebookGraphApi":{"id":"h2sjIVg6QTRbNhFe","name":"hâto"}}},{"parameters":{"documentId":{"__rl":true,"value":"1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8","mode":"list","cachedResultName":"id video miresto","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"hato","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1500,540],"id":"c9d193cb-9cae-4b5f-b65f-d6d7ccc43750","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"N1JuFYKbntB3uUVa","name":"Google Sheets account okitabuffet"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7896cf95-9ffa-4582-a0cc-facac0d82d00","leftValue":"={{ $json['Id video'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"b7c56b08-b19a-4d60-8343-d76fc13dcc4c","leftValue":"={{ $json['Link video trên driver'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1240,540],"id":"6d78295d-70a3-49c2-a29d-734a5f40e01a","name":"If"},{"parameters":{"respondWith":"text","responseBody":"Vui lòng đợi để video được tải lên","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-1880,520],"id":"b35b90a1-0a71-47d4-836e-756f9cadb122","name":"Respond to Webhook"},{"parameters":{"fieldToSplitOut":"['Id video']","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-980,480],"id":"301c5b60-b763-4758-86cb-c555dba288a1","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-740,460],"id":"7982f211-d896-499d-a248-f5ff3a0d2edd","name":"Loop Over Items"},{"parameters":{"url":"={{ $('video hato1').first().json.source }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-220,840],"id":"9fcecc8a-b94d-44ba-9a72-85f5d8942ff9","name":"HTTP Request1"},{"parameters":{"name":"={{ $('HTTP Request1').first().json.id }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1E6WFMibP_wA0bIeLVN6rpkw7qYeeqrz6","mode":"list","cachedResultName":"Okita live","cachedResultUrl":"https://drive.google.com/drive/folders/1E6WFMibP_wA0bIeLVN6rpkw7qYeeqrz6"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[20,840],"id":"0a990061-89fb-406b-a1f2-b50cc14933e4","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"xkYRC3mMiWT8JGlM","name":"Google Drive account okitabuffet"}}},{"parameters":{"graphApiVersion":"v22.0","node":"={{ $json['[\\'Id video\\']'] }}","edge":"?fields=source,description,created_time","options":{}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-400,840],"id":"e1265166-f453-42f5-9147-a28cc4119485","name":"video hato1","credentials":{"facebookGraphApi":{"id":"EZATrAeoTAJVOjwX","name":"okita"}}},{"parameters":{"documentId":{"__rl":true,"value":"1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8","mode":"list","cachedResultName":"id video miresto","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1388713878,"mode":"list","cachedResultName":"OKITA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8/edit#gid=1388713878"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1320,900],"id":"aed74445-e13d-4076-ab40-d77ba64e4fe6","name":"Google Sheets2","credentials":{"googleSheetsOAuth2Api":{"id":"N1JuFYKbntB3uUVa","name":"Google Sheets account okitabuffet"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7896cf95-9ffa-4582-a0cc-facac0d82d00","leftValue":"={{ $json['Id video'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"b7c56b08-b19a-4d60-8343-d76fc13dcc4c","leftValue":"={{ $json['Link video trên driver'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1160,900],"id":"006e4226-d35d-45ec-b35a-87a1d7780914","name":"If1"},{"parameters":{"respondWith":"text","responseBody":"Vui lòng đợi để video được tải lên","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-1520,900],"id":"9cf60565-5607-4d16-994d-f2e743b324ee","name":"Respond to Webhook1"},{"parameters":{"fieldToSplitOut":"['Id video']","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-900,840],"id":"ecb366d3-1113-47b1-9bc3-ca96ac99dc40","name":"Split Out1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-660,820],"id":"f347fed7-5464-44c3-80e9-1d120a5090bc","name":"Loop Over Items1"},{"parameters":{"path":"hato","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2080,520],"id":"7f8433de-f364-492a-94a8-7d2a057861c4","name":"hato","webhookId":"859d7c06-db69-4301-a0de-64ed7aa54204"},{"parameters":{"url":"={{ $('video hato2').first().json.source }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-180,1120],"id":"3576979b-38d4-42e6-a666-2f7df84f7c97","name":"HTTP Request2"},{"parameters":{"name":"=  {{ $('HTTP Request2').first().json.id }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1vBp_UfvX2Xfu2Q32eLWQTFbllEmBJ1K3","mode":"list","cachedResultName":"tghs live","cachedResultUrl":"https://drive.google.com/drive/folders/1vBp_UfvX2Xfu2Q32eLWQTFbllEmBJ1K3"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[60,1120],"id":"1317d6b6-cfd3-4c3a-8ae7-4e665de1d86f","name":"Google Drive2","credentials":{"googleDriveOAuth2Api":{"id":"xkYRC3mMiWT8JGlM","name":"Google Drive account okitabuffet"}}},{"parameters":{"graphApiVersion":"v22.0","node":"={{ $json['[\\'Id video\\']'] }}","edge":"?fields=source,description,created_time","options":{}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-400,1120],"id":"c897cbd3-bd50-419b-9230-076b2dd9bad6","name":"video hato2","credentials":{"facebookGraphApi":{"id":"5asvhG8bHsPkJhnD","name":"tghs"}}},{"parameters":{"documentId":{"__rl":true,"value":"1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8","mode":"list","cachedResultName":"id video miresto","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1256571974,"mode":"list","cachedResultName":"TGHS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8/edit#gid=1256571974"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1320,1180],"id":"31f7fe82-b119-4b85-816b-3bae96e2e4fa","name":"Google Sheets4","credentials":{"googleSheetsOAuth2Api":{"id":"N1JuFYKbntB3uUVa","name":"Google Sheets account okitabuffet"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7896cf95-9ffa-4582-a0cc-facac0d82d00","leftValue":"={{ $json['Id video'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"b7c56b08-b19a-4d60-8343-d76fc13dcc4c","leftValue":"={{ $json['Link video trên driver'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1160,1180],"id":"fac7f7b7-4e67-4be7-b1db-e0083f7bf092","name":"If2"},{"parameters":{"respondWith":"text","responseBody":"Vui lòng đợi để video được tải lên","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-1520,1180],"id":"16685162-a72f-4a8d-8f0e-c5805c28e579","name":"Respond to Webhook2"},{"parameters":{"fieldToSplitOut":"['Id video']","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-900,1120],"id":"1a49269a-f7ba-443e-852c-2ae486f16beb","name":"Split Out2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-660,1100],"id":"8f1a0426-840d-4824-898c-3df03a227860","name":"Loop Over Items2"},{"parameters":{"url":"={{ $('video hato3').first().json.source }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-180,1380],"id":"de2dbd86-afe7-4d10-96bf-ea0ffde2963b","name":"HTTP Request3"},{"parameters":{"name":"={{ $('HTTP Request3').first().json.id }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1PAe962hIE_YC00YwVKkBMcF1WnD_lOji","mode":"list","cachedResultName":"song dương live","cachedResultUrl":"https://drive.google.com/drive/folders/1PAe962hIE_YC00YwVKkBMcF1WnD_lOji"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[60,1380],"id":"76e93634-a010-4233-9793-a3448bedbcc6","name":"Google Drive3","credentials":{"googleDriveOAuth2Api":{"id":"xkYRC3mMiWT8JGlM","name":"Google Drive account okitabuffet"}}},{"parameters":{"graphApiVersion":"v22.0","node":"={{ $json['[\\'Id video\\']'] }}","edge":"?fields=source,description,created_time","options":{}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-400,1380],"id":"caa263a7-0a5d-44e5-abd3-61024ffda3fb","name":"video hato3","credentials":{"facebookGraphApi":{"id":"RBIxMFy2AiMejY3t","name":"song dương"}}},{"parameters":{"documentId":{"__rl":true,"value":"1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8","mode":"list","cachedResultName":"id video miresto","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":9899689,"mode":"list","cachedResultName":"Songduong","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8/edit#gid=9899689"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1320,1440],"id":"38127ed7-6528-4d32-b5e1-bc54e87b2761","name":"Google Sheets6","credentials":{"googleSheetsOAuth2Api":{"id":"N1JuFYKbntB3uUVa","name":"Google Sheets account okitabuffet"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7896cf95-9ffa-4582-a0cc-facac0d82d00","leftValue":"={{ $json['Id video'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"b7c56b08-b19a-4d60-8343-d76fc13dcc4c","leftValue":"={{ $json['Link video trên driver'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1160,1440],"id":"5086c8d0-0a23-4e48-9dcc-e09b70dd774f","name":"If3"},{"parameters":{"respondWith":"text","responseBody":"Vui lòng đợi để video được tải lên","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-1520,1440],"id":"7b03bb53-e622-4259-b206-39880d42e2b6","name":"Respond to Webhook3"},{"parameters":{"fieldToSplitOut":"['Id video']","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-900,1380],"id":"0128ebb7-862e-46ff-8054-405d0bb3c737","name":"Split Out3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-660,1360],"id":"297aea2a-0615-4519-a28e-766976123274","name":"Loop Over Items3"},{"parameters":{"path":"okita","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1720,900],"id":"8bdbd03e-7b28-44ff-8b65-70e4d5e28349","name":"okita","webhookId":"465ae0f4-998a-4ad2-bbb7-cb8b50beb3fb"},{"parameters":{"path":"songduong","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1720,1440],"id":"1367f047-7b3b-4138-bac1-cc9840474eb7","name":"songduong","webhookId":"465ae0f4-998a-4ad2-bbb7-cb8b50beb3fb"},{"parameters":{"rule":{"interval":[{"daysInterval":2,"triggerAtHour":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1920,300],"id":"ea8547db-4a94-4e2f-8dec-75be14bf0e4a","name":"Schedule Trigger"},{"parameters":{"rule":{"interval":[{"daysInterval":2,"triggerAtHour":4}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1860,820],"id":"fa1f433c-870c-42aa-95e7-155bb17d52a9","name":"Schedule Trigger1"},{"parameters":{"rule":{"interval":[{"daysInterval":2,"triggerAtHour":17}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1940,1080],"id":"9b8b3e16-77a1-4aef-99ad-a679d7ce91b0","name":"Schedule Trigger2"},{"parameters":{"rule":{"interval":[{"daysInterval":2,"triggerAtHour":11}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1980,1340],"id":"fac6d195-4fc2-4eae-afe0-d69e2cda1992","name":"Schedule Trigger3"},{"parameters":{"path":"tghs","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1760,1180],"id":"0b817073-f797-4875-8258-78fced7f13e6","name":"tghs","webhookId":"465ae0f4-998a-4ad2-bbb7-cb8b50beb3fb"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8","mode":"list","cachedResultName":"id video miresto","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hato","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Id video":"={{ $('video hato').first().json.id }}","Nội dung bài":"={{ $('video hato').first().json.description }}","Ngày tạo video":"={{ $('video hato').first().json.created_time }}","Link video trên driver":"=https://drive.google.com/file/d/{{ $json.id }}"},"matchingColumns":["Id video"],"schema":[{"id":"Id video","displayName":"Id video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nội dung bài","displayName":"Nội dung bài","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ngày tạo video","displayName":"Ngày tạo video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link video trên driver","displayName":"Link video trên driver","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"https://n8n.hoanghan13102024.online/webhook/hato ","displayName":"https://n8n.hoanghan13102024.online/webhook/hato ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[740,240],"id":"af6ff873-3bd6-42c3-962c-3d60266fe906","name":"Google Sheets8","credentials":{"googleSheetsOAuth2Api":{"id":"N1JuFYKbntB3uUVa","name":"Google Sheets account okitabuffet"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8","mode":"list","cachedResultName":"id video miresto","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1388713878,"mode":"list","cachedResultName":"OKITA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8/edit#gid=1388713878"},"columns":{"mappingMode":"defineBelow","value":{"Id video":"={{ $('video hato1').first().json.id }}","Nội dung bài":"={{ $('video hato1').first().json.description }}","Ngày tạo video":"={{ $('video hato1').first().json.created_time }}","Link video trên driver":"=https://drive.google.com/file/d/{{ $json.id }}"},"matchingColumns":["Id video"],"schema":[{"id":"Id video","displayName":"Id video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nội dung bài","displayName":"Nội dung bài","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ngày tạo video","displayName":"Ngày tạo video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link video trên driver","displayName":"Link video trên driver","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"https://n8n.hoanghan13102024.online/webhook/hato ","displayName":"https://n8n.hoanghan13102024.online/webhook/hato ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[260,840],"id":"f2064af8-b42d-40c6-acbb-3e08db63f85b","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"N1JuFYKbntB3uUVa","name":"Google Sheets account okitabuffet"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8","mode":"list","cachedResultName":"id video miresto","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1256571974,"mode":"list","cachedResultName":"TGHS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8/edit#gid=1256571974"},"columns":{"mappingMode":"defineBelow","value":{"Id video":"={{ $('video hato2').item.json.id }}","Nội dung bài":"={{ $('video hato2').item.json.description }}","Ngày tạo video":"={{ $('video hato2').item.json.created_time }}","Link video trên driver":"=https://drive.google.com/file/d/{{ $json.id }}"},"matchingColumns":["Id video"],"schema":[{"id":"Id video","displayName":"Id video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nội dung bài","displayName":"Nội dung bài","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ngày tạo video","displayName":"Ngày tạo video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link video trên driver","displayName":"Link video trên driver","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"https://n8n.hoanghan13102024.online/webhook/tghs","displayName":"https://n8n.hoanghan13102024.online/webhook/tghs","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[280,1120],"id":"66594124-0c9b-4904-9099-f1f7d7fc0a7c","name":"Google Sheets9","credentials":{"googleSheetsOAuth2Api":{"id":"N1JuFYKbntB3uUVa","name":"Google Sheets account okitabuffet"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8","mode":"list","cachedResultName":"id video miresto","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":9899689,"mode":"list","cachedResultName":"Songduong","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ljCd_0r4XTdWt6KiNCOpHC9vZuTr4pxkv8yAnUVUzH8/edit#gid=9899689"},"columns":{"mappingMode":"defineBelow","value":{"Id video":"={{ $('video hato3').first().json.id }}","Nội dung bài":"={{ $('video hato3').first().json.description }}","Ngày tạo video":"={{ $('video hato3').first().json.created_time }}","Link video trên driver":"=https://drive.google.com/file/d/{{ $json.id }}"},"matchingColumns":["Id video"],"schema":[{"id":"Id video","displayName":"Id video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nội dung bài","displayName":"Nội dung bài","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ngày tạo video","displayName":"Ngày tạo video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link video trên driver","displayName":"Link video trên driver","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"https://n8n.hoanghan13102024.online/webhook/hato ","displayName":"https://n8n.hoanghan13102024.online/webhook/hato ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[280,1380],"id":"83e9e3c1-f85c-494c-a480-a3094a240305","name":"Google Sheets10","credentials":{"googleSheetsOAuth2Api":{"id":"N1JuFYKbntB3uUVa","name":"Google Sheets account okitabuffet"}}},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[760,540],"id":"97bb5cc5-4b71-4536-92ad-00242b4e3728","name":"Wait","webhookId":"d4e4272d-aa6a-4155-b96e-ecd576cfc994"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"49012c50-e821-48da-93fa-0d330c6c9913","leftValue":"={{ $json.id }}","rightValue":"=","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[300,480],"id":"24d6be63-703e-4831-8d66-632fafef4458","name":"If4"},{"parameters":{"url":"={{ $('video hato').first().json.source }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-260,480],"id":"7e199560-50e5-487a-bfde-de23293a93e2","name":"tai-file-http"},{"parameters":{"path":"okita","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1900,140],"id":"1a522308-91fe-4d7e-a6db-09de31cd26a8","name":"okita1","webhookId":"465ae0f4-998a-4ad2-bbb7-cb8b50beb3fb","disabled":true},{"parameters":{"path":"songduong","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1900,680],"id":"b8116563-5c2f-4eed-bc66-f7282eb8200a","name":"songduong1","webhookId":"465ae0f4-998a-4ad2-bbb7-cb8b50beb3fb","disabled":true},{"parameters":{"rule":{"interval":[{"daysInterval":2,"triggerAtHour":4}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1760,60],"id":"21a086f7-214d-4e9f-9a7b-e03c955cc430","name":"Schedule Trigger4","disabled":true},{"parameters":{"rule":{"interval":[{"daysInterval":2,"triggerAtHour":17}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1680,320],"id":"7338cb50-fa2c-461c-9582-9dee554e463d","name":"Schedule Trigger5","disabled":true},{"parameters":{"rule":{"interval":[{"daysInterval":2,"triggerAtHour":11}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1640,580],"id":"919517c5-6263-4930-9be1-1fdcdcdb04dc","name":"Schedule Trigger6","disabled":true},{"parameters":{"path":"tghs","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1860,420],"id":"421d2622-40ae-41e6-b292-c400ad69ff7a","name":"tghs1","webhookId":"465ae0f4-998a-4ad2-bbb7-cb8b50beb3fb","disabled":true}],"connections":{"video hato":{"main":[[{"node":"tai-file-http","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"If4","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"video hato","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"video hato1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Respond to Webhook1":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"video hato1","type":"main","index":0}]]},"hato":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Google Drive2","type":"main","index":0}]]},"Google Drive2":{"main":[[{"node":"Google Sheets9","type":"main","index":0}]]},"video hato2":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Google Sheets4":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Respond to Webhook2":{"main":[[{"node":"Google Sheets4","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"video hato2","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Google Drive3","type":"main","index":0}]]},"Google Drive3":{"main":[[{"node":"Google Sheets10","type":"main","index":0}]]},"video hato3":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"Google Sheets6":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"Split Out3","type":"main","index":0}]]},"Respond to Webhook3":{"main":[[{"node":"Google Sheets6","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"video hato3","type":"main","index":0}]]},"okita":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"songduong":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"Google Sheets4","type":"main","index":0}]]},"Schedule Trigger3":{"main":[[{"node":"Google Sheets6","type":"main","index":0}]]},"tghs":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Google Sheets8":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets9":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Google Sheets10":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"If4":{"main":[[{"node":"Google Sheets8","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"tai-file-http":{"main":[[{"node":"Google Drive","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[212]},"node:Schedule Trigger1":{"recurrenceRules":[212]},"node:Schedule Trigger2":{"recurrenceRules":[211]},"node:Schedule Trigger3":{"recurrenceRules":[211]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"okita":[{"json":{"headers":{"host":"n8n.hoanghan13102024.online","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, br","accept-language":"vi,en;q=0.9,en-US;q=0.8","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"117.4.252.203","cf-ipcountry":"VN","cf-ray":"94094282ee4b3e29-SIN","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"2555c5dd-3ed1-4670-96d3-b1533bdf5e6d","connection":"keep-alive","cookie":"rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX19T6A9wL5%2BtDZ6C1NBVc6cDh%2B2T%2BKz4vlU%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19KlOadmezhs0%2FI6Sylq2QDAfTx7r%2F4V50%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImMzOGMwZjhhLTA5MjQtNGI4Ni1hY2RkLTA3OTk4MDc0ZWI5MCIsImhhc2giOiJGOXB4UWl0REx1IiwiYnJvd3NlcklkIjoiUU9rb29leEg0NUh4S2YyZWpCdEU4UlRoK3dWZ3gxeTNOeDlwYW02Y0Jjbz0iLCJpYXQiOjE3NDcyODIwODMsImV4cCI6MTc0Nzg4Njg4M30.Qfh9z6VSRKY5AJ19Yui9-FrhZvGX4zrMXqiNzIPey-4; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22087f04f73d5de6b0aaf26fb8cf8a24c47cc1bedc10dddd71f66b03ef31cd70b8%23c38c0f8a-0924-4b86-acdd-07998074eb90%22%2C%22%24sesid%22%3A%5B1747381552174%2C%220196d7b3-fbdf-7137-927f-add59cfc95d9%22%2C1747375619039%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fn8n.hoanghan13102024.online%2Fsetup%22%7D%7D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2FH%2FTqDakm6FF0tPlwnsmIeaBe6zdGub%2FC7FqiYKDjfQvImtwvAFIN1UXbpIlhBnqnbPsMS42yvDQ%3D%3D; rl_session=RudderEncrypt%3AU2FsdGVkX18%2BHVY5a5alnoyd5qnCvqCIH8rYTBdqCke%2Bxa4HboW4xmdV2CZr%2BJgWPaTU1MWE0BoTrBgFhbEYln6je%2F1%2BlHDuyKSOIPL1ckb%2FdpNglAVQx9dNly9wGIeZ4saFPlWxwMm%2BAgC4a1xaog%3D%3D","priority":"u=0, i","referer":"https://www.google.com/","sec-ch-ua":"\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"cross-site","upgrade-insecure-requests":"1","x-forwarded-for":"117.4.252.203","x-forwarded-proto":"https"},"params":{},"query":{},"body":{},"webhookUrl":"https://n8n.hoanghan13102024.online/webhook/okita","executionMode":"production"}}],"songduong":[{"json":{"headers":{"host":"n8n.hoanghan13102024.online","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, br","accept-language":"vi,en;q=0.9,en-US;q=0.8","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"117.4.252.203","cf-ipcountry":"VN","cf-ray":"940973622f92ff81-SIN","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"2555c5dd-3ed1-4670-96d3-b1533bdf5e6d","connection":"keep-alive","cookie":"rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX19T6A9wL5%2BtDZ6C1NBVc6cDh%2B2T%2BKz4vlU%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19KlOadmezhs0%2FI6Sylq2QDAfTx7r%2F4V50%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImMzOGMwZjhhLTA5MjQtNGI4Ni1hY2RkLTA3OTk4MDc0ZWI5MCIsImhhc2giOiJGOXB4UWl0REx1IiwiYnJvd3NlcklkIjoiUU9rb29leEg0NUh4S2YyZWpCdEU4UlRoK3dWZ3gxeTNOeDlwYW02Y0Jjbz0iLCJpYXQiOjE3NDcyODIwODMsImV4cCI6MTc0Nzg4Njg4M30.Qfh9z6VSRKY5AJ19Yui9-FrhZvGX4zrMXqiNzIPey-4; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2Bc1ua2wzcjU4mII6mAJeM294bLWZbKoxLVtD50YolnuykHhmDFWSSSEhv1pH0o2z7jGI4EAI34zg%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2BuCHWHvg6rWZpsYbj227UGeY1lIb6rPvQ5R3BIk4RWclMYxMfnUHETwcbgt02jJ62t4hVh5COGQFmTJx3SE7N%2FhP9ksgUEeo7nox6UVFhvQATZItKnfDtvrEWpS3BsDw9ZmubgkfAs2%2FPkQv4Hay7it2MH1FcS%2F1s%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2FR3saRncLNSMm%2Bpx%2FYkhuUIS96lELyI5bOzzF0j8a4txWFuHGaqqb5uHWeUIcudMZcOKsH5nfiMTmRpZE2kZcZ24lILeLbztonMM0hCJfaIdlYJQSKFGwikGnJMtF8Hnkzytoj%2B86PmA%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22087f04f73d5de6b0aaf26fb8cf8a24c47cc1bedc10dddd71f66b03ef31cd70b8%23c38c0f8a-0924-4b86-acdd-07998074eb90%22%2C%22%24sesid%22%3A%5B1747383561141%2C%220196d7b3-fbdf-7137-927f-add59cfc95d9%22%2C1747375619039%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fn8n.hoanghan13102024.online%2Fsetup%22%7D%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1%2FQN2GsOtDLqaT3A%2Bxkn0bC%2B9mIAInUcS7cpel%2BZanf%2BuboEdl82b66HJdj%2BrZjTq%2BMEwUIkcE5i6sgz5f%2BTAEp5p482KXhL1hRhidIJBbQ5wuXBHzXRKIkD50Er8fjm90a2e1bGRVl5g%3D%3D","priority":"u=0, i","referer":"https://www.google.com/","sec-ch-ua":"\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"cross-site","upgrade-insecure-requests":"1","x-forwarded-for":"117.4.252.203","x-forwarded-proto":"https"},"params":{},"query":{},"body":{},"webhookUrl":"https://n8n.hoanghan13102024.online/webhook/songduong","executionMode":"production"}}],"tghs":[{"json":{"headers":{"host":"n8n.hoanghan13102024.online","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, br","accept-language":"vi,en;q=0.9,en-US;q=0.8","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"117.4.252.203","cf-ipcountry":"VN","cf-ray":"94098da99d3ffd32-SIN","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"2555c5dd-3ed1-4670-96d3-b1533bdf5e6d","connection":"keep-alive","cookie":"rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX19T6A9wL5%2BtDZ6C1NBVc6cDh%2B2T%2BKz4vlU%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19KlOadmezhs0%2FI6Sylq2QDAfTx7r%2F4V50%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImMzOGMwZjhhLTA5MjQtNGI4Ni1hY2RkLTA3OTk4MDc0ZWI5MCIsImhhc2giOiJGOXB4UWl0REx1IiwiYnJvd3NlcklkIjoiUU9rb29leEg0NUh4S2YyZWpCdEU4UlRoK3dWZ3gxeTNOeDlwYW02Y0Jjbz0iLCJpYXQiOjE3NDcyODIwODMsImV4cCI6MTc0Nzg4Njg4M30.Qfh9z6VSRKY5AJ19Yui9-FrhZvGX4zrMXqiNzIPey-4; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX18t5%2BuxSH81y%2BWLwlwG%2B%2Fe0Tj8pUMEayzJvlsu6%2B7x2Z3mhtvX9rnGfs79hRZI2gP0qrKxBgY75IQ%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2BoNCerwIPugCD0diU2YnH%2F%2FRO%2FTYuRwwXHfni2JHw3ImmOpFsjMoy4ZUlT1m8grnB9W8O3xzZquzIOc7xRJkhvMrazcWGLvZYh4RRFR5KKd6%2Bb0Bp5gJMVpLKIVJzW9HxhUzvN4ym8G9TtqzKxH2%2Bib%2FHOs8zhJv0%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2B1aNn%2FcK5b%2FCy%2BT5jHQsbDovJ0FOfHwyJvuSdM91ZB7fXdG7cse37wSB9gmuDDuevQkLqA4LFTVrD9R4jVVkUZ1d5BcHy5EfrnNlhajfb2KmJoN9%2FFhfltAu%2Bykq9Tkd6QNyytEfIWdg%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22087f04f73d5de6b0aaf26fb8cf8a24c47cc1bedc10dddd71f66b03ef31cd70b8%23c38c0f8a-0924-4b86-acdd-07998074eb90%22%2C%22%24sesid%22%3A%5B1747384513802%2C%220196d7b3-fbdf-7137-927f-add59cfc95d9%22%2C1747375619039%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fn8n.hoanghan13102024.online%2Fsetup%22%7D%7D; rl_session=RudderEncrypt%3AU2FsdGVkX19vkM7vlL3RrEboMI4zbjJZP9qR3LLVtsEzYfzjbCB2DFjFIIycwT3XHv8JU2v4odmIkNOkga0CLkLFdXYOXPmhfNvPf8cJloiVMphP1GIHo5%2FYO7ePNJ8tXik1ws2bTuLUuq0jWeA8qA%3D%3D","priority":"u=0, i","referer":"https://www.google.com/","sec-ch-ua":"\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"cross-site","upgrade-insecure-requests":"1","x-forwarded-for":"117.4.252.203","x-forwarded-proto":"https"},"params":{},"query":{},"body":{},"webhookUrl":"https://n8n.hoanghan13102024.online/webhook/tghs","executionMode":"production"}}],"hato":[{"json":{"isArtificialRecoveredEventItem":true}}],"okita1":[{"json":{"headers":{"host":"n8n.hoanghan13102024.online","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, br","accept-language":"vi,en;q=0.9,en-US;q=0.8","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"117.4.252.203","cf-ipcountry":"VN","cf-ray":"94094282ee4b3e29-SIN","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"2555c5dd-3ed1-4670-96d3-b1533bdf5e6d","connection":"keep-alive","cookie":"rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX19T6A9wL5%2BtDZ6C1NBVc6cDh%2B2T%2BKz4vlU%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19KlOadmezhs0%2FI6Sylq2QDAfTx7r%2F4V50%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImMzOGMwZjhhLTA5MjQtNGI4Ni1hY2RkLTA3OTk4MDc0ZWI5MCIsImhhc2giOiJGOXB4UWl0REx1IiwiYnJvd3NlcklkIjoiUU9rb29leEg0NUh4S2YyZWpCdEU4UlRoK3dWZ3gxeTNOeDlwYW02Y0Jjbz0iLCJpYXQiOjE3NDcyODIwODMsImV4cCI6MTc0Nzg4Njg4M30.Qfh9z6VSRKY5AJ19Yui9-FrhZvGX4zrMXqiNzIPey-4; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22087f04f73d5de6b0aaf26fb8cf8a24c47cc1bedc10dddd71f66b03ef31cd70b8%23c38c0f8a-0924-4b86-acdd-07998074eb90%22%2C%22%24sesid%22%3A%5B1747381552174%2C%220196d7b3-fbdf-7137-927f-add59cfc95d9%22%2C1747375619039%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fn8n.hoanghan13102024.online%2Fsetup%22%7D%7D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2FH%2FTqDakm6FF0tPlwnsmIeaBe6zdGub%2FC7FqiYKDjfQvImtwvAFIN1UXbpIlhBnqnbPsMS42yvDQ%3D%3D; rl_session=RudderEncrypt%3AU2FsdGVkX18%2BHVY5a5alnoyd5qnCvqCIH8rYTBdqCke%2Bxa4HboW4xmdV2CZr%2BJgWPaTU1MWE0BoTrBgFhbEYln6je%2F1%2BlHDuyKSOIPL1ckb%2FdpNglAVQx9dNly9wGIeZ4saFPlWxwMm%2BAgC4a1xaog%3D%3D","priority":"u=0, i","referer":"https://www.google.com/","sec-ch-ua":"\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"cross-site","upgrade-insecure-requests":"1","x-forwarded-for":"117.4.252.203","x-forwarded-proto":"https"},"params":{},"query":{},"body":{},"webhookUrl":"https://n8n.hoanghan13102024.online/webhook/okita","executionMode":"production"}}],"songduong1":[{"json":{"headers":{"host":"n8n.hoanghan13102024.online","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, br","accept-language":"vi,en;q=0.9,en-US;q=0.8","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"117.4.252.203","cf-ipcountry":"VN","cf-ray":"940973622f92ff81-SIN","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"2555c5dd-3ed1-4670-96d3-b1533bdf5e6d","connection":"keep-alive","cookie":"rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX19T6A9wL5%2BtDZ6C1NBVc6cDh%2B2T%2BKz4vlU%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19KlOadmezhs0%2FI6Sylq2QDAfTx7r%2F4V50%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImMzOGMwZjhhLTA5MjQtNGI4Ni1hY2RkLTA3OTk4MDc0ZWI5MCIsImhhc2giOiJGOXB4UWl0REx1IiwiYnJvd3NlcklkIjoiUU9rb29leEg0NUh4S2YyZWpCdEU4UlRoK3dWZ3gxeTNOeDlwYW02Y0Jjbz0iLCJpYXQiOjE3NDcyODIwODMsImV4cCI6MTc0Nzg4Njg4M30.Qfh9z6VSRKY5AJ19Yui9-FrhZvGX4zrMXqiNzIPey-4; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2Bc1ua2wzcjU4mII6mAJeM294bLWZbKoxLVtD50YolnuykHhmDFWSSSEhv1pH0o2z7jGI4EAI34zg%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2BuCHWHvg6rWZpsYbj227UGeY1lIb6rPvQ5R3BIk4RWclMYxMfnUHETwcbgt02jJ62t4hVh5COGQFmTJx3SE7N%2FhP9ksgUEeo7nox6UVFhvQATZItKnfDtvrEWpS3BsDw9ZmubgkfAs2%2FPkQv4Hay7it2MH1FcS%2F1s%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2FR3saRncLNSMm%2Bpx%2FYkhuUIS96lELyI5bOzzF0j8a4txWFuHGaqqb5uHWeUIcudMZcOKsH5nfiMTmRpZE2kZcZ24lILeLbztonMM0hCJfaIdlYJQSKFGwikGnJMtF8Hnkzytoj%2B86PmA%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22087f04f73d5de6b0aaf26fb8cf8a24c47cc1bedc10dddd71f66b03ef31cd70b8%23c38c0f8a-0924-4b86-acdd-07998074eb90%22%2C%22%24sesid%22%3A%5B1747383561141%2C%220196d7b3-fbdf-7137-927f-add59cfc95d9%22%2C1747375619039%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fn8n.hoanghan13102024.online%2Fsetup%22%7D%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1%2FQN2GsOtDLqaT3A%2Bxkn0bC%2B9mIAInUcS7cpel%2BZanf%2BuboEdl82b66HJdj%2BrZjTq%2BMEwUIkcE5i6sgz5f%2BTAEp5p482KXhL1hRhidIJBbQ5wuXBHzXRKIkD50Er8fjm90a2e1bGRVl5g%3D%3D","priority":"u=0, i","referer":"https://www.google.com/","sec-ch-ua":"\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"cross-site","upgrade-insecure-requests":"1","x-forwarded-for":"117.4.252.203","x-forwarded-proto":"https"},"params":{},"query":{},"body":{},"webhookUrl":"https://n8n.hoanghan13102024.online/webhook/songduong","executionMode":"production"}}],"tghs1":[{"json":{"headers":{"host":"n8n.hoanghan13102024.online","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, br","accept-language":"vi,en;q=0.9,en-US;q=0.8","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"117.4.252.203","cf-ipcountry":"VN","cf-ray":"94098da99d3ffd32-SIN","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"2555c5dd-3ed1-4670-96d3-b1533bdf5e6d","connection":"keep-alive","cookie":"rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX19T6A9wL5%2BtDZ6C1NBVc6cDh%2B2T%2BKz4vlU%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19KlOadmezhs0%2FI6Sylq2QDAfTx7r%2F4V50%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImMzOGMwZjhhLTA5MjQtNGI4Ni1hY2RkLTA3OTk4MDc0ZWI5MCIsImhhc2giOiJGOXB4UWl0REx1IiwiYnJvd3NlcklkIjoiUU9rb29leEg0NUh4S2YyZWpCdEU4UlRoK3dWZ3gxeTNOeDlwYW02Y0Jjbz0iLCJpYXQiOjE3NDcyODIwODMsImV4cCI6MTc0Nzg4Njg4M30.Qfh9z6VSRKY5AJ19Yui9-FrhZvGX4zrMXqiNzIPey-4; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX18t5%2BuxSH81y%2BWLwlwG%2B%2Fe0Tj8pUMEayzJvlsu6%2B7x2Z3mhtvX9rnGfs79hRZI2gP0qrKxBgY75IQ%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2BoNCerwIPugCD0diU2YnH%2F%2FRO%2FTYuRwwXHfni2JHw3ImmOpFsjMoy4ZUlT1m8grnB9W8O3xzZquzIOc7xRJkhvMrazcWGLvZYh4RRFR5KKd6%2Bb0Bp5gJMVpLKIVJzW9HxhUzvN4ym8G9TtqzKxH2%2Bib%2FHOs8zhJv0%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2B1aNn%2FcK5b%2FCy%2BT5jHQsbDovJ0FOfHwyJvuSdM91ZB7fXdG7cse37wSB9gmuDDuevQkLqA4LFTVrD9R4jVVkUZ1d5BcHy5EfrnNlhajfb2KmJoN9%2FFhfltAu%2Bykq9Tkd6QNyytEfIWdg%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22087f04f73d5de6b0aaf26fb8cf8a24c47cc1bedc10dddd71f66b03ef31cd70b8%23c38c0f8a-0924-4b86-acdd-07998074eb90%22%2C%22%24sesid%22%3A%5B1747384513802%2C%220196d7b3-fbdf-7137-927f-add59cfc95d9%22%2C1747375619039%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fn8n.hoanghan13102024.online%2Fsetup%22%7D%7D; rl_session=RudderEncrypt%3AU2FsdGVkX19vkM7vlL3RrEboMI4zbjJZP9qR3LLVtsEzYfzjbCB2DFjFIIycwT3XHv8JU2v4odmIkNOkga0CLkLFdXYOXPmhfNvPf8cJloiVMphP1GIHo5%2FYO7ePNJ8tXik1ws2bTuLUuq0jWeA8qA%3D%3D","priority":"u=0, i","referer":"https://www.google.com/","sec-ch-ua":"\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"cross-site","upgrade-insecure-requests":"1","x-forwarded-for":"117.4.252.203","x-forwarded-proto":"https"},"params":{},"query":{},"body":{},"webhookUrl":"https://n8n.hoanghan13102024.online/webhook/tghs","executionMode":"production"}}]},"versionId":"c7dace87-3105-4f32-8cba-20dda486fad3","triggerCount":8,"tags":[]}