workflows/xử lý dữ liệu Pato.json
{"createdAt":"2025-05-15T04:10:33.878Z","updatedAt":"2025-05-16T02:01:33.000Z","id":"SiO1ywFHEvYln9I9","name":"xử lý dữ liệu Pato","active":true,"nodes":[{"parameters":{"path":"b02d2539-0ce3-4983-a2f5-6d9999884039","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-720,-20],"id":"1105a678-46e8-4f94-b955-9d2e7b25b806","name":"Webhook","webhookId":"b02d2539-0ce3-4983-a2f5-6d9999884039"},{"parameters":{"documentId":{"__rl":true,"value":"1zYMXG6NGF3Gt0FIcxh1AA9vsYuUHcrxqoVaRosywMJg","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Pato","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zYMXG6NGF3Gt0FIcxh1AA9vsYuUHcrxqoVaRosywMJg/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-320,-20],"id":"2f5e7aa1-4b3a-42b0-acab-55136ec87cc8","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"Y0SKNL9dbqz9WqxG","name":"Google Sheets account"}}},{"parameters":{"respondWith":"text","responseBody":"ok vui lòng đợi chút vào Link để dữ liệu cập nhập: https://docs.google.com/spreadsheets/d/1zYMXG6NGF3Gt0FIcxh1AA9vsYuUHcrxqoVaRosywMJg/edit?gid=0#gid=0","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[-500,-20],"id":"9e7cb9cc-95f6-498c-b3c9-a5f7c98d0539","name":"Respond to Webhook"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"02cdc0ec-02c7-458f-80cf-ff29efa07c64","leftValue":"={{ $json['Thông tin cần chiết xuất'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"9451ed50-580e-40e3-9896-b21058bc07e7","leftValue":"={{ $json['Dữ liệu'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-100,-20],"id":"b6fcdeb4-e275-46cc-8445-51bb1dcdb8f5","name":"If"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[160,-40],"id":"8b6801e3-25be-4429-96ab-81326e35108e","name":"Loop Over Items"},{"parameters":{"promptType":"define","text":"= Viết lại cho tôi thông tin theo cấu trúc sau: Viết lại cho tôi thông tin theo cấu trúc sau: Nhà hàng (cơ sở) , Tên khách hàng (họ và tên), số điện thoại, ngày, giờ, số lớn, số trẻ em , ghi chú khác với thông tin bên dưới: \n{{ $json['Thông tin cần chiết xuất'] }}\n\" Use data bằng dấu \"##\" và bỏ các tiêu đề Nhà hàng , Đường dẫn tên, số lượng điện thoại, ngày, số lượng lớn, số em , ghi chú cấu hình. Ngày dữ liệu theo biểu thức dd/mm/yyyy. số lượng lớn, số lượng trẻ em để định dạng số chỉ (nếu không có thì số 0). Bỏ từ đường dây nóng (nếu có). Nếu không có nhà hàng (nếu có), hãy viết chữ \"None\".","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[400,0],"id":"15aaf979-2e80-4c2c-8081-49b8d5b318a1","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[400,260],"id":"4eb2397b-3bf1-4de4-ab86-6bdd8d73fff5","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"QS0VFtyLxclz2Xdy","name":"OpenAi account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1zYMXG6NGF3Gt0FIcxh1AA9vsYuUHcrxqoVaRosywMJg","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Pato","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zYMXG6NGF3Gt0FIcxh1AA9vsYuUHcrxqoVaRosywMJg/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Dữ liệu":"={{ $json.output }}","Thông tin cần chiết xuất":"={{ $('Loop Over Items').item.json['Thông tin cần chiết xuất'] }}"},"matchingColumns":["Thông tin cần chiết xuất"],"schema":[{"id":"Thông tin cần chiết xuất","displayName":"Thông tin cần chiết xuất","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Dữ liệu","displayName":"Dữ liệu","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nhà hàng","displayName":"Nhà hàng","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Tên khách hàng","displayName":"Tên khách hàng","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Số điện thoại","displayName":"Số điện thoại","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ngày","displayName":"Ngày","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Giờ","displayName":"Giờ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Số lượng người lớn","displayName":"Số lượng người lớn","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Số lượng trẻ em","displayName":"Số lượng trẻ em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ghi chú khác","displayName":"Ghi chú khác","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"output","displayName":"output","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[740,0],"id":"c25d303d-7f0a-4c6d-9902-d325f5d92508","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"Y0SKNL9dbqz9WqxG","name":"Google Sheets account"}}}],"connections":{"Webhook":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}],[]]},"Google Sheets":{"main":[[{"node":"If","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[]]},"Loop Over Items":{"main":[[],[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fe08f0ee-a7c6-4649-b293-b071137448a0","triggerCount":1,"tags":[]}