workflows/đăng bài ig.json
{"createdAt":"2025-06-13T07:23:47.186Z","updatedAt":"2025-06-14T03:54:34.000Z","id":"6x47siFSfhpXOJTD","name":"đăng bài ig","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"1b28f862-acc1-4468-b668-4d0920eb9894","name":"token fb","value":"EAARQ4kGYShIBO4mUCROsFx5ztODsOL9cgjbiuQrzXcXHMAV6sstQtNcKR41ZBXZCj2O0AHZAo2lDG8EuJ7qjUMF6mBhxXQNsrPW3r9uSs8pRZAwb3YcHby8oCAwZCecUf6VtKLSZCBG1w4ckTYDfMATiDWvQzGM0ZCxjDlcpSmT7FItzjVmm8o8zNo1H7ne1XaqZC6GKsTRl0SljJwHZBZB9tScfKH","type":"string"},{"id":"2b2a7cbb-541a-409e-93f3-693063c73bdf","name":"id trang hato","value":"1716717515227112","type":"string"},{"id":"bb769d32-e102-42bb-aba4-05b99bc7b6c4","name":"token ig","value":"IGAAKbwKYUMF1BZAE04NnRWUTJMb3M3aDVWUWNad3RRTVA1Y19ZAQWhXMk9KQ2F1X01zblloX2s3dGdURmNacEVpci11elo0LXdMZAnJESWFsTkhockh0cnc2UlU3SDZA5MXJhcXRvcFRoRmlEczA4bUZApM1RCSUpJR09fRHpCdkhzTQZDZD","type":"string"},{"id":"a8686071-6aab-4138-81c7-d4488fb0003f","name":"id trang ig","value":"30317432701204175","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1120,0],"id":"84ce3d90-0424-4619-9f3c-ba3561c0044e","name":"Edit Fields1"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/{{ $('Edit Fields1').item.json['id trang ig'] }}/media","sendQuery":true,"queryParameters":{"parameters":[{"name":"image_url","value":"={{ $json.full_picture }}"},{"name":"caption","value":"={{ $('HTTP Request10').first().json.message }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields1').first().json['token ig'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[300,280],"id":"86bdb3f3-b150-4547-9403-ccb1d0bba123","name":"HTTP Request9"},{"parameters":{"url":"=https://graph.facebook.com/v23.0/{{ $json.id }}?fields=message,full_picture&access_token={{ $('Edit Fields1').first().json['token fb'] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[100,280],"id":"ce399268-3f1b-453c-b3ce-701c9fa3a110","name":"HTTP Request10"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9c78a55f-e24c-4658-91a3-38021ec323a5","leftValue":"={{ $json.attachments.data }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-420,0],"id":"36815e9b-fc46-4cf4-85c2-5178cc3e6758","name":"If"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/{{ $('Edit Fields1').item.json['id trang ig'] }}/media_publish","sendQuery":true,"queryParameters":{"parameters":[{"name":"creation_id","value":"={{ $('HTTP Request9').first().json['id'] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields1').first().json['token ig'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[520,280],"id":"842cb30b-8804-4b7d-82d3-214838791d39","name":"HTTP Request"},{"parameters":{"url":"=https://graph.facebook.com/v23.0/{{ $('Edit Fields1').first().json['id trang hato'] }}/posts?access_token={{ $('Edit Fields1').first().json['token fb'] }}&limit=1","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-860,0],"id":"408b862d-da33-4602-aeaf-16938f0266c3","name":"baivietdau"},{"parameters":{"url":"=https://graph.facebook.com/v23.0/{{ $json.data[0].id }}?fields=attachments{subattachments.limit(18)}&access_token={{ $('Edit Fields1').first().json['token fb'] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-640,0],"id":"4220a6e5-5823-4c10-8600-9d950cec4399","name":"dulieu"},{"parameters":{"fieldToSplitOut":"attachments.data[0].subattachments.data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-60,-160],"id":"43e63ea4-a882-44eb-910c-548414ee5871","name":"đăng từng ảnh"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/{{ $('Edit Fields1').item.json['id trang ig'] }}/media","sendQuery":true,"queryParameters":{"parameters":[{"name":"image_url","value":"={{ $json.media.image.src }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields1').first().json['token ig'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[260,-160],"id":"6a44bf91-5347-4b6e-8879-5b688bed7594","name":"đăng ảnh"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"id"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[520,-160],"id":"9a9a35a8-042d-4f85-b498-060b2970811a","name":"gộp ảnh"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/{{ $('Edit Fields1').item.json['id trang ig'] }}/media","sendQuery":true,"queryParameters":{"parameters":[{"name":"children","value":"={{ $json.id }}"},{"name":"caption","value":"={{ $('baivietdau').first().json.data[0].message }}"},{"name":"media_type","value":"CAROUSEL"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields1').item.json['token ig'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[780,-160],"id":"b46f4b7d-702e-4232-b61c-3c1b74638d81","name":"đăng bài"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/{{ $('Edit Fields1').item.json['id trang ig'] }}/media_publish","sendQuery":true,"queryParameters":{"parameters":[{"name":"creation_id","value":"={{ $json.id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields1').item.json['token ig'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1040,-180],"id":"543ea3fb-c64d-4a1f-be76-76a2e7927d1b","name":"công khai"},{"parameters":{"formTitle":"Bạn muốn đăng bài trên FB chứ","formFields":{"values":[{"fieldLabel":"Lựa chọn của tôi là:","fieldType":"dropdown","fieldOptions":{"values":[{"option":"ok đăng"},{"option":"Không đăng"}]}}]},"responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-1620,20],"id":"8d0bfeb0-fe50-4743-9af0-a47538469599","name":"On form submission","webhookId":"e5bb7ac6-8f9a-4f1a-a79d-ae1038efc33d"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a6c1784f-7adf-4f78-b787-6445ece3e034","leftValue":"={{ $json['Bạn muốn đăng bài trên FB chứ'] }}","rightValue":"ok đăng","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1400,20],"id":"35a4fead-3697-4f44-a803-334f7b301f70","name":"If1"}],"connections":{"Edit Fields1":{"main":[[{"node":"baivietdau","type":"main","index":0}]]},"HTTP Request9":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request10":{"main":[[{"node":"HTTP Request9","type":"main","index":0}]]},"If":{"main":[[{"node":"đăng từng ảnh","type":"main","index":0}],[{"node":"HTTP Request10","type":"main","index":0}]]},"baivietdau":{"main":[[{"node":"dulieu","type":"main","index":0}]]},"dulieu":{"main":[[{"node":"If","type":"main","index":0}]]},"đăng từng ảnh":{"main":[[{"node":"đăng ảnh","type":"main","index":0}]]},"đăng ảnh":{"main":[[{"node":"gộp ảnh","type":"main","index":0}]]},"gộp ảnh":{"main":[[{"node":"đăng bài","type":"main","index":0}]]},"đăng bài":{"main":[[{"node":"công khai","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"410b139c-58b8-4e53-84bd-4fd8ef6395c2","triggerCount":1,"tags":[]}