workflows/đăng bài ig Yatai.json
{"createdAt":"2025-07-01T06:49:44.527Z","updatedAt":"2025-07-01T07:25:06.000Z","id":"DhBXMrYXpTLXdnou","name":"đăng bài ig Yatai","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"1b28f862-acc1-4468-b668-4d0920eb9894","name":"token fb","value":"EAAKaN4fRmMYBO3yMpe52SCcItyHJtMhnlMHPqyPyG1z2cJ2e3smMBYYaGURDu084uWLjOumcp03fQEKE2pltqgG2h9nZC92TswwhZCYa7ZCVoh8x8MxYmHOmtxCe0bEtXoHuGDRez4CMZAX0D7Wda7ZAMhL2UQEC763bKWTirMoyUbvt010QaYwwbQZAnDnvZAVSuqVmNhU96BoJjlzZAtDpZBMah","type":"string"},{"id":"2b2a7cbb-541a-409e-93f3-693063c73bdf","name":"id trang yatai","value":"465325110007562","type":"string"},{"id":"bb769d32-e102-42bb-aba4-05b99bc7b6c4","name":"token ig","value":"IGAAUaunbjq3lBZAE1vby1FbmI5ZAmt4WGx4TTltV25UX2t6b0dZAVUNjTS1KVEZA6SWhxdUw2N1pXQkFUcmlOYmN3LXlIbkVQdUY1X1Q3em5jYi1Nck93N0Yzeko3MXFpb29JMmZACbU9rT2Qyb2ppUWZAZAT3dpQlFHQnJaTVl6TUFQZAwZDZD","type":"string"},{"id":"a8686071-6aab-4138-81c7-d4488fb0003f","name":"id trang ig","value":"30543644331915664","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-380,60],"id":"351d45f4-f4ee-40b6-91d6-648dfdef3206","name":"Edit Fields1"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/{{ $('Edit Fields1').item.json['id trang ig'] }}/media","sendQuery":true,"queryParameters":{"parameters":[{"name":"image_url","value":"={{ $json.full_picture }}"},{"name":"caption","value":"={{ $('HTTP Request10').first().json.message }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields1').first().json['token ig'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1800,380],"id":"917739f9-eb5c-4fd2-96bc-f4d866b57657","name":"HTTP Request9"},{"parameters":{"url":"=https://graph.facebook.com/v23.0/{{ $json.id }}?fields=message,full_picture&access_token={{ $('Edit Fields1').first().json['token fb'] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,380],"id":"1a664830-1b8e-4c8a-b4f3-e153e4196b2f","name":"HTTP Request10"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9c78a55f-e24c-4658-91a3-38021ec323a5","leftValue":"={{ $json.attachments.data }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1080,100],"id":"200cc8c8-ad09-4982-99c3-7154bdf26c9d","name":"If"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/{{ $('Edit Fields1').item.json['id trang ig'] }}/media_publish","sendQuery":true,"queryParameters":{"parameters":[{"name":"creation_id","value":"={{ $('HTTP Request9').first().json['id'] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields1').first().json['token ig'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2020,380],"id":"36352f43-6faa-4035-849b-abc5cef25976","name":"HTTP Request"},{"parameters":{"url":"=https://graph.facebook.com/v23.0/{{ $('Edit Fields1').first().json['id trang yatai'] }}/posts?access_token={{ $('Edit Fields1').first().json['token fb'] }}&limit=1","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-220,60],"id":"58611957-ad6c-4df4-b8cc-434fbdee240f","name":"baivietdau"},{"parameters":{"url":"=https://graph.facebook.com/v23.0/{{ $json['id đã đăng bài'] }}?fields=attachments{subattachments.limit(18)}&access_token={{ $('Edit Fields1').first().json['token fb'] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[860,100],"id":"ca8807d6-c0ce-45fa-988a-303b4a651128","name":"dulieu"},{"parameters":{"fieldToSplitOut":"attachments.data[0].subattachments.data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1440,-60],"id":"f5df24c2-547d-4af2-adcc-9b15a2ca39f9","name":"đăng từng ảnh"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/{{ $('Edit Fields1').item.json['id trang ig'] }}/media","sendQuery":true,"queryParameters":{"parameters":[{"name":"image_url","value":"={{ $json.media.image.src }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields1').first().json['token ig'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,-60],"id":"28a6fe29-77f3-4177-b8dd-0cd87f3ba5a1","name":"đăng ảnh"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"id"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2020,-60],"id":"96ca4aaa-1abe-4b74-a19d-54465a000642","name":"gộp ảnh"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/{{ $('Edit Fields1').item.json['id trang ig'] }}/media","sendQuery":true,"queryParameters":{"parameters":[{"name":"children","value":"={{ $json.id }}"},{"name":"caption","value":"={{ $('baivietdau').first().json.data[0].message }}"},{"name":"media_type","value":"CAROUSEL"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields1').item.json['token ig'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2280,-60],"id":"e3b9b936-ea9b-40a2-8664-3d113cf380f0","name":"đăng bài"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v23.0/{{ $('Edit Fields1').item.json['id trang ig'] }}/media_publish","sendQuery":true,"queryParameters":{"parameters":[{"name":"creation_id","value":"={{ $json.id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Edit Fields1').item.json['token ig'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2540,-80],"id":"d02c3bcc-6aed-476d-a203-22ebcd6e4668","name":"công khai"},{"parameters":{"formTitle":"Bạn muốn đăng bài trên FB chứ","formFields":{"values":[{"fieldLabel":"Lựa chọn của tôi là:","fieldType":"dropdown","fieldOptions":{"values":[{"option":"ok đăng"},{"option":"Không đăng"}]}}]},"responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-120,540],"id":"e7b6bbf5-12df-482f-9950-c056232667c4","name":"On form submission","webhookId":"e5bb7ac6-8f9a-4f1a-a79d-ae1038efc33d","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a6c1784f-7adf-4f78-b787-6445ece3e034","leftValue":"={{ $json['Bạn muốn đăng bài trên FB chứ'] }}","rightValue":"ok đăng","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[100,540],"id":"d587ffda-57aa-4f6b-92d9-cdb7515727bb","name":"If1","disabled":true},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[560,-280],"id":"7e9fb8a9-0e50-49c7-8fab-c451596f095f","name":"Split Out","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[820,-160],"id":"6e38b7a3-6cf0-4653-abed-c44c74c88fd8","name":"Loop Over Items","disabled":true},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1JlpGaxY_rABe3ZW4R2AwmUgxdEsT-Fi3TOqZheh7iqg","mode":"list","cachedResultName":"id đăng bài intagram miresto","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JlpGaxY_rABe3ZW4R2AwmUgxdEsT-Fi3TOqZheh7iqg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"yatai","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JlpGaxY_rABe3ZW4R2AwmUgxdEsT-Fi3TOqZheh7iqg/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"id đã đăng bài":"={{ $('baivietdau').item.json.data[0].id }}","nội dung":"={{ $('baivietdau').item.json.data[0].message }}"},"matchingColumns":[],"schema":[{"id":"id đã đăng bài","displayName":"id đã đăng bài","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nội dung","displayName":"nội dung","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[600,80],"id":"accf0c06-2719-482e-a8de-96daec801927","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"N1JuFYKbntB3uUVa","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9c78a55f-e24c-4658-91a3-38021ec323a5","leftValue":"={{ $json['id đã đăng bài'] }}","rightValue":"={{ $('baivietdau').item.json.data[0].id }}","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[340,60],"id":"024f9288-e0ad-4e90-b865-75fa42c8b4e5","name":"If2"},{"parameters":{"documentId":{"__rl":true,"value":"1JlpGaxY_rABe3ZW4R2AwmUgxdEsT-Fi3TOqZheh7iqg","mode":"list","cachedResultName":"id đăng bài intagram miresto","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JlpGaxY_rABe3ZW4R2AwmUgxdEsT-Fi3TOqZheh7iqg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"yatai","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JlpGaxY_rABe3ZW4R2AwmUgxdEsT-Fi3TOqZheh7iqg/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-60,60],"id":"6287bf95-4c66-4660-9514-2b03b83704bc","name":"lấy id đăng bài","credentials":{"googleSheetsOAuth2Api":{"id":"N1JuFYKbntB3uUVa","name":"Google Sheets account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"id đã đăng bài"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[120,60],"id":"3ae0fd62-cab8-4701-a430-70dca4b96897","name":"Aggregate"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-580,60],"id":"b3246d8e-65b2-44c6-a3a3-6e2cebfc8972","name":"Schedule Trigger"}],"connections":{"Edit Fields1":{"main":[[{"node":"baivietdau","type":"main","index":0}]]},"HTTP Request9":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request10":{"main":[[{"node":"HTTP Request9","type":"main","index":0}]]},"If":{"main":[[{"node":"đăng từng ảnh","type":"main","index":0}],[{"node":"HTTP Request10","type":"main","index":0}]]},"baivietdau":{"main":[[{"node":"lấy id đăng bài","type":"main","index":0}]]},"dulieu":{"main":[[{"node":"If","type":"main","index":0}]]},"đăng từng ảnh":{"main":[[{"node":"đăng ảnh","type":"main","index":0}]]},"đăng ảnh":{"main":[[{"node":"gộp ảnh","type":"main","index":0}]]},"gộp ảnh":{"main":[[{"node":"đăng bài","type":"main","index":0}]]},"đăng bài":{"main":[[{"node":"công khai","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[]]},"Split Out":{"main":[[]]},"Loop Over Items":{"main":[[],[]]},"Google Sheets":{"main":[[{"node":"dulieu","type":"main","index":0}]]},"lấy id đăng bài":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[],[{"node":"Google Sheets","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[0]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9e65919b-44ad-42ca-be1d-ff9d317c5de2","triggerCount":1,"tags":[]}